{
  "openapi": "3.0.3",
  "info": {
    "title": "Totalis RFQ API",
    "version": "2.1.0",
    "description": "Public REST surface for the Totalis parlay RFQ platform — a decentralized request-for-quote marketplace for parlay bets across Kalshi and Polymarket, with on-chain Solana vault settlement.\n\n**Wire format**: snake_case JSON. All successful responses are wrapped in `{ \"data\": ... }`; list endpoints add `meta` with cursor-based pagination. Errors use a `{ \"error\": { code, message, details? } }` envelope.\n\n**Authentication**: programmatic clients send `X-API-Key`; the web dashboard uses Privy JWTs (`Authorization: Bearer ...`). Any authenticated user can both place parlays and quote as a market maker — there is no separate MM role. Admin endpoints are out of scope for this public reference.\n\n**Rate limiting**: 100 req/min anonymous, 300 req/min authenticated. Responses include `X-RateLimit-*` headers. Request body limit: 256KB.\n\n**Pagination**: list endpoints use opaque cursor pagination. Pass `meta.cursor` from the previous response as `?cursor=...` to fetch the next page; do not parse or construct cursors client-side."
  },
  "servers": [
    { "url": "https://api.totalis.trade", "description": "Production" },
    { "url": "http://localhost:8080", "description": "Local development" }
  ],
  "security": [],
  "tags": [
    { "name": "RFQs", "description": "User-facing endpoints for creating and managing RFQs (Requests for Quote)." },
    { "name": "Market Maker", "description": "Market maker endpoints for quoting and confirming trades." },
    { "name": "Markets", "description": "Cached Kalshi and Polymarket market data." },
    { "name": "User", "description": "User profile, wallet, and devnet helpers." },
    { "name": "API Keys", "description": "Manage programmatic access keys for the authenticated user." }
  ],
  "paths": {
    "/rfqs": {
      "post": {
        "operationId": "createRfq",
        "summary": "Create RFQ",
        "description": "Create a new Request for Quote with 2-5 legs. Each leg references a market on a specific venue (`kalshi` or `polymarket`) and a side (`yes`/`no`). The system validates markets against the cached market list, checks for series-exclusion conflicts, and records the RFQ as `open` so market makers can quote against it.",
        "tags": ["RFQs"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateRfqRequest" },
              "example": {
                "legs": [
                  { "market_ticker": "KXBTC-25FEB07-T100000", "side": "yes", "venue": "kalshi" },
                  { "market_ticker": "0x4d2…", "side": "no", "venue": "polymarket" }
                ],
                "bet_amount": 25,
                "expires_in_seconds": 300
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "RFQ created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": { "data": { "$ref": "#/components/schemas/Rfq" } }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      },
      "get": {
        "operationId": "listRfqs",
        "summary": "List RFQs",
        "description": "List the authenticated user's RFQs, optionally filtered by status. The `status` query accepts a comma-separated list (e.g. `?status=open,quoted`). Pass `?include=quotes` to embed the quotes array on each row; otherwise `quotes` is `null`.",
        "tags": ["RFQs"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by RFQ status. Repeatable values are joined with commas (e.g. `?status=open,quoted,accepted`).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": { "$ref": "#/components/schemas/RfqStatus" }
            },
            "example": ["open", "quoted", "accepted"]
          },
          {
            "name": "include",
            "in": "query",
            "description": "Include the `quotes` array on each RFQ. Omit to return `quotes: null`.",
            "schema": { "type": "string", "enum": ["quotes"] }
          },
          { "$ref": "#/components/parameters/LimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of RFQs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "rfqs": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Rfq" }
                        }
                      }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/rfqs/{id}": {
      "get": {
        "operationId": "getRfq",
        "summary": "Get RFQ",
        "description": "Get an RFQ by id. The `quotes` array is always populated on this endpoint regardless of `?include=`.",
        "tags": ["RFQs"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "RFQ UUID",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "RFQ details with quotes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": { "data": { "$ref": "#/components/schemas/Rfq" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/rfqs/{id}/cancel": {
      "post": {
        "operationId": "cancelRfq",
        "summary": "Cancel RFQ",
        "description": "Cancel an open or quoted RFQ. Cannot cancel RFQs that are already accepted, confirmed, executed, settled, expired, or cancelled — those return `409 Conflict`. Returns `204 No Content` on success.",
        "tags": ["RFQs"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "RFQ UUID",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CancelRfqRequest" }
            }
          }
        },
        "responses": {
          "204": { "description": "RFQ cancelled" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "description": "Caller does not own this RFQ",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/rfqs/{id}/quotes": {
      "get": {
        "operationId": "listRfqQuotes",
        "summary": "List RFQ Quotes",
        "description": "List all quotes that have been submitted on an RFQ.",
        "tags": ["RFQs"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "RFQ UUID",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "List of quotes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "quotes": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/Quote" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/rfqs/{id}/quotes/{quoteId}/accept": {
      "post": {
        "operationId": "acceptQuote",
        "summary": "Accept Quote",
        "description": "Accept a pending quote on an RFQ. Rejects all other pending quotes on the same RFQ and surfaces the deadline by which the market maker must confirm. The exact confirmation window is server-controlled and returned as `confirmation_deadline`.",
        "tags": ["RFQs"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "RFQ UUID",
            "schema": { "type": "string", "format": "uuid" }
          },
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "description": "Quote UUID",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote accepted",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/AcceptQuoteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": {
            "description": "Caller does not own the RFQ",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } }
          },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/mm/rfqs": {
      "get": {
        "operationId": "listOpenRfqs",
        "summary": "List Open RFQs",
        "description": "List open RFQs available for quoting. Filter by event ticker and bet amount range. Cursor-based pagination.",
        "tags": ["Market Maker"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "event_ticker",
            "in": "query",
            "description": "Filter by event ticker (matches any leg).",
            "schema": { "type": "string" }
          },
          {
            "name": "min_bet",
            "in": "query",
            "description": "Minimum bet amount filter (USDC).",
            "schema": { "type": "number" }
          },
          {
            "name": "max_bet",
            "in": "query",
            "description": "Maximum bet amount filter (USDC).",
            "schema": { "type": "number" }
          },
          { "$ref": "#/components/parameters/MmLimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of open RFQs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "rfqs": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/MmRfq" }
                        }
                      }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/mm/quotes": {
      "post": {
        "operationId": "submitQuote",
        "summary": "Submit Quote",
        "description": "Submit a quote on an open RFQ. `payout_odds` is the multiplier applied to the bettor's `bet_amount` to compute the total payout if the parlay wins; the MM's max risk is `bet_amount * (payout_odds - 1)`. `leg_prices` is an optional per-leg price snapshot — leg odds are in cents (0–100). `Idempotency-Key` is honored for safe retries.",
        "tags": ["Market Maker"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [{ "$ref": "#/components/parameters/IdempotencyKey" }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/SubmitQuoteRequest" },
              "example": {
                "rfq_id": "550e8400-e29b-41d4-a716-446655440000",
                "payout_odds": 4.0,
                "valid_for_seconds": 60,
                "leg_prices": [
                  { "leg_id": "9c0c8b1e-1c2c-4a8a-9c2d-1c2c4a8a9c2d", "odds": 50 },
                  { "leg_id": "5a0c8b1e-1c2c-4a8a-9c2d-1c2c4a8a9c2d", "odds": 50 }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Quote submitted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": { "data": { "$ref": "#/components/schemas/QuoteMmView" } }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      },
      "get": {
        "operationId": "listMmQuotes",
        "summary": "List MM Quotes",
        "description": "List the authenticated market maker's quotes, optionally filtered by status or `rfq_id`. Cursor-based pagination.",
        "tags": ["Market Maker"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by quote status.",
            "schema": { "$ref": "#/components/schemas/QuoteStatus" }
          },
          {
            "name": "rfq_id",
            "in": "query",
            "description": "Filter by RFQ id.",
            "schema": { "type": "string", "format": "uuid" }
          },
          { "$ref": "#/components/parameters/MmLimitParam" },
          { "$ref": "#/components/parameters/CursorParam" }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of quotes",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "quotes": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/QuoteMmView" }
                        }
                      }
                    },
                    "meta": { "$ref": "#/components/schemas/PaginationMeta" }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/mm/quotes/{quoteId}/confirm": {
      "post": {
        "operationId": "confirmQuote",
        "summary": "Confirm Quote",
        "description": "Confirm an accepted quote. A `vault_positions` row is created in `pending` state and the vault job service then creates the on-chain position atomically — a single transaction that locks the user's stake and the MM's collateral in their persistent vaults.",
        "tags": ["Market Maker"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "quoteId",
            "in": "path",
            "required": true,
            "description": "Quote UUID",
            "schema": { "type": "string", "format": "uuid" }
          }
        ],
        "responses": {
          "200": {
            "description": "Quote confirmed, vault position creation queued",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ConfirmQuoteResponse" }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/markets": {
      "get": {
        "operationId": "listMarkets",
        "summary": "List Markets",
        "description": "List active markets grouped by event across supported venues (Kalshi and Polymarket). Filters: `category`, `venue`, `subcategory` (validated against the selected category), `frequency` (`daily`/`weekly`/`monthly`/`hourly`), `date_filter` (time bucket), and `search`. Pagination is cursor-based at the event level. The response includes `available_subcategories` and `available_frequencies` so clients can drive filter chips from the same result set.",
        "tags": ["Markets"],
        "security": [],
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category. Pass `all` to disable the default category filter.",
            "schema": {
              "type": "string",
              "enum": ["politics", "sports", "crypto", "finance", "economics", "entertainment", "weather", "tech", "all"]
            }
          },
          {
            "name": "venue",
            "in": "query",
            "description": "Filter by venue. Omit to include all venues.",
            "schema": { "$ref": "#/components/schemas/Venue" }
          },
          {
            "name": "subcategory",
            "in": "query",
            "description": "Filter events by subcategory. Valid values depend on the selected `category` (requires `category` to also be set).",
            "schema": { "$ref": "#/components/schemas/SubcategorySlug" }
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "Filter events by the cadence of the underlying series. `other` is intentionally rejected — it's a residual response bucket, not a filter target.",
            "schema": { "type": "string", "enum": ["daily", "weekly", "monthly", "hourly"] }
          },
          {
            "name": "date_filter",
            "in": "query",
            "description": "Time bucket filter. If omitted, a default 7-day horizon is applied. Pass `all` to retrieve all active markets regardless of close date.",
            "schema": { "type": "string", "enum": ["1h", "1h-1d", "1d-7d", "today", "this_week", "this_month", "all"] }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Full-text search across event/market titles.",
            "schema": { "type": "string" }
          },
          { "$ref": "#/components/parameters/CursorParam" },
          {
            "name": "limit",
            "in": "query",
            "description": "Events per page. Default 21, max 100. The product `limit × markets_per_event` must not exceed 2000.",
            "schema": { "type": "integer", "default": 21, "minimum": 1, "maximum": 100 }
          },
          {
            "name": "markets_per_event",
            "in": "query",
            "description": "Max markets returned per event group. Default 10, max 50.",
            "schema": { "type": "integer", "default": 10, "minimum": 1, "maximum": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "Events grouped by event_ticker, plus subcategory/frequency facets for the current result set",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "events": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/MarketEvent" }
                        }
                      }
                    },
                    "meta": {
                      "allOf": [
                        { "$ref": "#/components/schemas/PaginationMeta" },
                        {
                          "type": "object",
                          "properties": {
                            "total_events": { "type": "integer" },
                            "available_subcategories": {
                              "type": "array",
                              "items": { "$ref": "#/components/schemas/SubcategorySlug" }
                            },
                            "available_frequencies": {
                              "type": "array",
                              "items": { "type": "string", "enum": ["daily", "weekly", "monthly", "hourly"] }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "500": { "$ref": "#/components/responses/InternalError" }
        }
      }
    },
    "/markets/exclusion-groups": {
      "get": {
        "operationId": "getExclusionGroups",
        "summary": "Get Exclusion Groups",
        "description": "Returns the configured leg-conflict rules. Each group is a set of tickers that cannot co-exist as legs in the same parlay (e.g. correlated outcomes on the same underlying asset). Each entry carries a `scope` (`event` or `series`). No authentication required.",
        "tags": ["Markets"],
        "security": [],
        "responses": {
          "200": {
            "description": "Exclusion groups configuration",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "exclusion_groups": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/ExclusionGroup" }
                        },
                        "conflict_mode": { "type": "string" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/me": {
      "get": {
        "operationId": "getOrCreateUser",
        "summary": "Get Profile",
        "description": "Get the authenticated user's profile. Auto-creates a user record on first call. Pass `?ref=<invite-code>` on first login to auto-redeem an invite code; when redemption succeeds the response includes `auto_redeemed: true` and, where configured, an `airdrop` outcome.",
        "tags": ["User"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "description": "Referral / invite code to auto-redeem on first login.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "User profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": { "data": { "$ref": "#/components/schemas/User" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/user/username": {
      "put": {
        "operationId": "updateUsername",
        "summary": "Update Username",
        "description": "Change the authenticated user's display name. Must be 3–20 characters, alphanumeric and underscores only.",
        "tags": ["User"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["username"],
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 20,
                    "pattern": "^[a-zA-Z0-9_]+$",
                    "description": "New username (3–20 chars, alphanumeric + underscores)."
                  }
                }
              },
              "example": { "username": "trader_123" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Username updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": { "username": { "type": "string" } }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "409": { "$ref": "#/components/responses/Conflict" }
        }
      }
    },
    "/user/username/check": {
      "get": {
        "operationId": "checkUsername",
        "summary": "Check Username",
        "description": "Check whether a username is available. Must match 3–20 chars, alphanumeric + underscores.",
        "tags": ["User"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "description": "Candidate username.",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Availability result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": { "available": { "type": "boolean" } }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/user/api-keys": {
      "post": {
        "operationId": "createApiKey",
        "summary": "Create API Key",
        "description": "Create a new API key for the authenticated user. The full secret is returned **once** in `data.key` — save it immediately. Subsequent listings only show the prefix. Requires Privy JWT auth (web dashboard); cannot be called with an existing API key.",
        "tags": ["API Keys"],
        "security": [{ "PrivyJWT": [] }],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "description": "Optional display name for the key." }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created (full key visible once)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": { "data": { "$ref": "#/components/schemas/ApiKeyFull" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "get": {
        "operationId": "listApiKeys",
        "summary": "List API Keys",
        "description": "List the authenticated user's API keys. Only metadata and prefixes are returned — the original secret is never re-exposed.",
        "tags": ["API Keys"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "keys": {
                          "type": "array",
                          "items": { "$ref": "#/components/schemas/ApiKeySummary" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/user/api-keys/{prefix}": {
      "delete": {
        "operationId": "revokeApiKey",
        "summary": "Revoke API Key",
        "description": "Revoke one of the authenticated user's API keys by prefix. Takes effect immediately on all subsequent requests. Returns `204 No Content`.",
        "tags": ["API Keys"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "required": true,
            "description": "Key prefix returned by `listApiKeys` / `createApiKey` (`key_prefix`).",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "204": { "description": "API key revoked" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/user/wallet": {
      "get": {
        "operationId": "getWallet",
        "summary": "Get Wallet",
        "description": "Get the authenticated user's embedded Solana wallet address and on-chain balances, plus a few derived fields used by the dashboard (`locked_amount` aggregates every USDC the caller has committed across active RFQs and vault positions; `airdrop_remaining` reflects the per-user lifetime devnet airdrop cap).",
        "tags": ["User"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "responses": {
          "200": {
            "description": "Wallet snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": { "data": { "$ref": "#/components/schemas/Wallet" } }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/user/wallet/airdrop": {
      "post": {
        "operationId": "airdropSol",
        "summary": "Airdrop SOL",
        "description": "Airdrop devnet SOL to the user's embedded wallet for testing. Devnet-only — the handler returns `404` in production. Amount must be a positive number up to 2 SOL; defaults to 1.",
        "tags": ["User"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "minimum": 0,
                    "exclusiveMinimum": true,
                    "maximum": 2,
                    "default": 1,
                    "description": "SOL amount (0 < amount ≤ 2). Defaults to 1."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Airdrop completed",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["address", "tx_signature", "amount"],
                      "properties": {
                        "address": { "type": "string", "description": "Recipient wallet address (base58)." },
                        "tx_signature": { "type": "string", "description": "Solana transaction signature." },
                        "amount": { "type": "number", "description": "SOL amount airdropped." }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": {
            "description": "Not found in production (devnet-only endpoint).",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } }
          }
        }
      }
    },
    "/user/wallet/blockhash": {
      "get": {
        "operationId": "getBlockhash",
        "summary": "Get Blockhash",
        "description": "Latest Solana blockhash for client-side transaction construction. Useful for browser clients that do not have direct RPC access.",
        "tags": ["User"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "responses": {
          "200": {
            "description": "Latest blockhash",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["blockhash", "last_valid_block_height"],
                      "properties": {
                        "blockhash": { "type": "string" },
                        "last_valid_block_height": { "type": "integer" }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/user/wallet/submit-tx": {
      "post": {
        "operationId": "submitTransaction",
        "summary": "Submit Transaction",
        "description": "Submit a client-signed serialized Solana transaction. Used for wallet delegation and other user-signed flows from browser clients without direct RPC access. Rate-limited to 10 requests/minute.",
        "tags": ["User"],
        "security": [{ "PrivyJWT": [] }, { "ApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["transaction"],
                "properties": {
                  "transaction": {
                    "type": "string",
                    "description": "Base64-encoded serialized Solana transaction."
                  }
                }
              },
              "example": { "transaction": "AQAAAA..." }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transaction broadcast",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": ["signature"],
                      "properties": {
                        "signature": { "type": "string", "description": "Solana transaction signature." }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "429": { "$ref": "#/components/responses/RateLimited" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "PrivyJWT": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Privy JWT issued to the web dashboard. Sent as `Authorization: Bearer <jwt>`. The Privy session signer underpins all wallet-signed actions."
      },
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Programmatic API key. Sent as `X-API-Key: <key>`. Generate one from the Totalis dashboard. The same header is accepted on the WebSocket auth message."
      }
    },
    "parameters": {
      "CursorParam": {
        "name": "cursor",
        "in": "query",
        "description": "Opaque pagination cursor from a previous response's `meta.cursor`. Do not construct manually.",
        "schema": { "type": "string" }
      },
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "description": "Page size.",
        "schema": { "type": "integer", "default": 20, "minimum": 1, "maximum": 100 }
      },
      "MmLimitParam": {
        "name": "limit",
        "in": "query",
        "description": "Page size (MM endpoints default to 50, max 200).",
        "schema": { "type": "integer", "default": 50, "minimum": 1, "maximum": 200 }
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "description": "Client-generated UUID. Cached 2xx responses are replayed within a 24h TTL when the same key + body is presented.",
        "schema": { "type": "string", "format": "uuid" }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Validation error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } }
      },
      "Unauthorized": {
        "description": "Missing or invalid authentication",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" },
            "example": { "error": { "code": "UNAUTHORIZED", "message": "Missing or invalid authentication" } }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": { "$ref": "#/components/schemas/ErrorEnvelope" },
            "example": { "error": { "code": "NOT_FOUND", "message": "Resource not found" } }
          }
        }
      },
      "Conflict": {
        "description": "Resource conflict (duplicate, already taken, invalid status transition, etc.)",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorEnvelope" } } }
      }
    },
    "schemas": {
      "ErrorEnvelope": {
        "type": "object",
        "required": ["error"],
        "properties": { "error": { "$ref": "#/components/schemas/ErrorBody" } }
      },
      "ErrorBody": {
        "type": "object",
        "required": ["code", "message"],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "VALIDATION_ERROR",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "CONFLICT",
              "RATE_LIMITED",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_ERROR",
              "SERVICE_UNAVAILABLE"
            ],
            "description": "Machine-readable error code."
          },
          "message": { "type": "string", "description": "Human-readable error message." },
          "details": { "type": "object", "description": "Additional error context." },
          "retry_after": {
            "type": "integer",
            "nullable": true,
            "description": "Seconds until retry; set on 429 responses."
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "cursor": { "type": "string", "nullable": true, "description": "Opaque cursor for the next page; null on the final page." },
          "has_more": { "type": "boolean" }
        }
      },
      "Venue": {
        "type": "string",
        "enum": ["kalshi", "polymarket"],
        "description": "Source venue for a market."
      },
      "Side": {
        "type": "string",
        "enum": ["yes", "no"],
        "description": "Bet side."
      },
      "LegOutcome": {
        "type": "string",
        "enum": ["win", "loss", "push", "pending"]
      },
      "RfqStatus": {
        "type": "string",
        "enum": ["open", "quoted", "accepted", "confirmed", "executed", "cancelled", "expired", "settled"],
        "description": "Lifecycle status of an RFQ."
      },
      "QuoteStatus": {
        "type": "string",
        "enum": ["pending", "accepted", "confirmed", "executed", "rejected", "expired", "withdrawn"],
        "description": "Lifecycle status of a quote."
      },
      "PositionStatus": {
        "type": "string",
        "description": "Vault position lifecycle. `pending`/`processing` are intermediate states before on-chain creation; `settling`/`cancelling` are intermediate states for settlement/cancellation; `settled_win`/`settled_loss`/`cancelled` are terminal; the `*_mm_release` and `expired` states cover the permissionless-expiry path; `error` means retries are exhausted and manual intervention is required.",
        "enum": [
          "pending",
          "processing",
          "active",
          "settling",
          "cancelling",
          "settled_win",
          "settled_loss",
          "cancelled",
          "reconciling_mm_release",
          "expired_pending_mm_release",
          "expired",
          "error"
        ]
      },
      "SubcategorySlug": {
        "type": "string",
        "description": "Subcategory wire format (lowercase snake_case). Valid values depend on the selected `category` and are enforced server-side.",
        "enum": [
          "nba", "ncaa", "nfl", "nhl", "mlb", "ufc", "lol", "epl", "efl", "la_liga",
          "world_cup", "bundesliga", "liga_portugal", "ligue_1", "f1", "ipl",
          "btc", "eth", "sol",
          "stocks", "indices", "etfs", "earnings",
          "rates", "inflation", "commodities", "fx", "jobs",
          "ai", "companies",
          "other"
        ]
      },
      "Market": {
        "type": "object",
        "properties": {
          "ticker": { "type": "string" },
          "event_ticker": { "type": "string" },
          "series_ticker": { "type": "string" },
          "title": { "type": "string" },
          "subtitle": { "type": "string", "nullable": true },
          "yes_sub_title": { "type": "string", "nullable": true },
          "no_sub_title": { "type": "string", "nullable": true },
          "bet_group": {
            "type": "string",
            "nullable": true,
            "description": "Polymarket-only: section label for the row (e.g. \"Match O/U 21.5\"). Always null on Kalshi rows."
          },
          "category": { "type": "string" },
          "subcategory": { "type": "string", "nullable": true },
          "frequency": {
            "type": "string",
            "nullable": true,
            "description": "Cadence of the underlying series: daily/weekly/monthly/hourly/other. Null for categories without timeframe pills."
          },
          "venue": { "$ref": "#/components/schemas/Venue" },
          "status": { "type": "string" },
          "yes_bid": { "type": "number" },
          "yes_ask": { "type": "number" },
          "no_bid": { "type": "number" },
          "no_ask": { "type": "number" },
          "last_price": { "type": "number" },
          "price_to_beat": {
            "type": "number",
            "nullable": true,
            "description": "Reference price for Polymarket up/down markets. Null on Kalshi and on non-up/down Polymarket markets."
          },
          "volume": { "type": "integer" },
          "volume_24h": { "type": "integer" },
          "open_interest": { "type": "integer" },
          "venue_url": { "type": "string", "nullable": true, "description": "Canonical market URL on its source venue." },
          "open_time": { "type": "string", "format": "date-time" },
          "close_time": { "type": "string", "format": "date-time" },
          "expiration_time": { "type": "string", "format": "date-time" }
        }
      },
      "MarketEvent": {
        "type": "object",
        "required": ["event_ticker", "series_ticker", "category", "total_markets", "markets"],
        "properties": {
          "event_ticker": { "type": "string" },
          "series_ticker": { "type": "string" },
          "series_title": { "type": "string", "nullable": true },
          "event_title": { "type": "string", "nullable": true },
          "event_sub_title": { "type": "string", "nullable": true },
          "category": { "type": "string" },
          "image_url": { "type": "string", "nullable": true },
          "total_markets": { "type": "integer" },
          "markets": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Market" }
          }
        }
      },
      "ExclusionGroup": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "scope": { "type": "string", "enum": ["event", "series"] },
          "tickers": {
            "type": "array",
            "items": { "type": "string" }
          },
          "description": { "type": "string" }
        }
      },
      "Leg": {
        "type": "object",
        "required": ["leg_index", "market_ticker", "event_ticker", "side", "venue", "market_title"],
        "properties": {
          "leg_index": { "type": "integer", "description": "Zero-based ordering of the leg within the RFQ." },
          "market_ticker": { "type": "string" },
          "event_ticker": { "type": "string" },
          "side": { "$ref": "#/components/schemas/Side" },
          "venue": { "$ref": "#/components/schemas/Venue" },
          "market_title": { "type": "string" },
          "event_title": { "type": "string" },
          "yes_sub_title": { "type": "string", "nullable": true, "description": "Snapshot of the market's yes-side subtitle at RFQ creation." },
          "no_sub_title": { "type": "string", "nullable": true, "description": "Snapshot of the market's no-side subtitle at RFQ creation." },
          "venue_url": { "type": "string", "nullable": true, "description": "Canonical URL of the leg's market on its venue." },
          "image_url": { "type": "string", "nullable": true, "description": "Image URL for the leg's market." },
          "expected_expiration_time": { "type": "string", "format": "date-time", "nullable": true, "description": "Expected market resolution time for the leg." },
          "current_yes_price": { "type": "number", "description": "Yes ask price at RFQ creation, cents (0-100)." },
          "current_no_price": { "type": "number", "description": "No ask price at RFQ creation, cents (0-100)." },
          "outcome": { "$ref": "#/components/schemas/LegOutcome" }
        }
      },
      "Rfq": {
        "type": "object",
        "required": [
          "id",
          "user_id",
          "status",
          "legs",
          "bet_amount",
          "implied_probability",
          "created_at",
          "updated_at",
          "expires_at"
        ],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "user_id": { "type": "string", "description": "Privy DID of the bettor." },
          "status": { "$ref": "#/components/schemas/RfqStatus" },
          "bet_amount": { "type": "number", "description": "USDC. Capped at 100 USDC per RFQ." },
          "implied_probability": { "type": "number", "description": "Combined implied probability of all legs (0-1)." },
          "legs": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/Leg" }
          },
          "quotes": {
            "type": "array",
            "nullable": true,
            "items": { "$ref": "#/components/schemas/Quote" },
            "description": "`null` when not requested (listRfqs without `?include=quotes`). `[]` means requested but no quotes yet."
          },
          "accepted_quote_id": { "type": "string", "format": "uuid", "nullable": true, "description": "Set once status >= accepted." },
          "market_maker_id": { "type": "string", "nullable": true, "description": "Set once status >= accepted." },
          "position_pda": { "type": "string", "nullable": true, "description": "On-chain position address. Set once status >= confirmed." },
          "position_status": {
            "nullable": true,
            "description": "Position status from the vault positions table.",
            "allOf": [{ "$ref": "#/components/schemas/PositionStatus" }]
          },
          "position_error": { "type": "string", "nullable": true, "description": "Last error recorded on the vault position; populated when `position_status === 'error'`." },
          "cancellation_reason": { "type": "string", "nullable": true },
          "is_failed": { "type": "boolean", "description": "True when the vault position errored on-chain. Derived from `position_status === 'error'`. Omitted on non-failed parlays." },
          "fee_amount": { "type": "number", "nullable": true, "description": "Set on settled RFQs only." },
          "settlement": {
            "nullable": true,
            "description": "Set on settled RFQs only.",
            "allOf": [{ "$ref": "#/components/schemas/Settlement" }]
          },
          "settled_at": { "type": "string", "format": "date-time", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" },
          "expires_at": { "type": "string", "format": "date-time" }
        }
      },
      "MmRfqLeg": {
        "type": "object",
        "description": "Subset of a leg surfaced to market makers — drops display-only fields, keeps the price snapshot needed for quoting.",
        "required": ["leg_index", "market_ticker", "event_ticker", "side", "venue", "market_title", "current_yes_price", "current_no_price"],
        "properties": {
          "leg_index": { "type": "integer" },
          "market_ticker": { "type": "string" },
          "event_ticker": { "type": "string" },
          "side": { "$ref": "#/components/schemas/Side" },
          "venue": { "$ref": "#/components/schemas/Venue" },
          "market_title": { "type": "string" },
          "current_yes_price": { "type": "number", "description": "Yes price at RFQ creation, cents (0-100)." },
          "current_no_price": { "type": "number", "description": "No price at RFQ creation, cents (0-100)." }
        }
      },
      "MmRfq": {
        "type": "object",
        "description": "Open RFQ visible to market makers.",
        "required": ["id", "user_id", "status", "bet_amount", "implied_probability", "expires_at", "created_at", "legs"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "user_id": { "type": "string", "description": "Privy DID of the bettor (intentionally surfaced to MMs)." },
          "status": { "type": "string", "enum": ["open"], "description": "MMs only see RFQs available for quoting." },
          "bet_amount": { "type": "number" },
          "implied_probability": { "type": "number", "description": "Decimal probability (0-1)." },
          "expires_at": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" },
          "legs": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MmRfqLeg" }
          }
        }
      },
      "Quote": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "rfq_id": { "type": "string", "format": "uuid" },
          "payout_odds": { "type": "number", "minimum": 1.01, "maximum": 1000, "description": "Multiplier on `bet_amount` that produces the total payout if the parlay wins." },
          "user_cost": { "type": "number", "description": "Bettor's cost (same as RFQ `bet_amount`)." },
          "mm_cost": { "type": "number", "description": "Market maker's max risk = `total_payout - user_cost`." },
          "total_payout": { "type": "number", "description": "Total payout on a win = `user_cost + mm_cost`." },
          "leg_prices": {
            "type": "array",
            "description": "Per-leg price snapshot captured at submit time. `leg_odds` is in cents (0–100).\n\n**Field-name asymmetry**: the value is sent as `odds` on `SubmitQuoteRequest.leg_prices[]` and returned as `leg_odds` here. Clients that round-trip a quote must rename the field on read.",
            "items": {
              "type": "object",
              "required": ["leg_id", "leg_odds"],
              "properties": {
                "leg_id": { "type": "string", "format": "uuid" },
                "leg_odds": { "type": "number", "description": "Implied per-leg price in cents (0–100). Same value as `SubmitQuoteRequest.leg_prices[].odds`." }
              }
            }
          },
          "status": { "$ref": "#/components/schemas/QuoteStatus" },
          "valid_until": { "type": "string", "format": "date-time" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "QuoteMmView": {
        "description": "Quote with MM-only fields surfaced on MM endpoints.",
        "allOf": [
          { "$ref": "#/components/schemas/Quote" },
          {
            "type": "object",
            "properties": {
              "market_maker_id": { "type": "string" },
              "mm_wallet_address": { "type": "string" }
            }
          }
        ]
      },
      "CreateRfqRequest": {
        "type": "object",
        "required": ["legs", "bet_amount"],
        "properties": {
          "legs": {
            "type": "array",
            "minItems": 2,
            "maxItems": 5,
            "description": "Parlay legs (2-5 required). Each leg references a market by ticker on a specific venue.",
            "items": {
              "type": "object",
              "required": ["market_ticker", "side", "venue"],
              "properties": {
                "market_ticker": { "type": "string", "description": "Ticker of the underlying market on its venue." },
                "side": { "$ref": "#/components/schemas/Side" },
                "venue": { "$ref": "#/components/schemas/Venue" }
              }
            }
          },
          "bet_amount": {
            "type": "number",
            "minimum": 1,
            "maximum": 100,
            "description": "USDC. Max 100. Must be a positive finite number."
          },
          "expires_in_seconds": {
            "type": "integer",
            "minimum": 30,
            "maximum": 86400,
            "default": 300,
            "description": "RFQ lifetime in seconds. Floor 30s, cap 24h. Defaults to 300."
          }
        }
      },
      "CancelRfqRequest": {
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "maxLength": 500,
            "description": "Optional cancellation reason. Defaults to \"User cancelled\". Truncated to 500 chars."
          }
        }
      },
      "SubmitQuoteRequest": {
        "type": "object",
        "required": ["rfq_id", "payout_odds"],
        "properties": {
          "rfq_id": { "type": "string", "format": "uuid", "description": "RFQ to quote." },
          "payout_odds": {
            "type": "number",
            "minimum": 1.01,
            "maximum": 1000,
            "description": "Multiplier (1.01x – 1000x). Must be a finite number."
          },
          "valid_for_seconds": {
            "type": "integer",
            "minimum": 10,
            "maximum": 3600,
            "default": 60,
            "description": "Quote validity window. 10s – 1h. Defaults to 60s."
          },
          "leg_prices": {
            "type": "array",
            "description": "Optional per-leg price snapshot the market maker captured at submit time. Each entry is `{ leg_id, odds }` where `odds` is in cents (0–100).\n\n**Field-name asymmetry — read carefully.** The request uses `odds`; the same value is surfaced on the response (`Quote.leg_prices[].leg_odds`) under the key **`leg_odds`**. This is intentional today and reflects the underlying `rfq.quote_leg_prices.implied_price` column; clients that round-trip a quote must rename the field on read. Tracked for unification in a future backend release.",
            "items": {
              "type": "object",
              "required": ["leg_id", "odds"],
              "properties": {
                "leg_id": { "type": "string", "format": "uuid" },
                "odds": { "type": "number", "minimum": 0, "maximum": 100, "description": "Implied per-leg price in cents (0–100)." }
              }
            }
          }
        }
      },
      "AcceptQuoteResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "status": { "type": "string", "example": "accepted" },
              "quote_id": { "type": "string", "format": "uuid" },
              "confirmation_deadline": {
                "type": "string",
                "format": "date-time",
                "description": "Deadline by which the market maker must call `POST /mm/quotes/{quoteId}/confirm`. If the MM misses this deadline, the RFQ expiry sweep transitions both rows based on the RFQ's own `expires_at`:\n\n- **RFQ still within `expires_at`** — RFQ reverts to `open` (with `accepted_quote_id` and `market_maker_id` cleared so other MMs can quote again) and the accepted quote becomes `withdrawn`.\n- **RFQ past `expires_at`** — RFQ becomes `expired` and the accepted quote becomes `expired`.\n\nThe accepted quote never transitions to `rejected` via the deadline path. `rejected` is reserved for sibling pending quotes auto-rejected when the user accepts a different quote, and for explicit user rejection via `POST /rfqs/{id}/quotes/{quoteId}/reject`."
              }
            }
          }
        }
      },
      "ConfirmQuoteResponse": {
        "type": "object",
        "required": ["data"],
        "properties": {
          "data": {
            "type": "object",
            "properties": {
              "status": { "type": "string", "example": "confirmed" },
              "quote_id": { "type": "string", "format": "uuid" },
              "execution_id": { "type": "string", "format": "uuid", "description": "Identifier for the queued vault-position-creation job." }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Privy DID — internal identifier, not exposed on public endpoints." },
          "username": { "type": "string", "description": "Display name. Auto-set to the wallet address on first login; can be updated via `PUT /user/username` to a 3-20 char alphanumeric." },
          "email": { "type": "string", "nullable": true },
          "wallet_address": { "type": "string", "nullable": true },
          "approved": { "type": "boolean", "description": "True once the user has redeemed a valid invite code or has been admin-approved." },
          "waitlisted": { "type": "boolean", "description": "True when `approved=false` and the user is on the waitlist; false otherwise. Always present." },
          "auto_redeemed": { "type": "boolean", "description": "Only present when the `?ref` param successfully redeemed an invite code in this exact request." },
          "airdrop": {
            "nullable": true,
            "description": "Welcome-airdrop outcome from the auto-redeem path. Present alongside `auto_redeemed: true`. `null` when the invite has no airdrop configured or the user was already credited.",
            "allOf": [{ "$ref": "#/components/schemas/AirdropOutcome" }]
          },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "AirdropOutcome": {
        "type": "object",
        "description": "Welcome airdrop outcome. `success: true` with `pending: true` means the amount was staged and will mint on the user's next `POST /user/wallet/enable-trading` call. `success: false` means staging failed.",
        "required": ["success", "amount", "pending"],
        "properties": {
          "success": { "type": "boolean" },
          "amount": { "type": "number", "description": "USDC (whole dollars)." },
          "pending": { "type": "boolean" }
        }
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "address": { "type": "string", "nullable": true, "description": "Solana wallet address (base58). Null if no wallet is linked yet." },
          "sol_balance": { "type": "number" },
          "usdc_balance": { "type": "number" },
          "locked_amount": {
            "type": "number",
            "description": "Every USDC the caller has committed across roles: in-flight RFQs, bettor-side vault position stakes, and maker-side `locked_collateral`. Use this single field rather than re-summing on the client."
          },
          "total_usdc_airdropped": { "type": "number", "description": "Lifetime USDC received via welcome airdrops." },
          "airdrop_remaining": { "type": "number", "description": "USDC remaining before hitting the per-user lifetime airdrop cap (currently 10 USDC)." },
          "welcome_airdrop_pending_amount": {
            "type": "number",
            "nullable": true,
            "description": "Deferred welcome airdrop staged at approval but not yet minted. Cleared atomically by `POST /user/wallet/enable-trading`."
          },
          "has_traded": {
            "type": "boolean",
            "description": "True once any of the caller's parlays has reached `executed` or `settled`. Drives the Withdraw button gate; `POST /user/wallet/withdraw` returns 409 when false."
          }
        }
      },
      "ApiKeyFull": {
        "type": "object",
        "description": "Returned only on creation; the full `key` is visible exactly once.",
        "properties": {
          "key": { "type": "string", "description": "Full API key (only shown once)." },
          "key_prefix": { "type": "string" },
          "name": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "expires_at": { "type": "string", "format": "date-time" }
        }
      },
      "ApiKeySummary": {
        "type": "object",
        "properties": {
          "key_prefix": { "type": "string" },
          "name": { "type": "string" },
          "status": { "type": "string", "enum": ["active", "revoked", "expired"] },
          "created_at": { "type": "string", "format": "date-time" },
          "expires_at": { "type": "string", "format": "date-time" },
          "last_used_at": { "type": "string", "format": "date-time", "nullable": true },
          "request_count": { "type": "integer" }
        }
      },
      "Settlement": {
        "type": "object",
        "required": ["id", "rfq_id", "winner", "payout", "user_stake", "mm_risk", "fee_amount", "settle_tx", "settled_at"],
        "properties": {
          "id": { "type": "string", "format": "uuid" },
          "rfq_id": { "type": "string", "format": "uuid" },
          "winner": { "type": "string", "enum": ["user", "mm"] },
          "payout": {
            "type": "number",
            "description": "Full pot transferred to the winner — equals `user_stake + mm_risk` (i.e. `bet_amount * payout_odds`). For MM loss-side PnL, use `-(payout - user_stake) = -mm_risk`."
          },
          "user_stake": { "type": "number" },
          "mm_risk": { "type": "number" },
          "fee_amount": { "type": "number", "description": "Protocol fee deducted from the winner's payout." },
          "settle_tx": { "type": "string" },
          "settled_at": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
