{
  "openapi": "3.0.3",
  "info": {
    "title": "Totalis RFQ API",
    "version": "2.1.0",
    "description": "Public REST surface for the Totalis parlay RFQ platform — a decentralized request-for-quote marketplace for parlay bets across Kalshi and Polymarket, with on-chain Solana vault settlement. **Wire format**: snake_case JSON. All successful responses are wrapped in `{ \"data\": ... }`; list endpoints add `meta` with cursor-based pagination. Errors use a `{ \"error\": { code, message, details? } }` envelope. **Authentication**: programmatic clients send `X-API-Key`; the web dashboard uses Privy JWTs (`Authorization: Bearer ...`). Any authenticated user can both place parlays and quote as a market maker — there is no separate MM role. Admin endpoints are out of scope for this public reference. **Rate limiting**: 100 req/min anonymous, 300 req/min authenticated. Responses include `X-RateLimit-*` headers. Request body limit: 256KB. **Pagination**: list endpoints use opaque cursor pagination. Pass `meta.cursor` from the previous response as `?cursor=...` to fetch the next page; do not parse or construct cursors client-side."
  },
  "servers": [
    {
      "url": "https://api.totalis.trade",
      "description": "Production"
    }
  ],
  "security": [
    {
      "ApiKey": []
    }
  ],
  "tags": [
    {
      "name": "Markets",
      "description": "Cached Kalshi and Polymarket market data."
    },
    {
      "name": "User",
      "description": "User profile, wallet, and devnet helpers."
    },
    {
      "name": "API Keys",
      "description": "Manage programmatic access keys for the authenticated user."
    }
  ],
  "paths": {
    "/markets": {
      "get": {
        "operationId": "listMarkets",
        "tags": [
          "Markets"
        ],
        "summary": "List markets grouped by event",
        "parameters": [
          {
            "name": "category",
            "in": "query",
            "description": "Filter by category. Pass 'all' to disable the default category filter.",
            "schema": {
              "type": "string",
              "enum": [
                "crypto",
                "economics",
                "finance",
                "sports",
                "politics",
                "tech",
                "entertainment",
                "weather",
                "all"
              ]
            }
          },
          {
            "name": "venue",
            "in": "query",
            "description": "Filter by venue (kalshi or polymarket). Omit to include all venues.",
            "schema": {
              "$ref": "#/components/schemas/Venue"
            }
          },
          {
            "name": "subcategory",
            "in": "query",
            "description": "Filter events by subcategory. Valid values depend on the selected `category` (e.g. Crypto → btc/eth/sol/other; Finance → stocks/indices/etfs/earnings). Requires `category` to also be set.",
            "schema": {
              "$ref": "#/components/schemas/SubcategorySlug"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "Filter events by the cadence of the underlying series: `daily`, `weekly`, `monthly`, or `hourly`. Only meaningful for categories that drive timeframe pills (Crypto, Finance, Economics, Entertainment). Monthly markets are also subject to a 7-day visibility window — see G1 spec §1.1. `hourly` is admitted as a filter post-0048 (after the 19 hourly series were re-enabled). Per-category validity is enforced server-side by the join against `series_whitelist.frequency`: requesting `?frequency=hourly&category=entertainment` returns an empty grid (no hourly entertainment series exist today) rather than 400. `other` is intentionally NOT a valid filter input — it's a residual bucket on `Market.frequency` for irregular-cadence series, not a chip target. Passing `?frequency=other` returns 400.",
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "hourly"
              ]
            }
          },
          {
            "name": "date_filter",
            "in": "query",
            "description": "Time bucket filter. If omitted, a default 7-day horizon is applied. Pass 'all' to retrieve all active markets regardless of close date.",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "1h-1d",
                "1d-7d",
                "all"
              ]
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Events per page. Default 21 for /markets. The product limit × markets_per_event must not exceed 2000.",
            "schema": {
              "type": "integer",
              "default": 21,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "markets_per_event",
            "in": "query",
            "description": "Max markets returned per event group. The full count is always in total_markets. Default 10, max 50. The product limit × markets_per_event must not exceed 2000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "public, max-age=60, stale-while-revalidate=300"
                }
              },
              "X-Response-Truncated": {
                "schema": {
                  "type": "string",
                  "enum": [
                    "true"
                  ]
                },
                "description": "Present when the response was truncated to fit the 2MB size budget. Fewer events than requested are returned; use cursor to fetch more."
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "events": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/MarketEvent"
                          }
                        }
                      }
                    },
                    "meta": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/PaginationMeta"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "total_events": {
                              "type": "integer"
                            },
                            "available_subcategories": {
                              "type": "array",
                              "description": "Subcategory slugs present in the (category, date_filter, search, frequency) result set, ignoring `subcategory` itself. Omitted when the selected category has no subcategories defined.",
                              "items": {
                                "$ref": "#/components/schemas/SubcategorySlug"
                              }
                            },
                            "available_frequencies": {
                              "type": "array",
                              "description": "Frequency values present in the (category, date_filter, search, subcategory) result set, ignoring `frequency` itself. One of daily/weekly/monthly/hourly in declaration order; never includes `other` (residual bucket, not a filter target). Omitted when the selected category has no timeframe pills (i.e. anything outside Crypto/Finance/Economics/Entertainment). Categories without active hourly series (Economics, Entertainment today) simply omit `hourly` from the array — no special-casing client-side.",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "daily",
                                  "weekly",
                                  "monthly",
                                  "hourly"
                                ]
                              }
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          }
        }
      }
    },
    "/markets/{ticker}": {
      "get": {
        "operationId": "getMarket",
        "tags": [
          "Markets"
        ],
        "summary": "Get single market by ticker or condition ID",
        "description": "Returns one Kalshi market by ticker or one Polymarket market by condition ID. When `venue` is omitted, the API infers Polymarket for condition IDs that look like `0x...` and otherwise checks Kalshi.",
        "parameters": [
          {
            "name": "ticker",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "maxLength": 160,
              "pattern": "^[A-Za-z0-9_.:-]+$"
            }
          },
          {
            "name": "venue",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/Venue"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Market"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "tags": [
          "API Keys"
        ],
        "summary": "List API keys",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "keys": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/ApiKeySummary"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "tags": [
          "API Keys"
        ],
        "summary": "Create API key",
        "security": [
          {
            "PrivyJWT": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Optional display name for the key"
                  },
                  "preset": {
                    "type": "string",
                    "description": "Scope-bundle preset. The canonical list is SCOPE_PRESETS in api-key-scopes.ts (not re-enumerated here, to avoid drift as presets are added). Overridden by `scopes` if both are sent; defaults to `trading` if neither."
                  },
                  "scopes": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "description": "Explicit scope list. Clamped to the creator's own scopes."
                  },
                  "confirm_withdraw": {
                    "type": "boolean",
                    "description": "Required (true) when the requested scopes include `funds:withdraw`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created (full key shown once)",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ApiKeyFull"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/api-keys/{prefix}": {
      "delete": {
        "operationId": "revokeApiKey",
        "tags": [
          "API Keys"
        ],
        "summary": "Revoke an API key",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "prefix",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Revoked"
          }
        }
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "getOrCreateUser",
        "tags": [
          "User"
        ],
        "summary": "Get or auto-create user profile",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "ref",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Referral code to auto-redeem on first login"
          },
          {
            "$ref": "#/components/parameters/DeviceFingerprint"
          },
          {
            "name": "invite",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "22-char invite-link token to auto-redeem on first login"
          },
          {
            "name": "referral",
            "in": "query",
            "schema": {
              "type": "string",
              "pattern": "^[A-HJ-NP-Za-hj-np-z2-9]{8}$"
            },
            "description": "8-char referral code for attribution and auto-approve on first login"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/pnl": {
      "get": {
        "operationId": "getPnlV1",
        "tags": [
          "Portfolio"
        ],
        "summary": "Realized P&L timeseries (programmatic /v1 surface)",
        "description": "Realized P&L per day over the requested window — the `/v1` counterpart of `/app/pnl-chart`,\nreachable by API-key principals. Returns the caller's own timeseries. Stats totals (wins/losses/realized P&L) are on\n`GET /v1/portfolio`.",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "1D",
                "1W",
                "1M",
                "ALL"
              ],
              "default": "1W"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "points": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/PnlPoint"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/portfolio": {
      "get": {
        "operationId": "getUserPortfolio",
        "tags": [
          "User"
        ],
        "summary": "Consolidated portfolio (balance, stats, counts, summary)",
        "description": "Returns the user's full portfolio in a single batched query: vault balance,\ntrading stats, RFQ status counts, and active-bet summary. Balance is null\nwhen the user has no vault (never traded).",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PortfolioData"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/rfqs": {
      "get": {
        "operationId": "listRfqsV1",
        "tags": [
          "RFQs"
        ],
        "summary": "List RFQs (programmatic /v1 surface)",
        "description": "Same as `GET /rfqs`, on the programmatic `/v1` contract surface.",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "description": "Filter by RFQ status. Repeatable values are joined with commas (e.g. ?status=open,quoted,accepted).",
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/RfqStatus"
              }
            },
            "example": [
              "open",
              "quoted",
              "accepted"
            ]
          },
          {
            "name": "include",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "quotes"
              ]
            },
            "description": "Include quotes array (otherwise null)"
          },
          {
            "$ref": "#/components/parameters/LimitParam"
          },
          {
            "$ref": "#/components/parameters/CursorParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "rfqs": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Rfq"
                          }
                        }
                      }
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/rfqs/{id}": {
      "get": {
        "operationId": "getRfqV1",
        "tags": [
          "RFQs"
        ],
        "summary": "Get RFQ by ID (programmatic /v1 surface; quotes always populated)",
        "description": "Same as `GET /rfqs/{id}`, on the programmatic `/v1` contract surface.",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Rfq"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/username": {
      "put": {
        "operationId": "updateUsername",
        "tags": [
          "User"
        ],
        "summary": "Update display name",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 3,
                    "maxLength": 20,
                    "pattern": "^[a-zA-Z0-9_]+$"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "username": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/v1/username/check": {
      "get": {
        "operationId": "checkUsername",
        "tags": [
          "User"
        ],
        "summary": "Check username availability",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "name": "username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "available": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/vault": {
      "get": {
        "operationId": "getUserVault",
        "tags": [
          "Vault"
        ],
        "summary": "Get user vault state and active positions",
        "description": "Returns the user's vault balance and active positions. Returns data: null\n(200 OK) if the user has no vault yet (vault is created on first trade).",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK — vault state or null if no vault exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "nullable": true,
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/UserVaultResponse"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet": {
      "get": {
        "operationId": "getWallet",
        "tags": [
          "User"
        ],
        "summary": "Get wallet balances",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Wallet"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet/blockhash": {
      "get": {
        "operationId": "getBlockhash",
        "tags": [
          "User"
        ],
        "summary": "Latest Solana blockhash for client-side transaction construction",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "blockhash",
                        "last_valid_block_height"
                      ],
                      "properties": {
                        "blockhash": {
                          "type": "string"
                        },
                        "last_valid_block_height": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/wallet/delegation-status": {
      "get": {
        "operationId": "getDelegationStatus",
        "tags": [
          "User"
        ],
        "summary": "Check TEE wallet delegation status",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/DelegationStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/wallet/enable-trading": {
      "post": {
        "operationId": "enableTrading",
        "tags": [
          "User"
        ],
        "summary": "Confirm TEE wallet delegation AND drain any pending welcome airdrop",
        "description": "Two responsibilities, kept in one round-trip so the frontend can\nrender a single combined success toast:\n\n1. **Delegation status.** Confirms whether the embedded wallet\n   is currently delegated to our key quorum. The actual\n   delegation is a USER-SIDE action (frontend `addSigners()`);\n   this endpoint only reads the current state — it does NOT\n   perform the delegation itself. 2. **Pending welcome-airdrop drain.** Under the deferred-airdrop\n   flow (TT-airdrop-bug 2026-05-13), the welcome airdrop amount\n   is staged on `users.welcome_airdrop_pending_amount` at\n   approval time. This endpoint atomically claims that amount,\n   mints the USDC from treasury to the canonical wallet, and\n   clears the column. Idempotent: a second call after a\n   successful drain returns `airdrop: null` (nothing left to\n   drain) without re-minting. On mint failure, the pending\n   amount is restored so the user can retry on their next call.",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/DelegationStatus"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "airdrop": {
                              "allOf": [
                                {
                                  "$ref": "#/components/schemas/AirdropDrainOutcome"
                                }
                              ],
                              "nullable": true,
                              "description": "Outcome of the pending-airdrop drain. `null` when nothing was staged for this\nuser (most common — pre-approval, or\nalready drained on a prior call). See\n`AirdropDrainOutcome` for the non-null\nshape."
                            }
                          }
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/wallet/submit-tx": {
      "post": {
        "operationId": "submitTransaction",
        "tags": [
          "User"
        ],
        "summary": "Submit a client-signed serialized Solana transaction",
        "description": "Rate-limited: 10 requests/min. Used for delegation and other user-signed transactions.",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "transaction"
                ],
                "properties": {
                  "transaction": {
                    "type": "string",
                    "description": "Base64-encoded serialized Solana transaction"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "required": [
                        "signature"
                      ],
                      "properties": {
                        "signature": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/wallet/withdraw": {
      "post": {
        "operationId": "withdrawFromWallet",
        "tags": [
          "User"
        ],
        "summary": "Withdraw USDC from the embedded wallet to an external address",
        "description": "Sends USDC out of the caller's embedded wallet ATA to an arbitrary\non-curve Solana address. Uses Privy's session-signer delegation\n(set up via /v1/wallet/enable-trading) and Privy's native gas\nsponsorship — the user is not prompted to sign and never needs SOL. Chained vault-tap: when the requested `amount_usdc` exceeds the\ncaller's ATA-available balance, the handler first issues\n`withdraw_from_vault` (vault PDA → owner ATA) for the shortfall,\nwaits for that TX to confirm, then issues the external SPL transfer. The `vault_signature` / `vault_amount` fields surface the intermediate\nTX when this happens. If the vault tap succeeds but the external\ntransfer fails to construct or broadcast, the response is **502**\nwith `error.code: PARTIAL_VAULT_ONLY` and the vault TX surfaced under\n`error.details.vault_signature` / `error.details.vault_amount`. The\ncaller can retry with the same amount; the pre-flight will see the\nATA is now sufficient and skip the vault tap. 502 (rather than 200)\nis deliberate: the idempotency middleware caches only 2xx, so\nsame-key retries against a 502 re-enter the handler instead of\nreplaying a cached partial response. Idempotency-Key is honored: a duplicate request with the same key\nreplays the cached 2xx response without re-issuing on-chain TXs.",
        "security": [
          {
            "PrivyJWT": []
          },
          {
            "ApiKey": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "recipient",
                  "amount_usdc"
                ],
                "properties": {
                  "recipient": {
                    "type": "string",
                    "description": "Destination Solana wallet address (base58). Must be\non-curve — PDAs, program IDs, and token-account\naddresses are rejected because funds sent to a\nderived ATA-of-an-ATA are unrecoverable."
                  },
                  "amount_usdc": {
                    "type": "number",
                    "minimum": 1e-06,
                    "description": "USDC amount to send. Minimum is one USDC base unit\n(1e-6). Must be ≤ the caller's total spendable pool\n(ATA + vault free_balance − in-flight RFQ holds);\nrequests exceeding this are rejected with 400."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Withdrawal submitted. `signature` is the external SPL transfer\nsignature. `vault_signature` and `vault_amount` are present\nonly when the request required a vault → ATA hop.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "signature": {
                          "type": "string",
                          "description": "External SPL transfer signature."
                        },
                        "explorer_url": {
                          "type": "string",
                          "description": "Solscan URL for the external SPL signature."
                        },
                        "vault_signature": {
                          "type": "string",
                          "description": "On-chain `withdraw_from_vault` signature. Present only when the request required a vault\n→ ATA hop to cover a shortfall."
                        },
                        "vault_amount": {
                          "type": "number",
                          "description": "USDC amount moved from vault to ATA before the\nexternal transfer. Present only when\n`vault_signature` is present."
                        },
                        "recipient_ata_created": {
                          "type": "boolean",
                          "description": "Present (true) when the recipient had no USDC token\naccount and this transaction created one (the\ncreate-and-chargeback path, gated by\nWITHDRAW_ATA_AUTOCREATE). The fee-payer fronts the\n~0.002 SOL account rent and bills it back in USDC, so\nthe recipient receives `delivered_usdc` and the treasury\nkeeps `chargeback_usdc`. The create is non-idempotent, so\na confirmed response means this tx created the account\n(a race where it already existed reverts and retries\nvia the standard path, with no chargeback)."
                        },
                        "chargeback_usdc": {
                          "type": "number",
                          "description": "USDC withheld from the requested amount to reimburse\nthe one-time recipient-ATA rent. Present only with\n`recipient_ata_created`."
                        },
                        "delivered_usdc": {
                          "type": "number",
                          "description": "USDC actually delivered to the recipient\n(`amount_usdc − chargeback_usdc`). Present only with\n`recipient_ata_created`."
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "The caller's embedded wallet is no longer delegated for\nserver-side signing. Re-enabling trading from the app restores\nthe session signer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/InternalError"
          },
          "502": {
            "description": "Ambiguous partial state — returned as 5xx (not 200) so\nIdempotency-Key callers retry against the handler instead of\nreplaying a cached partial response. Two codes:\n\n`PARTIAL_VAULT_ONLY` — the vault tap succeeded but the external SPL\ntransfer failed to construct/broadcast. Funds moved from vault to\nATA; retry the same request to complete the external leg (the\npre-flight sees the updated ATA and skips the vault tap). Returned\nonly when the vault tap fired this request; a same-key retry against\nan already-topped-up ATA skips the tap (`shortfall = 0`) and a\nsubsequent SPL failure surfaces as a normal 500. `WITHDRAW_SUBMITTED_UNCONFIRMED` — only on the recipient-ATA\ncreate-and-chargeback path (WITHDRAW_ATA_AUTOCREATE), where broadcast\nand confirmation are separate steps: the transaction was broadcast\n(`details.signature` present) but confirmation timed out, so it may\nhave landed. Do NOT blind-retry — verify the recipient balance first,\nsince a retry would re-send via the now-existing ATA and double-pay.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "string",
                          "enum": [
                            "PARTIAL_VAULT_ONLY",
                            "WITHDRAW_SUBMITTED_UNCONFIRMED"
                          ]
                        },
                        "message": {
                          "type": "string"
                        },
                        "details": {
                          "type": "object",
                          "properties": {
                            "signature": {
                              "type": "string",
                              "description": "The broadcast transaction signature. Present on\nWITHDRAW_SUBMITTED_UNCONFIRMED — the tx may have\nlanded; check it before retrying."
                            },
                            "vault_signature": {
                              "type": "string"
                            },
                            "vault_amount": {
                              "type": "number"
                            },
                            "chargeback_usdc": {
                              "type": "number",
                              "description": "On WITHDRAW_SUBMITTED_UNCONFIRMED, the USDC that\nwould have been withheld for the recipient-ATA rent."
                            },
                            "delivered_usdc": {
                              "type": "number",
                              "description": "On WITHDRAW_SUBMITTED_UNCONFIRMED, the USDC that\nwould have been delivered to the recipient."
                            },
                            "partial": {
                              "type": "string",
                              "enum": [
                                "vault_only",
                                "submitted_unconfirmed"
                              ]
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "CursorParam": {
        "name": "cursor",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Opaque pagination cursor from a previous response's meta.cursor. Do not construct manually."
      },
      "DeviceFingerprint": {
        "name": "X-Device-Fingerprint",
        "in": "header",
        "required": false,
        "schema": {
          "type": "string",
          "maxLength": 64
        },
        "description": "Client-computed device fingerprint (e.g. a FingerprintJS visitorId). Optional anti-sybil signal captured for account-linkage clustering and investigation. Surveillance-only — it is stored and linked, never used to gate, limit, or block a request."
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "schema": {
          "type": "string",
          "format": "uuid"
        },
        "description": "Client-generated UUID. Cached responses returned within 24h TTL."
      },
      "LimitParam": {
        "name": "limit",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 20,
          "minimum": 1,
          "maximum": 100
        },
        "description": "Page size"
      }
    },
    "responses": {
      "BadRequest": {
        "description": "Validation error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Conflict": {
        "description": "Resource conflict (duplicate, already taken, etc.)",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "InternalError": {
        "description": "Internal server error",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "RateLimited": {
        "description": "Rate limit exceeded",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Missing or invalid authentication",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorEnvelope"
            }
          }
        }
      }
    },
    "schemas": {
      "AirdropDrainOutcome": {
        "type": "object",
        "description": "Outcome of the pending-airdrop drain performed by\n`POST /v1/wallet/enable-trading`. Narrower than\n`AirdropOutcome` — there is no `pending` field because the drain\nis the terminal step (either the mint landed or it didn't; the\namount is never left in a staged state by this endpoint). `{ success: true, amount }` — the staged amount minted\nsuccessfully on-chain. `{ success: false, amount }` — the mint\nattempt failed and the pending amount has been restored; the\nuser can retry on their next call.",
        "required": [
          "success",
          "amount"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "amount": {
            "type": "number",
            "description": "USDC amount (whole dollars)"
          }
        }
      },
      "AirdropOutcome": {
        "type": "object",
        "description": "Invite-link airdrop outcome for the auto-redeem / invite-link path. `kind` identifies which grant path produced the outcome so clients\ncan route welcome and parlay-gated grants to different UI flows. Under the deferred-airdrop flow (TT-airdrop-bug 2026-05-13),\n`success: true` with `pending: true` means the amount was staged\nfor the selected grant path and will mint later when that path's\ncondition is satisfied. `success: false` (always paired with\n`pending: false`) means staging failed; the approval itself\nstill landed.",
        "required": [
          "success",
          "amount",
          "pending",
          "kind"
        ],
        "properties": {
          "success": {
            "type": "boolean"
          },
          "amount": {
            "type": "number",
            "description": "USDC amount (whole dollars, e.g. 10)"
          },
          "pending": {
            "type": "boolean",
            "description": "True when the amount is staged but not yet minted —\nwaiting on the relevant grant condition to drain it. False\non the failure branch (`success: false`); the staging write\ndidn't land so there's nothing to mint."
          },
          "kind": {
            "type": "string",
            "enum": [
              "welcome",
              "parlay"
            ],
            "description": "`welcome` grants mint after wallet delegation via\n`POST /v1/wallet/enable-trading`; `parlay` grants mint\nafter the user's cumulative executed parlay bet_amount\nreaches the snapshotted threshold."
          }
        }
      },
      "ApiKeyFull": {
        "type": "object",
        "description": "Returned on creation only (full key visible once)",
        "properties": {
          "key": {
            "type": "string"
          },
          "key_prefix": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "ApiKeySummary": {
        "type": "object",
        "properties": {
          "key_prefix": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": [
              "active",
              "revoked",
              "expired"
            ]
          },
          "scopes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          },
          "last_used_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "request_count": {
            "type": "integer"
          }
        }
      },
      "Cashout": {
        "type": "object",
        "description": "Early-cashout (buyback) summary attached to a bought_back RFQ — the\nbuyback analogue of Settlement. realized_pnl is the user's net P&L\n(stake nets out; the directional `amount` is the realized delta, less\nthe profit fee on the profiting side and the create-time taker fee).",
        "required": [
          "realized_pnl",
          "amount",
          "mm_pays_user"
        ],
        "properties": {
          "realized_pnl": {
            "type": "number",
            "description": "User's realized P&L from the early cashout (USDC, signed)."
          },
          "amount": {
            "type": "number",
            "description": "Directional buyback transfer (USDC, >= 0)."
          },
          "mm_pays_user": {
            "type": "boolean",
            "description": "True when the MM paid the user (user was up on the position)."
          },
          "cashed_out_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Time the position was bought back / cashed out (the buyback fee insert = finalize moment). The buyback analogue of settled_at; clients sort the History cashed-out row by this. Absent on legacy rows without a fee."
          }
        }
      },
      "DelegationStatus": {
        "type": "object",
        "properties": {
          "ready": {
            "type": "boolean",
            "description": "True if a wallet is linked and delegation can proceed"
          },
          "delegated": {
            "type": "boolean",
            "description": "True if TEE wallet delegation is active (server can sign)"
          },
          "address": {
            "type": "string",
            "description": "Solana wallet address (base58). Empty string if no wallet linked."
          },
          "wallet_id": {
            "type": "string",
            "description": "Privy embedded wallet ID (used for delegation API calls)"
          }
        }
      },
      "ErrorBody": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string",
            "enum": [
              "VALIDATION_ERROR",
              "UNAUTHORIZED",
              "FORBIDDEN",
              "NOT_FOUND",
              "CONFLICT",
              "RATE_LIMITED",
              "PAYLOAD_TOO_LARGE",
              "INTERNAL_ERROR",
              "SERVICE_UNAVAILABLE"
            ]
          },
          "message": {
            "type": "string"
          },
          "details": {
            "type": "object"
          },
          "retry_after": {
            "type": "integer",
            "nullable": true,
            "description": "Seconds until retry (set on 429)"
          }
        }
      },
      "ErrorEnvelope": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "$ref": "#/components/schemas/ErrorBody"
          }
        }
      },
      "GameInfo": {
        "type": "object",
        "required": [
          "teams"
        ],
        "properties": {
          "id": {
            "type": "string",
            "nullable": true
          },
          "teams": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GameTeam"
            }
          },
          "draw": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/GameTeam"
              }
            ]
          }
        }
      },
      "GameTeam": {
        "type": "object",
        "required": [
          "name",
          "ticker",
          "price",
          "side"
        ],
        "properties": {
          "name": {
            "type": "string"
          },
          "ticker": {
            "type": "string"
          },
          "price": {
            "type": "number",
            "minimum": 0,
            "maximum": 1
          },
          "side": {
            "$ref": "#/components/schemas/Side"
          }
        }
      },
      "Leg": {
        "type": "object",
        "properties": {
          "leg_index": {
            "type": "integer",
            "description": "Zero-based ordering index for the leg within the RFQ"
          },
          "market_ticker": {
            "type": "string"
          },
          "event_ticker": {
            "type": "string"
          },
          "side": {
            "$ref": "#/components/schemas/Side"
          },
          "venue": {
            "$ref": "#/components/schemas/Venue"
          },
          "market_title": {
            "type": "string"
          },
          "event_title": {
            "type": "string"
          },
          "yes_sub_title": {
            "type": "string",
            "nullable": true,
            "description": "Snapshot of `Market.yes_sub_title` at RFQ creation (e.g. team name on a sports market). Lets clients render the side-specific subtitle after the underlying market has rolled out of the live `/markets` cache. Null on binary markets that carry no per-side subtitle and on legs created before this field was persisted."
          },
          "no_sub_title": {
            "type": "string",
            "nullable": true,
            "description": "Snapshot of `Market.no_sub_title` at RFQ creation — opposing-side counterpart to `yes_sub_title`. Same null semantics."
          },
          "venue_url": {
            "type": "string",
            "nullable": true,
            "description": "Canonical URL of the leg's market on its source venue (Kalshi or Polymarket). Hydrated from marketd Redis hashes, falling back to the parlay-leg snapshot when the market hash has been purged."
          },
          "image_url": {
            "type": "string",
            "nullable": true,
            "description": "Image URL for the leg's market. Hydrated from the marketd Redis hash and whitelist metadata, falling back to the parlay-leg snapshot when the market hash has been purged."
          },
          "expected_expiration_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Expected market resolution time for the leg. Hydrated from marketd Redis hashes, falling back to the parlay-leg snapshot when the market hash has been purged."
          },
          "current_yes_price": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "Yes ask price at RFQ creation time, decimal probability (0-1)"
          },
          "current_no_price": {
            "type": "number",
            "minimum": 0,
            "maximum": 1,
            "description": "No ask price at RFQ creation time, decimal probability (0-1)"
          },
          "outcome": {
            "$ref": "#/components/schemas/LegOutcome"
          }
        }
      },
      "LegOutcome": {
        "type": "string",
        "enum": [
          "win",
          "loss",
          "push",
          "pending"
        ]
      },
      "Market": {
        "type": "object",
        "required": [
          "exclusion_keys"
        ],
        "properties": {
          "ticker": {
            "type": "string"
          },
          "event_ticker": {
            "type": "string"
          },
          "series_ticker": {
            "type": "string"
          },
          "series_title": {
            "type": "string",
            "nullable": true
          },
          "event_title": {
            "type": "string",
            "nullable": true
          },
          "event_sub_title": {
            "type": "string",
            "nullable": true
          },
          "title": {
            "type": "string"
          },
          "subtitle": {
            "type": "string",
            "nullable": true
          },
          "yes_sub_title": {
            "type": "string",
            "nullable": true
          },
          "no_sub_title": {
            "type": "string",
            "nullable": true
          },
          "bet_group": {
            "type": "string",
            "nullable": true,
            "description": "Polymarket-only today: the section label Gamma calls `groupItemTitle` with the parent event-title prefix stripped (e.g. `\"Match O/U 21.5\"`, `\"↑ $200,000\"`, `\"Oklahoma City Thunder\"`). Frontends prefer it as the row's primary label over `yes_sub_title` when set. Null for every Kalshi row (Kalshi's per-market `title` is already informative) and null for Polymarket markets that ARE the event (single-market events / moneyline of a multi-market event — render from `title` instead). Stripping uses an exact-prefix match with a word/punct boundary, falling back to the raw `groupItemTitle` if the prefix doesn't match — never partially stripped. See TT-683."
          },
          "category": {
            "type": "string"
          },
          "subcategory": {
            "type": "string",
            "nullable": true
          },
          "frequency": {
            "type": "string",
            "nullable": true,
            "description": "Cadence of the underlying series: daily | weekly | monthly | hourly | other. NULL only for categories without timeframe pills. All five values can appear on responses; the `?frequency=` filter accepts daily / weekly / monthly / hourly (post-0048 admit) but rejects `other` — see the `frequency` query param description below for the filter-vs-response asymmetry."
          },
          "venue": {
            "$ref": "#/components/schemas/Venue"
          },
          "status": {
            "type": "string"
          },
          "yes_bid": {
            "type": "number"
          },
          "yes_ask": {
            "type": "number"
          },
          "no_bid": {
            "type": "number"
          },
          "no_ask": {
            "type": "number"
          },
          "last_price": {
            "type": "number"
          },
          "price_to_beat": {
            "type": "number",
            "nullable": true,
            "description": "Reference price (\"strike\") for Polymarket \"Up or Down\" markets —\nthe spot at window-start that the final close must exceed for\n\"Up\" to win. Sources, in order:\n  1. Gamma `event.eventMetadata.priceToBeat` — populated for\n     crypto up/down markets. 2. For stock daily up/down markets, Gamma leaves the field\n     null; marketd enriches it from Pyth Hermes (prior\n     NYSE trading day's regular-session close — the same source\n     Polymarket cites for resolution). See TT-654 /\n     `services/marketd/internal/fetchers/pyth/hermes.go`. NULL for Kalshi markets, for non-up/down Polymarket markets,\nfor up/down markets whose window has not yet opened (common\npre-start for 5m / 15m series), and for unsupported tickers\nor transient Pyth failures."
          },
          "volume": {
            "type": "integer"
          },
          "volume_24h": {
            "type": "integer"
          },
          "open_interest": {
            "type": "integer"
          },
          "venue_url": {
            "type": "string",
            "nullable": true,
            "description": "Canonical market URL regardless of venue (Kalshi or Polymarket)"
          },
          "open_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "close_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "strike_date": {
            "type": "string",
            "nullable": true
          },
          "expiration_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "expected_expiration_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "resolution_time": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "trading_ends_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "starts_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "exclusion_keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Parlay-correlation keys. Two markets cannot co-exist in the same\nparlay **iff their `exclusion_keys` arrays intersect** (share at\nleast one string). Frontends apply pure set-intersection — they hold\nno correlation rule tables of their own; the keys encode every rule\n(cross-series exclusion groups, threshold ladders, sports same-game\nfamily/kind/participant correlation, Polymarket physical sub-events). Keys are opaque, namespaced by reason+scope (e.g. `kp:<gameKey>:…`,\n`grp:<idx>:<eventKey>`, `fam:…`), and derived solely from this\nmarket, so a selected leg can snapshot its keys and compare later. Does NOT encode the plain one-leg-per-event rule (same\n`event_ticker`). The submit-time authority is the server's parlay\nvalidation; these keys mirror it. Empty when the market participates\nin no correlation rule."
          },
          "synced_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MarketEvent": {
        "type": "object",
        "required": [
          "event_ticker",
          "series_ticker",
          "display_shape",
          "category",
          "total_markets",
          "markets"
        ],
        "properties": {
          "event_ticker": {
            "type": "string"
          },
          "series_ticker": {
            "type": "string"
          },
          "series_title": {
            "type": "string",
            "nullable": true
          },
          "event_title": {
            "type": "string",
            "nullable": true,
            "description": "Venue-side event header (descriptive long form) — Kalshi `event.title` from /events (e.g. \"Netflix MMA Special: Rousey vs Carano\"); Polymarket `event.title` from Gamma, trimmed. Distinct from `series_title` (the underlying series name) and from each market's per-row `title`. Use for surfaces with room (dialog header). Null for rows synced before this field was persisted or where the venue fetch transiently failed."
          },
          "event_sub_title": {
            "type": "string",
            "nullable": true,
            "description": "Compact event header — Kalshi `event.sub_title` from /events (e.g. \"Rousey vs Carano\", \"SF vs ATH (May 16)\", \"In Jul 2026\"). Always null on Polymarket: Gamma's `event.title` is already compact and has no sub-title analogue. Use for surfaces where space is tight (card row). Null for Kalshi rows synced before this field was persisted; the frontend should fall back to `event_title` in that case."
          },
          "display_shape": {
            "type": "string",
            "enum": [
              "binary",
              "updown",
              "sports_game",
              "multi_outcome",
              "strike_ladder"
            ],
            "description": "Card-rendering discriminant derived per event group in the cache pipeline. The frontend's CARD_VARIANTS map keys on this value to select the component for each event card. Phase 2.2 wires the dispatcher; Phases 3–5 swap in per-shape components."
          },
          "category": {
            "type": "string"
          },
          "image_url": {
            "type": "string",
            "nullable": true
          },
          "total_markets": {
            "type": "integer"
          },
          "markets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Market"
            }
          },
          "game": {
            "nullable": true,
            "allOf": [
              {
                "$ref": "#/components/schemas/GameInfo"
              }
            ]
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "cursor": {
            "type": "string",
            "nullable": true
          },
          "has_more": {
            "type": "boolean"
          },
          "limit": {
            "type": "integer",
            "description": "Maximum number of items requested for this page."
          },
          "offset": {
            "type": "integer",
            "description": "Number of items skipped before this page."
          },
          "total": {
            "type": "integer",
            "description": "Total number of items available across all pages, when returned by the endpoint."
          }
        }
      },
      "PnlPoint": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date"
          },
          "pnl": {
            "type": "number"
          }
        }
      },
      "PortfolioBalance": {
        "type": "object",
        "description": "Caller's vault balance (DB-cached, no RPC). Null only when the\ncaller has no vault row at all. For dual-role accounts the\nbettor-side vault is preferred and the maker-side row is used\nas a fallback (same rules as `GET /v1/vault`).",
        "properties": {
          "gross_balance": {
            "type": "number"
          },
          "locked_collateral": {
            "type": "number"
          },
          "free_balance": {
            "type": "number"
          },
          "vault_pda": {
            "type": "string"
          },
          "vault_token_account": {
            "type": "string"
          }
        }
      },
      "PortfolioData": {
        "type": "object",
        "description": "Consolidated portfolio response from GET /v1/portfolio.",
        "properties": {
          "balance": {
            "nullable": true,
            "description": "Null when user has no vault (never traded)",
            "allOf": [
              {
                "$ref": "#/components/schemas/PortfolioBalance"
              }
            ]
          },
          "stats": {
            "$ref": "#/components/schemas/UserStats"
          },
          "counts": {
            "$ref": "#/components/schemas/RfqCounts"
          },
          "summary": {
            "$ref": "#/components/schemas/PortfolioSummary"
          }
        }
      },
      "PortfolioSummary": {
        "type": "object",
        "description": "Derived portfolio-level aggregates from active positions.",
        "properties": {
          "active_count": {
            "type": "integer",
            "description": "Number of active (non-terminal) RFQs"
          },
          "active_bet_total": {
            "type": "number",
            "description": "Sum of bet_amount across active RFQs"
          },
          "portfolio_value": {
            "type": "number",
            "description": "Gross vault balance (deposited USDC). Does not include unrealized P&L."
          }
        }
      },
      "PositionStatus": {
        "type": "string",
        "description": "Position lifecycle status. On-chain states: Active, SettledWin, SettledLoss, Cancelled, Expired. DB adds intermediate states for async processing: pending, processing, settling, cancelling, error. External-signer (headless) path: commit → awaiting_signature → (client returns the signed tx) → active. Two-step expiry path: active → expired_pending_mm_release → expired (with reconciling_mm_release as short-lived sentinel). Early-cashout (buyback) path: active → bought_back_pending_db → bought_back (with reconciling_bought_back_db as the reconciler sentinel).",
        "enum": [
          "pending",
          "awaiting_signature",
          "processing",
          "active",
          "settling",
          "cancelling",
          "settled_win",
          "settled_loss",
          "cancelled",
          "reconciling_mm_release",
          "expired_pending_mm_release",
          "expired",
          "reconciling_bought_back_db",
          "bought_back_pending_db",
          "bought_back",
          "error"
        ]
      },
      "Quote": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "rfq_id": {
            "type": "string",
            "format": "uuid"
          },
          "payout_odds": {
            "type": "number"
          },
          "user_cost": {
            "type": "number"
          },
          "mm_cost": {
            "type": "number"
          },
          "total_payout": {
            "type": "number"
          },
          "status": {
            "$ref": "#/components/schemas/QuoteStatus"
          },
          "valid_until": {
            "type": "string",
            "format": "date-time"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "QuoteStatus": {
        "type": "string",
        "enum": [
          "pending",
          "accepted",
          "confirmed",
          "executed",
          "rejected",
          "expired",
          "withdrawn"
        ]
      },
      "Rfq": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "user_id": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/RfqStatus"
          },
          "bet_amount": {
            "type": "number"
          },
          "implied_probability": {
            "type": "number"
          },
          "legs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Leg"
            }
          },
          "quotes": {
            "type": "array",
            "nullable": true,
            "items": {
              "$ref": "#/components/schemas/Quote"
            },
            "description": "null = not requested (fetched without include=quotes). [] = requested but no quotes yet."
          },
          "accepted_quote_id": {
            "type": "string",
            "format": "uuid",
            "nullable": true,
            "description": "Set once status >= accepted"
          },
          "market_maker_id": {
            "type": "string",
            "nullable": true,
            "description": "Set once status >= accepted"
          },
          "position_pda": {
            "type": "string",
            "nullable": true,
            "description": "On-chain position address. Set once status >= confirmed."
          },
          "position_id": {
            "type": "string",
            "nullable": true,
            "description": "On-chain position id — the 16-byte vault_positions.position_id, hex-encoded (32 chars). Distinct from position_pda (a base58 address): this is the id the early-cashout endpoints key on (/internal/positions/cashout-eligibility, POST /v1/cashout-requests). Set once status >= confirmed."
          },
          "position_status": {
            "nullable": true,
            "description": "Position status from vault_positions table",
            "allOf": [
              {
                "$ref": "#/components/schemas/PositionStatus"
              }
            ]
          },
          "position_error": {
            "type": "string",
            "nullable": true,
            "description": "Last error recorded on the vault position. Populated when position_status === 'error'; null otherwise."
          },
          "cancellation_reason": {
            "type": "string",
            "nullable": true,
            "description": "Why the ticket was cancelled."
          },
          "is_failed": {
            "type": "boolean",
            "description": "True when the vault position errored (on-chain execution failed). Derived from position_status === 'error'. Omitted (not false) for non-failed parlays."
          },
          "fee_amount": {
            "type": "number",
            "nullable": true,
            "description": "Set on settled RFQs only"
          },
          "settlement": {
            "nullable": true,
            "description": "Set on settled RFQs only",
            "allOf": [
              {
                "$ref": "#/components/schemas/Settlement"
              }
            ]
          },
          "settled_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Set on settled RFQs only"
          },
          "cashout": {
            "nullable": true,
            "description": "Set on bought_back (early-cashout) RFQs only — realized buyback P&L.",
            "allOf": [
              {
                "$ref": "#/components/schemas/Cashout"
              }
            ]
          },
          "create_position_tx": {
            "type": "string",
            "nullable": true,
            "description": "create_position transaction signature. Set once the on-chain vault position is created (status >= confirmed)."
          },
          "settle_tx": {
            "type": "string",
            "nullable": true,
            "description": "settle_position transaction signature — the on-chain proof a settled RFQ paid out. Set on settled RFQs (the settle analogue of buyback_tx)."
          },
          "cancel_tx": {
            "type": "string",
            "nullable": true,
            "description": "cancel_position transaction signature. Set on cancelled RFQs."
          },
          "buyback_tx": {
            "type": "string",
            "nullable": true,
            "description": "Buyback (early-cashout) transaction signature, surfaced at the RFQ root by the serializer. Set on bought_back RFQs — the on-chain proof of the cashout, the buyback analogue of settle_tx."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "RfqCounts": {
        "type": "object",
        "properties": {
          "open": {
            "type": "integer"
          },
          "quoted": {
            "type": "integer"
          },
          "accepted": {
            "type": "integer"
          },
          "confirmed": {
            "type": "integer"
          },
          "executed": {
            "type": "integer",
            "description": "Positions on-chain but not yet resolved. Distinct from total_settled — settled means market resolution + payout distributed."
          },
          "total_settled": {
            "type": "integer"
          },
          "total_cancelled": {
            "type": "integer"
          },
          "total_expired": {
            "type": "integer"
          },
          "total_failed": {
            "type": "integer",
            "description": "Parlays where the vault position errored on-chain. Derived from vault_positions.status = 'error'."
          }
        }
      },
      "RfqStatus": {
        "type": "string",
        "enum": [
          "open",
          "quoted",
          "accepted",
          "confirmed",
          "executed",
          "cancelled",
          "expired",
          "settled",
          "bought_back"
        ]
      },
      "Settlement": {
        "type": "object",
        "required": [
          "id",
          "rfq_id",
          "winner",
          "payout",
          "user_stake",
          "mm_risk",
          "fee_amount",
          "settle_tx",
          "settled_at"
        ],
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "rfq_id": {
            "type": "string",
            "format": "uuid"
          },
          "winner": {
            "$ref": "#/components/schemas/WinnerSide"
          },
          "payout": {
            "type": "number",
            "description": "Full pot transferred to the winner — equals user_stake + mm_risk\n(i.e. bet_amount * payout_odds). NOT just the MM-side movement. For MM PnL on a loss, use -(payout - user_stake) = -mm_risk."
          },
          "user_stake": {
            "type": "number",
            "description": "Bettor's stake at settle time. Surfaced so the MM dashboard can\nderive PnL without a second fetch — MM win = +user_stake - fee,\nMM loss = -(payout - user_stake) = -mm_risk."
          },
          "mm_risk": {
            "type": "number",
            "description": "Maker's max risk at settle time. Equal to payout - user_stake; the\nMM dashboard renders loss-side PnL directly off this field."
          },
          "fee_amount": {
            "type": "number",
            "description": "Protocol fee deducted from the winner's payout."
          },
          "settle_tx": {
            "type": "string"
          },
          "settled_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Side": {
        "type": "string",
        "enum": [
          "yes",
          "no"
        ]
      },
      "SubcategorySlug": {
        "type": "string",
        "description": "Subcategory wire format (lowercase snake_case). See `src/market-taxonomy.ts:SUBCATEGORIES_BY_CATEGORY` for the canonical taxonomy keyed by category. Valid values depend on the selected `category` and are enforced server-side.",
        "enum": [
          "nba",
          "ncaa",
          "nfl",
          "nhl",
          "mlb",
          "ufc",
          "lol",
          "epl",
          "efl",
          "la_liga",
          "world_cup",
          "bundesliga",
          "liga_portugal",
          "ligue_1",
          "f1",
          "ipl",
          "other",
          "btc",
          "eth",
          "sol",
          "up_down",
          "stocks",
          "indices",
          "etfs",
          "earnings",
          "rates",
          "inflation",
          "commodities",
          "fx",
          "usa",
          "global"
        ]
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Privy DID (did:privy:...) - internal identifier, not exposed on public endpoints"
          },
          "username": {
            "type": "string",
            "description": "Display name. Auto-assigned a friendly random handle (e.g. GoldenFalcon) on first login; user can update to a 3-20 char alphanumeric/underscore name via PUT /v1/username."
          },
          "email": {
            "type": "string",
            "nullable": true
          },
          "wallet_address": {
            "type": "string",
            "nullable": true
          },
          "approved": {
            "type": "boolean",
            "description": "Set to true when user redeems a valid invite code or is admin-approved"
          },
          "waitlisted": {
            "type": "boolean",
            "description": "Always present. true when approved=false and user is on the waitlist; false otherwise."
          },
          "auto_redeemed": {
            "type": "boolean",
            "description": "Only present when the ?ref param successfully redeemed an invite code in this exact request."
          },
          "airdrop": {
            "allOf": [
              {
                "$ref": "#/components/schemas/AirdropOutcome"
              }
            ],
            "nullable": true,
            "description": "Welcome airdrop outcome from the auto-redeem path. Present\nalongside `auto_redeemed: true`. `null` is possible when the\ninvite link/code has no airdrop configured, or when the user\nwas already credited on a prior approval. See\n`AirdropOutcome` for the non-null shape."
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "UserStats": {
        "type": "object",
        "properties": {
          "total_parlays": {
            "type": "integer"
          },
          "wins": {
            "type": "integer"
          },
          "losses": {
            "type": "integer"
          },
          "total_wagered": {
            "type": "number"
          },
          "realized_pnl": {
            "type": "number"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true,
            "description": "Null when the user has never settled a trade (no rfq.user_stats row yet)."
          }
        }
      },
      "UserVaultResponse": {
        "type": "object",
        "description": "Vault state with active position summaries (GET /v1/vault response). Returns the caller's bettor-side vault (owner_type='user') when one\nexists; falls back to their maker-side vault (owner_type='mm') for\npure-MM accounts so the portfolio surface reflects every USDC the\ncaller controls. `positions` is the bettor-side active list when\nreturning the user vault, or the maker-side active list (joined via\n`q.market_maker_id`) when returning the MM vault.",
        "properties": {
          "vault_pda": {
            "type": "string"
          },
          "vault_token_account": {
            "type": "string"
          },
          "gross_balance": {
            "type": "number"
          },
          "locked_collateral": {
            "type": "number"
          },
          "free_balance": {
            "type": "number"
          },
          "positions": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VaultPositionSummary"
            }
          }
        }
      },
      "VaultPositionSummary": {
        "type": "object",
        "description": "Lightweight position summary for the vault response. Caller-relative reading: `user_stake` and `mm_risk` are\nside-of-trade labels, not caller-relative ones. When\n`UserVaultResponse` returns the bettor-side vault, `user_stake`\nis the caller's own stake. When it returns the maker-side\nvault (pure-MM accounts), `user_stake` is the counterparty\nbettor's stake and `mm_risk` is the caller's own collateral. Don't display `user_stake` as \"my stake\" without branching on\nwhich vault was returned — for aggregate \"USDC committed\",\nprefer `wallet.locked_amount`, which is role-agnostic.",
        "properties": {
          "position_id": {
            "type": "string",
            "description": "16-byte position ID (hex encoded)"
          },
          "rfq_id": {
            "type": "string",
            "format": "uuid"
          },
          "user_stake": {
            "type": "number",
            "description": "Bettor side of the trade. The caller's stake on the\nbettor-side vault response; the counterparty's stake on\nthe maker-side vault response."
          },
          "mm_risk": {
            "type": "number",
            "description": "Maker side of the trade. The counterparty's collateral on\nthe bettor-side vault response; the caller's own\ncollateral on the maker-side vault response."
          },
          "total_payout": {
            "type": "number"
          },
          "status": {
            "$ref": "#/components/schemas/PositionStatus"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Venue": {
        "type": "string",
        "enum": [
          "kalshi",
          "polymarket"
        ]
      },
      "Wallet": {
        "type": "object",
        "properties": {
          "address": {
            "type": "string",
            "nullable": true,
            "description": "Solana wallet address. Null if no wallet linked."
          },
          "sol_balance": {
            "type": "number"
          },
          "usdc_balance": {
            "type": "number"
          },
          "vault_balance": {
            "type": "number",
            "description": "Gross USDC balance currently held in the caller's Totalis vault. Resolved by the returned `address`; returns 0 when no vault row\nexists for that wallet. Includes both free vault cash and locked\ncollateral. Add to `usdc_balance` for the caller's total on-chain\nUSDC across wallet ATA and vault; subtract `locked_amount` from\nthat total for an available-cash view."
          },
          "locked_amount": {
            "type": "number",
            "description": "Every USDC the caller has committed across roles, summed:\nin-flight RFQs (bet_amount of open/quoted/accepted/confirmed\ntickets where the caller is the bettor), the caller's\nbettor-side active vault position stakes\n(`SUM(vault_positions.user_stake)` for active/settling/\ncancelling), and the caller's maker-side vault\n`locked_collateral`. The FE relies on this single field\nrather than re-summing on the client. Reconciliation note: this is the union across every role the\ncaller owns. `GET /v1/vault.locked_collateral` only reports\none vault (bettor preferred, maker fallback), so for a\ndual-role account `locked_amount` can exceed\n`/v1/vault.locked_collateral` — do not derive \"in positions\"\nas a subtraction of the two. Balance-math note: `vault_balance` is gross, so vault locked\ncollateral is intentionally represented in both `vault_balance`\nand `locked_amount`. Available cash is\n`usdc_balance + vault_balance - locked_amount`; do not add\n`/v1/vault.locked_collateral` to `locked_amount` again."
          },
          "has_traded": {
            "type": "boolean",
            "description": "True once any of the caller's parlays has reached `executed` or\n`settled` (the on-chain vault position landed). Informational\naccount state; withdrawals are allowed regardless of this value."
          }
        }
      },
      "WinnerSide": {
        "type": "string",
        "enum": [
          "user",
          "mm"
        ]
      }
    },
    "securitySchemes": {
      "PrivyJWT": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Privy JWT issued to the web dashboard. Sent as `Authorization: Bearer <jwt>`. The Privy session signer underpins all wallet-signed actions."
      },
      "ApiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Programmatic API key. Sent as `X-API-Key: <key>`. Generate one from the Totalis dashboard. The same header is accepted on the WebSocket auth message."
      }
    }
  }
}
