{
  "openapi": "3.1.1",
  "info": {
    "title": "Totalis Hyperliquid API",
    "description": "REST API for Totalis singles and parlays on Hyperliquid HIP-4 outcome markets, for client integrations and external market makers.\n\nAuthenticate with a scoped API key created in the Totalis app, sent as `Authorization: Bearer <key>`. Public market reads need no key. Balance-affecting commands also carry the wallet or maker signature the HyperEVM contract verifies.\n\nAmounts are base-10 strings in native USDC atomic units, large identifiers are decimal strings, and every command `POST` requires an `Idempotency-Key` header.\n\nEvery error is `{error: {code, message, retry, request_id, field_violations}}`. `code` is stable; each operation lists the codes it returns per status. `retry` is `NEVER` (stop), `BACKOFF` (resend the same request with the same `Idempotency-Key` after `Retry-After` seconds) or `REFRESH` (re-read state, then send a new request with a new key). `field_violations` names invalid inputs by JSON pointer, such as `/legs/0/stake`.",
    "version": "104.0.0-no-maker-action-kinds"
  },
  "servers": [
    {
      "url": "https://hip4-api.totalis.trade",
      "description": "Production public edge"
    },
    {
      "url": "https://hip4-api-staging.totalis.trade",
      "description": "Staging and chain-998 public edge"
    }
  ],
  "tags": [
    {
      "name": "Market data",
      "description": "Public advisory HIP-4 catalog, detail, and bounded history."
    },
    {
      "name": "RFQs and quotes",
      "description": "Public client RFQs and maker quote delivery."
    },
    {
      "name": "Account",
      "description": "Authenticated balances, tickets, and durable operations."
    },
    {
      "name": "Funds and tickets",
      "description": "Portable canonical HyperEVM financial actions."
    },
    {
      "name": "Vault",
      "description": "Public canonical ParlayVault reads."
    },
    {
      "name": "Identity",
      "description": "Public client authentication and wallet linking."
    },
    {
      "name": "Realtime",
      "description": "Authenticated replayable client and maker updates."
    },
    {
      "name": "HyperCore",
      "description": "Linked HyperCore account balances, history, and withdrawals."
    },
    {
      "name": "Maker reads",
      "description": "Maker positions, activity, performance, and telemetry."
    },
    {
      "name": "Maker access",
      "description": "External-maker onboarding and transport credentials; never financial authority."
    }
  ],
  "paths": {
    "/v1/search": {
      "get": {
        "operationId": "searchCatalog",
        "summary": "Search catalog",
        "description": "Generation-bound search of displayable HIP-4 questions and standalone markets. Exact title and title-prefix matches rank ahead of broader title and reviewed-taxonomy matches.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Unified market search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryList"
                },
                "example": {
                  "items": [
                    {
                      "id": "question:346",
                      "kind": "QUESTION",
                      "native_question_id": "346",
                      "title": "BTC price range",
                      "state": "ACTIVE",
                      "category": "Crypto",
                      "subcategory": "btc",
                      "taxonomy_state": "MAPPED",
                      "taxonomy_source": "TEMPLATE",
                      "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                      "source": {
                        "provider": "HYPERLIQUID",
                        "network": "HYPEREVM_MAINNET",
                        "adapter_version": "totalis-gateway-v1"
                      },
                      "markets": [
                        {
                          "outcome_id": "5760",
                          "native_question_id": "346",
                          "title": "Below 82,213",
                          "quote_asset": "USDC",
                          "state": "ACTIVE",
                          "result": {
                            "availability": "AVAILABLE",
                            "result_state": "UNRESOLVED"
                          },
                          "catalog_generation": "6100",
                          "metadata_revision": "6100",
                          "eligibility": {
                            "state": "ENABLED"
                          },
                          "deadline": {
                            "timing": null,
                            "availability": "AVAILABLE",
                            "resolution_deadline": "1790489700",
                            "safety_buffer_seconds": "900",
                            "derivation_kind": "STRUCTURED_METADATA",
                            "market_class": "PRICE_BUCKET",
                            "market_class_version": "9",
                            "parser_version": "7",
                            "buffer_version": "1",
                            "source_digest": "0x2a665575422287723c6e058754173f1539ddea29935dadf88057c5daf51c371f",
                            "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                            "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                          },
                          "category": "Crypto",
                          "subcategory": "btc",
                          "taxonomy_state": "MAPPED",
                          "taxonomy_source": "TEMPLATE",
                          "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                          "source": {
                            "provider": "HYPERLIQUID",
                            "network": "HYPEREVM_MAINNET",
                            "adapter_version": "totalis-gateway-v1"
                          },
                          "sides": [
                            {
                              "side": "YES",
                              "coin": "#57600",
                              "asset_id": "100057600",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "7010000000000000",
                                "best_bid": "20000000000000",
                                "best_ask": "14000000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T19:59:24.385Z",
                                "received_at": "2026-09-26T19:59:24.657968779Z"
                              }
                            },
                            {
                              "side": "NO",
                              "coin": "#57601",
                              "asset_id": "100057601",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "992990000000000000",
                                "best_bid": "986000000000000000",
                                "best_ask": "999980000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T19:59:24.385Z",
                                "received_at": "2026-09-26T19:59:24.657968779Z"
                              }
                            }
                          ]
                        },
                        {
                          "outcome_id": "5761",
                          "native_question_id": "346",
                          "title": "82,213 to below 85,568",
                          "quote_asset": "USDC",
                          "state": "ACTIVE",
                          "result": {
                            "availability": "AVAILABLE",
                            "result_state": "UNRESOLVED"
                          },
                          "catalog_generation": "6100",
                          "metadata_revision": "6100",
                          "eligibility": {
                            "state": "ENABLED"
                          },
                          "deadline": {
                            "timing": null,
                            "availability": "AVAILABLE",
                            "resolution_deadline": "1790489700",
                            "safety_buffer_seconds": "900",
                            "derivation_kind": "STRUCTURED_METADATA",
                            "market_class": "PRICE_BUCKET",
                            "market_class_version": "9",
                            "parser_version": "7",
                            "buffer_version": "1",
                            "source_digest": "0x2a665575422287723c6e058754173f1539ddea29935dadf88057c5daf51c371f",
                            "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                            "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                          },
                          "category": "Crypto",
                          "subcategory": "btc",
                          "taxonomy_state": "MAPPED",
                          "taxonomy_source": "TEMPLATE",
                          "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                          "source": {
                            "provider": "HYPERLIQUID",
                            "network": "HYPEREVM_MAINNET",
                            "adapter_version": "totalis-gateway-v1"
                          },
                          "sides": [
                            {
                              "side": "YES",
                              "coin": "#57610",
                              "asset_id": "100057610",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "987870000000000000",
                                "best_bid": "976000000000000000",
                                "best_ask": "999740000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T19:59:24.385Z",
                                "received_at": "2026-09-26T19:59:24.64066386Z"
                              }
                            },
                            {
                              "side": "NO",
                              "coin": "#57611",
                              "asset_id": "100057611",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "12130000000000000",
                                "best_bid": "260000000000000",
                                "best_ask": "24000000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T19:59:24.385Z",
                                "received_at": "2026-09-26T19:59:24.64066386Z"
                              }
                            }
                          ]
                        },
                        {
                          "outcome_id": "5762",
                          "native_question_id": "346",
                          "title": "85,568 or above",
                          "quote_asset": "USDC",
                          "state": "ACTIVE",
                          "result": {
                            "availability": "AVAILABLE",
                            "result_state": "UNRESOLVED"
                          },
                          "catalog_generation": "6100",
                          "metadata_revision": "6100",
                          "eligibility": {
                            "state": "ENABLED"
                          },
                          "deadline": {
                            "timing": null,
                            "availability": "AVAILABLE",
                            "resolution_deadline": "1790489700",
                            "safety_buffer_seconds": "900",
                            "derivation_kind": "STRUCTURED_METADATA",
                            "market_class": "PRICE_BUCKET",
                            "market_class_version": "9",
                            "parser_version": "7",
                            "buffer_version": "1",
                            "source_digest": "0x2a665575422287723c6e058754173f1539ddea29935dadf88057c5daf51c371f",
                            "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                            "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                          },
                          "category": "Crypto",
                          "subcategory": "btc",
                          "taxonomy_state": "MAPPED",
                          "taxonomy_source": "TEMPLATE",
                          "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                          "source": {
                            "provider": "HYPERLIQUID",
                            "network": "HYPEREVM_MAINNET",
                            "adapter_version": "totalis-gateway-v1"
                          },
                          "sides": [
                            {
                              "side": "YES",
                              "coin": "#57620",
                              "asset_id": "100057620",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "498340000000000000",
                                "best_bid": "20000000000000",
                                "best_ask": "996660000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T19:59:24.385Z",
                                "received_at": "2026-09-26T19:59:24.635079193Z"
                              }
                            },
                            {
                              "side": "NO",
                              "coin": "#57621",
                              "asset_id": "100057621",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "501660000000000000",
                                "best_bid": "3340000000000000",
                                "best_ask": "999980000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T19:59:24.385Z",
                                "received_at": "2026-09-26T19:59:24.635079193Z"
                              }
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "id": "market:1210",
                      "kind": "STANDALONE",
                      "native_question_id": null,
                      "title": "BTC above 100000 at 20261001-0000?",
                      "state": "ACTIVE",
                      "category": "Crypto",
                      "subcategory": "btc",
                      "taxonomy_state": "MAPPED",
                      "taxonomy_source": "TEMPLATE",
                      "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                      "source": {
                        "provider": "HYPERLIQUID",
                        "network": "HYPEREVM_MAINNET",
                        "adapter_version": "totalis-gateway-v1"
                      },
                      "markets": [
                        {
                          "outcome_id": "1210",
                          "native_question_id": null,
                          "title": "BTC above 100000 at 20261001-0000?",
                          "quote_asset": "USDC",
                          "state": "ACTIVE",
                          "result": {
                            "availability": "AVAILABLE",
                            "result_state": "UNRESOLVED"
                          },
                          "catalog_generation": "6100",
                          "metadata_revision": "6100",
                          "eligibility": {
                            "state": "ENABLED"
                          },
                          "deadline": {
                            "timing": {
                              "version": "1",
                              "network": "mainnet",
                              "template_id": "binaryPrice",
                              "scheduled_event_at": null,
                              "observation_ends_at": "1790812800",
                              "resolution_backstop_at": null,
                              "evidence_ends_at": null,
                              "settlement_not_before": null,
                              "admission_cutoff_at": "1790812800",
                              "observation_boundary": "INSTANT",
                              "settlement_boundary": "UNKNOWN",
                              "settlement_rule": "PRICE_OBSERVATION",
                              "admission_policy": "SOURCE_UPPER_BOUND",
                              "fixing_delay_seconds": 0,
                              "evidence_delay_seconds": 0,
                              "external_event": "DELISTING_OR_FINAL_PRICE",
                              "early_resolution": true
                            },
                            "availability": "AVAILABLE",
                            "resolution_deadline": "1790813700",
                            "safety_buffer_seconds": "900",
                            "derivation_kind": "STRUCTURED_METADATA",
                            "market_class": "PRICE_BINARY",
                            "market_class_version": "9",
                            "parser_version": "7",
                            "buffer_version": "1",
                            "source_digest": "0x59fed6135b332410d5ab500a86e7a349e071b82933571c07fb347763115619c7",
                            "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                            "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                          },
                          "category": "Crypto",
                          "subcategory": "btc",
                          "taxonomy_state": "MAPPED",
                          "taxonomy_source": "TEMPLATE",
                          "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                          "source": {
                            "provider": "HYPERLIQUID",
                            "network": "HYPEREVM_MAINNET",
                            "adapter_version": "totalis-gateway-v1"
                          },
                          "sides": [
                            {
                              "side": "YES",
                              "coin": "#12100",
                              "asset_id": "100012100",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "6030000000000000",
                                "best_bid": "6010000000000000",
                                "best_ask": "6050000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T19:59:24.385Z",
                                "received_at": "2026-09-26T19:59:24.728774008Z"
                              }
                            },
                            {
                              "side": "NO",
                              "coin": "#12101",
                              "asset_id": "100012101",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "993970000000000000",
                                "best_bid": "993950000000000000",
                                "best_ask": "993990000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T19:59:24.385Z",
                                "received_at": "2026-09-26T19:59:24.728774008Z"
                              }
                            }
                          ]
                        }
                      ]
                    }
                  ],
                  "catalog_generation": "6100",
                  "next_cursor": "eyJnIjo2MTAwLCJxIjoiZTQwNjA1ZTZhMjYyNjhhNWViODNjMTU1ZWE1ZGQxMmFlYjMzMTRmNmJhNWQ2N2Q0YjYwN2RlOTUxNTZlNGUxMiIsInIiOjEsImsiOiJTVEFOREFMT05FIiwiaSI6MTIxMH0",
                  "has_more": true
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_QUERY` (retry `NEVER`): A query parameter is malformed, out of range or not accepted by this operation. `field_violations` names it.\n- `INVALID_CURSOR` (retry `NEVER`): The cursor is malformed or was issued for a different query.\n- `UNSUPPORTED_BROWSE_CONTRACT` (retry `NEVER`): `X-Totalis-Browse-Contract` names an unsupported version.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_QUERY",
                                "INVALID_CURSOR",
                                "UNSUPPORTED_BROWSE_CONTRACT"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `STALE_CURSOR` (retry `REFRESH`): The cursor belongs to an older catalog or browse generation; restart from the first page.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "STALE_CURSOR"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "REFRESH"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `MARKET_DATA_UNAVAILABLE` (retry `BACKOFF`): No complete market catalog is available.\n- `BROWSE_UNAVAILABLE` (retry `BACKOFF`): The published browse view is unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "MARKET_DATA_UNAVAILABLE",
                                "BROWSE_UNAVAILABLE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/markets": {
      "get": {
        "operationId": "listMarkets",
        "summary": "List markets",
        "description": "Cursor-paginated active named HIP-4 outcomes grouped by native question. Fallback and settled outcomes are excluded; advisory catalog presence is never financial authority.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Subcategory"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Market catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketList"
                },
                "example": {
                  "items": [
                    {
                      "outcome_id": "1209",
                      "native_question_id": null,
                      "title": "HYPE touches 100 by 20261001-0000",
                      "quote_asset": "USDC",
                      "state": "ACTIVE",
                      "result": {
                        "availability": "AVAILABLE",
                        "result_state": "UNRESOLVED"
                      },
                      "catalog_generation": "6100",
                      "metadata_revision": "6100",
                      "eligibility": {
                        "state": "ENABLED"
                      },
                      "deadline": {
                        "timing": {
                          "version": "1",
                          "network": "mainnet",
                          "template_id": "priceTouch",
                          "scheduled_event_at": null,
                          "observation_ends_at": "1790812800",
                          "resolution_backstop_at": null,
                          "evidence_ends_at": null,
                          "settlement_not_before": null,
                          "admission_cutoff_at": "1790812800",
                          "observation_boundary": "INCLUSIVE",
                          "settlement_boundary": "UNKNOWN",
                          "settlement_rule": "TOUCH_OR_WINDOW_END",
                          "admission_policy": "SOURCE_UPPER_BOUND",
                          "fixing_delay_seconds": 0,
                          "evidence_delay_seconds": 0,
                          "external_event": "TOUCH_OR_DELISTING",
                          "early_resolution": true
                        },
                        "availability": "AVAILABLE",
                        "resolution_deadline": "1790813700",
                        "safety_buffer_seconds": "900",
                        "derivation_kind": "STRUCTURED_METADATA",
                        "market_class": "PRICE_TOUCH",
                        "market_class_version": "9",
                        "parser_version": "7",
                        "buffer_version": "1",
                        "source_digest": "0xaa411da4940f3d757af0acf98356d7c34d78d2c8b1fef9945eacb41b76b45489",
                        "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                        "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                      },
                      "category": "Crypto",
                      "subcategory": "other",
                      "taxonomy_state": "MAPPED",
                      "taxonomy_source": "TEMPLATE",
                      "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                      "source": {
                        "provider": "HYPERLIQUID",
                        "network": "HYPEREVM_MAINNET",
                        "adapter_version": "totalis-gateway-v1"
                      },
                      "sides": [
                        {
                          "side": "YES",
                          "coin": "#12090",
                          "asset_id": "100012090",
                          "reference": {
                            "availability": "AVAILABLE",
                            "source": "HYPERLIQUID_L2_BOOK",
                            "quality": "BOOK_MID",
                            "value": "240800000000000000",
                            "best_bid": "238600000000000000",
                            "best_ask": "243000000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "feed_generation": "1790451908175",
                            "source_time": "2026-09-26T19:59:09.298Z",
                            "received_at": "2026-09-26T19:59:09.72902044Z"
                          }
                        },
                        {
                          "side": "NO",
                          "coin": "#12091",
                          "asset_id": "100012091",
                          "reference": {
                            "availability": "AVAILABLE",
                            "source": "HYPERLIQUID_L2_BOOK",
                            "quality": "BOOK_MID",
                            "value": "759200000000000000",
                            "best_bid": "757000000000000000",
                            "best_ask": "761400000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "feed_generation": "1790451908175",
                            "source_time": "2026-09-26T19:59:09.298Z",
                            "received_at": "2026-09-26T19:59:09.72902044Z"
                          }
                        }
                      ]
                    },
                    {
                      "outcome_id": "1210",
                      "native_question_id": null,
                      "title": "BTC above 100000 at 20261001-0000?",
                      "quote_asset": "USDC",
                      "state": "ACTIVE",
                      "result": {
                        "availability": "AVAILABLE",
                        "result_state": "UNRESOLVED"
                      },
                      "catalog_generation": "6100",
                      "metadata_revision": "6100",
                      "eligibility": {
                        "state": "ENABLED"
                      },
                      "deadline": {
                        "timing": {
                          "version": "1",
                          "network": "mainnet",
                          "template_id": "binaryPrice",
                          "scheduled_event_at": null,
                          "observation_ends_at": "1790812800",
                          "resolution_backstop_at": null,
                          "evidence_ends_at": null,
                          "settlement_not_before": null,
                          "admission_cutoff_at": "1790812800",
                          "observation_boundary": "INSTANT",
                          "settlement_boundary": "UNKNOWN",
                          "settlement_rule": "PRICE_OBSERVATION",
                          "admission_policy": "SOURCE_UPPER_BOUND",
                          "fixing_delay_seconds": 0,
                          "evidence_delay_seconds": 0,
                          "external_event": "DELISTING_OR_FINAL_PRICE",
                          "early_resolution": true
                        },
                        "availability": "AVAILABLE",
                        "resolution_deadline": "1790813700",
                        "safety_buffer_seconds": "900",
                        "derivation_kind": "STRUCTURED_METADATA",
                        "market_class": "PRICE_BINARY",
                        "market_class_version": "9",
                        "parser_version": "7",
                        "buffer_version": "1",
                        "source_digest": "0x59fed6135b332410d5ab500a86e7a349e071b82933571c07fb347763115619c7",
                        "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                        "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                      },
                      "category": "Crypto",
                      "subcategory": "btc",
                      "taxonomy_state": "MAPPED",
                      "taxonomy_source": "TEMPLATE",
                      "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                      "source": {
                        "provider": "HYPERLIQUID",
                        "network": "HYPEREVM_MAINNET",
                        "adapter_version": "totalis-gateway-v1"
                      },
                      "sides": [
                        {
                          "side": "YES",
                          "coin": "#12100",
                          "asset_id": "100012100",
                          "reference": {
                            "availability": "AVAILABLE",
                            "source": "HYPERLIQUID_L2_BOOK",
                            "quality": "BOOK_MID",
                            "value": "6030000000000000",
                            "best_bid": "6010000000000000",
                            "best_ask": "6050000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "feed_generation": "1790451908175",
                            "source_time": "2026-09-26T19:59:09.298Z",
                            "received_at": "2026-09-26T19:59:09.751601549Z"
                          }
                        },
                        {
                          "side": "NO",
                          "coin": "#12101",
                          "asset_id": "100012101",
                          "reference": {
                            "availability": "AVAILABLE",
                            "source": "HYPERLIQUID_L2_BOOK",
                            "quality": "BOOK_MID",
                            "value": "993970000000000000",
                            "best_bid": "993950000000000000",
                            "best_ask": "993990000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "feed_generation": "1790451908175",
                            "source_time": "2026-09-26T19:59:09.298Z",
                            "received_at": "2026-09-26T19:59:09.751601549Z"
                          }
                        }
                      ]
                    }
                  ],
                  "catalog_generation": "6100",
                  "next_cursor": "eyJnIjo2MTAwLCJhIjoxMjEwLCJrIjoibWFya2V0In0",
                  "has_more": true
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_QUERY` (retry `NEVER`): A query parameter is malformed, out of range or not accepted by this operation. `field_violations` names it.\n- `INVALID_CURSOR` (retry `NEVER`): The cursor is malformed or was issued for a different query.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_QUERY",
                                "INVALID_CURSOR"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `STALE_CURSOR` (retry `REFRESH`): The cursor belongs to an older catalog or browse generation; restart from the first page.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "STALE_CURSOR"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "REFRESH"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `MARKET_DATA_UNAVAILABLE` (retry `BACKOFF`): No complete market catalog is available.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "MARKET_DATA_UNAVAILABLE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/markets/{outcome_id}/metadata": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OutcomeId"
        }
      ],
      "get": {
        "operationId": "getMarketMetadata",
        "summary": "Get market metadata",
        "description": "Version 1 product metadata from one current catalog generation. Native rules and labels are display evidence, not settlement or admission authority. Missing native labels are null. An optional catalog_generation pins a consumer read; mismatch is 409. Old producers that did not preserve source fields return 503.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "responses": {
          "200": {
            "description": "Qualified source/product metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductMetadata"
                },
                "example": {
                  "metadata_revision": "6100",
                  "version": "1",
                  "catalog_generation": "6100",
                  "source_revision_digest": "0x019b5dc06e569f428c20c419cd86b138b734bdcb82f9d55e3c7d392e74b4b012",
                  "outcome_id": "1209",
                  "native_question_id": null,
                  "source": {
                    "provider": "HYPERLIQUID",
                    "network": "HYPEREVM_MAINNET",
                    "adapter_version": "totalis-gateway-v1"
                  },
                  "support_state": "SUPPORTED",
                  "relationship": "STANDALONE",
                  "content": {
                    "native_name": "template:priceTouch",
                    "native_description": "perp:HYPE|priceDescription:HYPE-USDC perp mark |seconds:1|target:100|time:20261001-0000",
                    "template_id": "priceTouch",
                    "definition": {
                      "id": "priceTouch",
                      "role": {
                        "standaloneOutcome": {
                          "sideNames": [
                            "Yes",
                            "No"
                          ]
                        }
                      },
                      "name": "{perp} touches {target} by {time}",
                      "description": "The market resolves to Yes if the {perp} price touches {target} at or before {time}, and otherwise resolves to No. The price counts as touched once the {seconds}-second TWAP of {priceDescription} price equals or crosses {target} at any time after this market is deployed and at or before {time}; the market can settle as soon as a touch occurs. If {perp} is delisted before this market settles, the {perp} settlement price at delisting counts as the final price for the touch determination, and the market can settle at delisting if the price has not touched {target} by then. metadata=category:price|subCategory:N/A|semanticRestriction:This market must refer to the price of a Hyperliquid perp.",
                      "keywords": [
                        [
                          "perp",
                          "hlPerp"
                        ],
                        [
                          "priceDescription",
                          "string"
                        ],
                        [
                          "seconds",
                          "uInt"
                        ],
                        [
                          "target",
                          "uDecimal"
                        ],
                        [
                          "time",
                          "dateTime"
                        ]
                      ]
                    },
                    "definition_digest": "0xd29500b774028bdfee1d14e474491d5cb61bd85159af0d75d2c9992c5286e88b",
                    "qualification": "ACCEPTED_TEMPLATE",
                    "keywords": [
                      [
                        "perp",
                        "HYPE"
                      ],
                      [
                        "priceDescription",
                        "HYPE-USDC perp mark "
                      ],
                      [
                        "seconds",
                        "1"
                      ],
                      [
                        "target",
                        "100"
                      ],
                      [
                        "time",
                        "20261001-0000"
                      ]
                    ],
                    "title": "HYPE touches 100 by 20261001-0000",
                    "rules": "The market resolves to Yes if the HYPE price touches 100 at or before 20261001-0000, and otherwise resolves to No. The price counts as touched once the 1-second TWAP of HYPE-USDC perp mark  price equals or crosses 100 at any time after this market is deployed and at or before 20261001-0000; the market can settle as soon as a touch occurs. If HYPE is delisted before this market settles, the HYPE settlement price at delisting counts as the final price for the touch determination, and the market can settle at delisting if the price has not touched 100 by then. metadata=category:price|subCategory:N/A|semanticRestriction:This market must refer to the price of a Hyperliquid perp."
                  },
                  "parent": null,
                  "sides": [
                    {
                      "side": "YES",
                      "native_name": "template:Yes",
                      "label": "Yes"
                    },
                    {
                      "side": "NO",
                      "native_name": "template:No",
                      "label": "No"
                    }
                  ],
                  "quote_asset": "USDC",
                  "venue": "out",
                  "venue_deployer": "0x0c46eb73fae2816f219fcf11f50d6d3c59b5819e",
                  "deployer": null,
                  "deployer_fee_scale": "1.0",
                  "fee_scale": "1.0",
                  "frequency": null,
                  "timing": {
                    "version": "1",
                    "network": "mainnet",
                    "template_id": "priceTouch",
                    "scheduled_event_at": null,
                    "observation_ends_at": "1790812800",
                    "resolution_backstop_at": null,
                    "evidence_ends_at": null,
                    "settlement_not_before": null,
                    "admission_cutoff_at": "1790812800",
                    "observation_boundary": "INCLUSIVE",
                    "settlement_boundary": "UNKNOWN",
                    "settlement_rule": "TOUCH_OR_WINDOW_END",
                    "admission_policy": "SOURCE_UPPER_BOUND",
                    "fixing_delay_seconds": 0,
                    "evidence_delay_seconds": 0,
                    "external_event": "TOUCH_OR_DELISTING",
                    "early_resolution": true
                  },
                  "category": "Crypto",
                  "subcategory": "other",
                  "taxonomy_state": "MAPPED",
                  "taxonomy_source": "TEMPLATE",
                  "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.\n- `INVALID_QUERY` (retry `NEVER`): A query parameter is malformed, out of range or not accepted by this operation. `field_violations` names it.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_REQUEST",
                                "INVALID_QUERY"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "NOT_FOUND"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `STALE_CATALOG` (retry `REFRESH`): The requested catalog generation is not the current one; re-read the catalog.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "STALE_CATALOG"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "REFRESH"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `MARKET_DATA_UNAVAILABLE` (retry `BACKOFF`): No complete market catalog is available.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "MARKET_DATA_UNAVAILABLE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "catalog_generation",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PositiveInt64"
            },
            "description": "Catalog generation to pin the read to; any other generation than the current one returns 409 STALE_CATALOG.",
            "example": "6109"
          }
        ],
        "security": [
          {}
        ]
      }
    },
    "/v1/markets/{outcome_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OutcomeId"
        }
      ],
      "get": {
        "operationId": "getMarket",
        "summary": "Get market",
        "description": "One normalized outcome and its canonical sides.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "responses": {
          "200": {
            "description": "Market detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDetail"
                },
                "example": {
                  "market": {
                    "outcome_id": "1209",
                    "native_question_id": null,
                    "title": "HYPE touches 100 by 20261001-0000",
                    "quote_asset": "USDC",
                    "state": "ACTIVE",
                    "result": {
                      "availability": "AVAILABLE",
                      "result_state": "UNRESOLVED"
                    },
                    "catalog_generation": "6100",
                    "metadata_revision": "6100",
                    "eligibility": {
                      "state": "ENABLED"
                    },
                    "deadline": {
                      "timing": {
                        "version": "1",
                        "network": "mainnet",
                        "template_id": "priceTouch",
                        "scheduled_event_at": null,
                        "observation_ends_at": "1790812800",
                        "resolution_backstop_at": null,
                        "evidence_ends_at": null,
                        "settlement_not_before": null,
                        "admission_cutoff_at": "1790812800",
                        "observation_boundary": "INCLUSIVE",
                        "settlement_boundary": "UNKNOWN",
                        "settlement_rule": "TOUCH_OR_WINDOW_END",
                        "admission_policy": "SOURCE_UPPER_BOUND",
                        "fixing_delay_seconds": 0,
                        "evidence_delay_seconds": 0,
                        "external_event": "TOUCH_OR_DELISTING",
                        "early_resolution": true
                      },
                      "availability": "AVAILABLE",
                      "resolution_deadline": "1790813700",
                      "safety_buffer_seconds": "900",
                      "derivation_kind": "STRUCTURED_METADATA",
                      "market_class": "PRICE_TOUCH",
                      "market_class_version": "9",
                      "parser_version": "7",
                      "buffer_version": "1",
                      "source_digest": "0xaa411da4940f3d757af0acf98356d7c34d78d2c8b1fef9945eacb41b76b45489",
                      "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                      "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                    },
                    "category": "Crypto",
                    "subcategory": "other",
                    "taxonomy_state": "MAPPED",
                    "taxonomy_source": "TEMPLATE",
                    "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                    "source": {
                      "provider": "HYPERLIQUID",
                      "network": "HYPEREVM_MAINNET",
                      "adapter_version": "totalis-gateway-v1"
                    },
                    "sides": [
                      {
                        "side": "YES",
                        "coin": "#12090",
                        "asset_id": "100012090",
                        "reference": {
                          "availability": "AVAILABLE",
                          "source": "HYPERLIQUID_L2_BOOK",
                          "quality": "BOOK_MID",
                          "value": "240800000000000000",
                          "best_bid": "238600000000000000",
                          "best_ask": "243000000000000000",
                          "scale": "1000000000000000000",
                          "freshness": "FRESH",
                          "feed_generation": "1790451908175",
                          "source_time": "2026-09-26T19:59:24.736Z",
                          "received_at": "2026-09-26T19:59:25.086007173Z"
                        }
                      },
                      {
                        "side": "NO",
                        "coin": "#12091",
                        "asset_id": "100012091",
                        "reference": {
                          "availability": "AVAILABLE",
                          "source": "HYPERLIQUID_L2_BOOK",
                          "quality": "BOOK_MID",
                          "value": "759200000000000000",
                          "best_bid": "757000000000000000",
                          "best_ask": "761400000000000000",
                          "scale": "1000000000000000000",
                          "freshness": "FRESH",
                          "feed_generation": "1790451908175",
                          "source_time": "2026-09-26T19:59:24.736Z",
                          "received_at": "2026-09-26T19:59:25.086007173Z"
                        }
                      }
                    ]
                  },
                  "question": null,
                  "feed_generation": "1790451908175",
                  "updated_at": "2026-09-26T19:59:25.086007173Z"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_REQUEST"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "NOT_FOUND"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `MARKET_DATA_UNAVAILABLE` (retry `BACKOFF`): No complete market catalog is available.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "MARKET_DATA_UNAVAILABLE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/questions": {
      "get": {
        "operationId": "listQuestions",
        "summary": "List questions",
        "description": "Cursor-paginated native HIP-4 questions. Each item embeds its complete ordered named-outcome market set; pagination never splits a question.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Subcategory"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Question catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "items",
                    "catalog_generation",
                    "next_cursor",
                    "has_more"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "maxItems": 200,
                      "items": {
                        "$ref": "#/components/schemas/Question"
                      },
                      "description": "Questions on this page, each with its complete ordered market set."
                    },
                    "catalog_generation": {
                      "$ref": "#/components/schemas/PositiveInt64",
                      "description": "Catalog generation this page was read from; the cursor is bound to it."
                    },
                    "next_cursor": {
                      "$ref": "#/components/schemas/NextCursor",
                      "description": "Cursor for the next page; null when has_more is false."
                    },
                    "has_more": {
                      "type": "boolean",
                      "description": "True when another page follows; send next_cursor to read it."
                    }
                  }
                },
                "example": {
                  "items": [
                    {
                      "native_question_id": "347",
                      "title": "UEFA Nations League League A, Matchday 2: Spain v Croatia",
                      "outcome_ids": [
                        "5871",
                        "5872",
                        "5873"
                      ],
                      "state": "ACTIVE",
                      "category": "Sports",
                      "subcategory": "other",
                      "taxonomy_state": "MAPPED",
                      "taxonomy_source": "TEMPLATE",
                      "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                      "source": {
                        "provider": "HYPERLIQUID",
                        "network": "HYPEREVM_MAINNET",
                        "adapter_version": "totalis-gateway-v1"
                      },
                      "markets": [
                        {
                          "outcome_id": "5871",
                          "native_question_id": "347",
                          "title": "Spain",
                          "quote_asset": "USDC",
                          "state": "ACTIVE",
                          "result": {
                            "availability": "AVAILABLE",
                            "result_state": "UNRESOLVED"
                          },
                          "catalog_generation": "6100",
                          "metadata_revision": "6100",
                          "eligibility": {
                            "state": "ENABLED"
                          },
                          "deadline": {
                            "timing": {
                              "version": "1",
                              "network": "mainnet",
                              "template_id": "sportsContestResult",
                              "scheduled_event_at": "1790707500",
                              "observation_ends_at": null,
                              "resolution_backstop_at": "1790793900",
                              "evidence_ends_at": null,
                              "settlement_not_before": null,
                              "admission_cutoff_at": "1790707500",
                              "observation_boundary": "UNKNOWN",
                              "settlement_boundary": "UNKNOWN",
                              "settlement_rule": "EARLIER_COMPLETION_FIXING_OR_BACKSTOP",
                              "admission_policy": "BEFORE_SCHEDULED_EVENT",
                              "fixing_delay_seconds": 3600,
                              "evidence_delay_seconds": 0,
                              "external_event": "OFFICIAL_COUNTED_PLAY_COMPLETION",
                              "early_resolution": true
                            },
                            "availability": "AVAILABLE",
                            "resolution_deadline": "1790708400",
                            "safety_buffer_seconds": "900",
                            "derivation_kind": "STRUCTURED_METADATA",
                            "market_class": "SPORTS_CONTEST",
                            "market_class_version": "9",
                            "parser_version": "7",
                            "buffer_version": "1",
                            "source_digest": "0x42a740ddbc05a8942b31b02af3b47654c80f377801e159bb0466e1cb181fbe1b",
                            "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                            "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                          },
                          "category": "Sports",
                          "subcategory": "other",
                          "taxonomy_state": "MAPPED",
                          "taxonomy_source": "TEMPLATE",
                          "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                          "source": {
                            "provider": "HYPERLIQUID",
                            "network": "HYPEREVM_MAINNET",
                            "adapter_version": "totalis-gateway-v1"
                          },
                          "sides": [
                            {
                              "side": "YES",
                              "coin": "#58710",
                              "asset_id": "100058710",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "800990000000000000",
                                "best_bid": "800000000000000000",
                                "best_ask": "801980000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T20:00:05.651Z",
                                "received_at": "2026-09-26T20:00:06.202659638Z"
                              }
                            },
                            {
                              "side": "NO",
                              "coin": "#58711",
                              "asset_id": "100058711",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "199010000000000000",
                                "best_bid": "198020000000000000",
                                "best_ask": "200000000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T20:00:05.651Z",
                                "received_at": "2026-09-26T20:00:06.202659638Z"
                              }
                            }
                          ]
                        },
                        {
                          "outcome_id": "5872",
                          "native_question_id": "347",
                          "title": "Draw",
                          "quote_asset": "USDC",
                          "state": "ACTIVE",
                          "result": {
                            "availability": "AVAILABLE",
                            "result_state": "UNRESOLVED"
                          },
                          "catalog_generation": "6100",
                          "metadata_revision": "6100",
                          "eligibility": {
                            "state": "ENABLED"
                          },
                          "deadline": {
                            "timing": {
                              "version": "1",
                              "network": "mainnet",
                              "template_id": "sportsContestResult",
                              "scheduled_event_at": "1790707500",
                              "observation_ends_at": null,
                              "resolution_backstop_at": "1790793900",
                              "evidence_ends_at": null,
                              "settlement_not_before": null,
                              "admission_cutoff_at": "1790707500",
                              "observation_boundary": "UNKNOWN",
                              "settlement_boundary": "UNKNOWN",
                              "settlement_rule": "EARLIER_COMPLETION_FIXING_OR_BACKSTOP",
                              "admission_policy": "BEFORE_SCHEDULED_EVENT",
                              "fixing_delay_seconds": 3600,
                              "evidence_delay_seconds": 0,
                              "external_event": "OFFICIAL_COUNTED_PLAY_COMPLETION",
                              "early_resolution": true
                            },
                            "availability": "AVAILABLE",
                            "resolution_deadline": "1790708400",
                            "safety_buffer_seconds": "900",
                            "derivation_kind": "STRUCTURED_METADATA",
                            "market_class": "SPORTS_CONTEST",
                            "market_class_version": "9",
                            "parser_version": "7",
                            "buffer_version": "1",
                            "source_digest": "0x42a740ddbc05a8942b31b02af3b47654c80f377801e159bb0466e1cb181fbe1b",
                            "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                            "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                          },
                          "category": "Sports",
                          "subcategory": "other",
                          "taxonomy_state": "MAPPED",
                          "taxonomy_source": "TEMPLATE",
                          "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                          "source": {
                            "provider": "HYPERLIQUID",
                            "network": "HYPEREVM_MAINNET",
                            "adapter_version": "totalis-gateway-v1"
                          },
                          "sides": [
                            {
                              "side": "YES",
                              "coin": "#58720",
                              "asset_id": "100058720",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "530000000000000000",
                                "best_bid": "70010000000000000",
                                "best_ask": "989990000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T20:00:05.583Z",
                                "received_at": "2026-09-26T20:00:06.151331886Z"
                              }
                            },
                            {
                              "side": "NO",
                              "coin": "#58721",
                              "asset_id": "100058721",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "470000000000000000",
                                "best_bid": "10010000000000000",
                                "best_ask": "929990000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T20:00:05.583Z",
                                "received_at": "2026-09-26T20:00:06.151331886Z"
                              }
                            }
                          ]
                        },
                        {
                          "outcome_id": "5873",
                          "native_question_id": "347",
                          "title": "Croatia",
                          "quote_asset": "USDC",
                          "state": "ACTIVE",
                          "result": {
                            "availability": "AVAILABLE",
                            "result_state": "UNRESOLVED"
                          },
                          "catalog_generation": "6100",
                          "metadata_revision": "6100",
                          "eligibility": {
                            "state": "ENABLED"
                          },
                          "deadline": {
                            "timing": {
                              "version": "1",
                              "network": "mainnet",
                              "template_id": "sportsContestResult",
                              "scheduled_event_at": "1790707500",
                              "observation_ends_at": null,
                              "resolution_backstop_at": "1790793900",
                              "evidence_ends_at": null,
                              "settlement_not_before": null,
                              "admission_cutoff_at": "1790707500",
                              "observation_boundary": "UNKNOWN",
                              "settlement_boundary": "UNKNOWN",
                              "settlement_rule": "EARLIER_COMPLETION_FIXING_OR_BACKSTOP",
                              "admission_policy": "BEFORE_SCHEDULED_EVENT",
                              "fixing_delay_seconds": 3600,
                              "evidence_delay_seconds": 0,
                              "external_event": "OFFICIAL_COUNTED_PLAY_COMPLETION",
                              "early_resolution": true
                            },
                            "availability": "AVAILABLE",
                            "resolution_deadline": "1790708400",
                            "safety_buffer_seconds": "900",
                            "derivation_kind": "STRUCTURED_METADATA",
                            "market_class": "SPORTS_CONTEST",
                            "market_class_version": "9",
                            "parser_version": "7",
                            "buffer_version": "1",
                            "source_digest": "0x42a740ddbc05a8942b31b02af3b47654c80f377801e159bb0466e1cb181fbe1b",
                            "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                            "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                          },
                          "category": "Sports",
                          "subcategory": "other",
                          "taxonomy_state": "MAPPED",
                          "taxonomy_source": "TEMPLATE",
                          "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                          "source": {
                            "provider": "HYPERLIQUID",
                            "network": "HYPEREVM_MAINNET",
                            "adapter_version": "totalis-gateway-v1"
                          },
                          "sides": [
                            {
                              "side": "YES",
                              "coin": "#58730",
                              "asset_id": "100058730",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "532140000000000000",
                                "best_bid": "74280000000000000",
                                "best_ask": "990000000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T20:00:05.583Z",
                                "received_at": "2026-09-26T20:00:06.150418101Z"
                              }
                            },
                            {
                              "side": "NO",
                              "coin": "#58731",
                              "asset_id": "100058731",
                              "reference": {
                                "availability": "AVAILABLE",
                                "source": "HYPERLIQUID_L2_BOOK",
                                "quality": "BOOK_MID",
                                "value": "467860000000000000",
                                "best_bid": "10000000000000000",
                                "best_ask": "925720000000000000",
                                "scale": "1000000000000000000",
                                "freshness": "FRESH",
                                "feed_generation": "1790451908175",
                                "source_time": "2026-09-26T20:00:05.583Z",
                                "received_at": "2026-09-26T20:00:06.150418101Z"
                              }
                            }
                          ]
                        }
                      ],
                      "relationships": [
                        {
                          "kind": "SAME_QUESTION",
                          "outcome_ids": [
                            "5871",
                            "5872",
                            "5873"
                          ]
                        }
                      ]
                    }
                  ],
                  "catalog_generation": "6100",
                  "next_cursor": "eyJnIjo2MTAwLCJhIjozNDcsImsiOiJxdWVzdGlvbiJ9",
                  "has_more": true
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_QUERY` (retry `NEVER`): A query parameter is malformed, out of range or not accepted by this operation. `field_violations` names it.\n- `INVALID_CURSOR` (retry `NEVER`): The cursor is malformed or was issued for a different query.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_QUERY",
                                "INVALID_CURSOR"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `STALE_CURSOR` (retry `REFRESH`): The cursor belongs to an older catalog or browse generation; restart from the first page.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "STALE_CURSOR"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "REFRESH"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `MARKET_DATA_UNAVAILABLE` (retry `BACKOFF`): No complete market catalog is available.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "MARKET_DATA_UNAVAILABLE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/questions/{question_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/QuestionId"
        }
      ],
      "get": {
        "operationId": "getQuestion",
        "summary": "Get question",
        "description": "Verified relationship graph for one real native question.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "responses": {
          "200": {
            "description": "Question graph",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                },
                "example": {
                  "native_question_id": "346",
                  "title": "BTC price range",
                  "outcome_ids": [
                    "5760",
                    "5761",
                    "5762"
                  ],
                  "state": "ACTIVE",
                  "category": "Crypto",
                  "subcategory": "btc",
                  "taxonomy_state": "MAPPED",
                  "taxonomy_source": "TEMPLATE",
                  "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                  "source": {
                    "provider": "HYPERLIQUID",
                    "network": "HYPEREVM_MAINNET",
                    "adapter_version": "totalis-gateway-v1"
                  },
                  "markets": [
                    {
                      "outcome_id": "5760",
                      "native_question_id": "346",
                      "title": "Below 82,213",
                      "quote_asset": "USDC",
                      "state": "ACTIVE",
                      "result": {
                        "availability": "AVAILABLE",
                        "result_state": "UNRESOLVED"
                      },
                      "catalog_generation": "6100",
                      "metadata_revision": "6100",
                      "eligibility": {
                        "state": "ENABLED"
                      },
                      "deadline": {
                        "timing": null,
                        "availability": "AVAILABLE",
                        "resolution_deadline": "1790489700",
                        "safety_buffer_seconds": "900",
                        "derivation_kind": "STRUCTURED_METADATA",
                        "market_class": "PRICE_BUCKET",
                        "market_class_version": "9",
                        "parser_version": "7",
                        "buffer_version": "1",
                        "source_digest": "0x2a665575422287723c6e058754173f1539ddea29935dadf88057c5daf51c371f",
                        "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                        "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                      },
                      "category": "Crypto",
                      "subcategory": "btc",
                      "taxonomy_state": "MAPPED",
                      "taxonomy_source": "TEMPLATE",
                      "taxonomy_version": "f790065500d69a5ae62832cc845c539f65335017ba3e0d3be5da83506ae4bfd8",
                      "source": {
                        "provider": "HYPERLIQUID",
                        "network": "HYPEREVM_MAINNET",
                        "adapter_version": "totalis-gateway-v1"
                      },
                      "sides": [
                        {
                          "side": "YES",
                          "coin": "#57600",
                          "asset_id": "100057600",
                          "reference": {
                            "availability": "AVAILABLE",
                            "source": "HYPERLIQUID_L2_BOOK",
                            "quality": "BOOK_MID",
                            "value": "7010000000000000",
                            "best_bid": "20000000000000",
                            "best_ask": "14000000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "feed_generation": "1790451908175",
                            "source_time": "2026-09-26T19:59:27.26Z",
                            "received_at": "2026-09-26T19:59:27.553736921Z"
                          }
                        },
                        {
                          "side": "NO",
                          "coin": "#57601",
                          "asset_id": "100057601",
                          "reference": {
                            "availability": "AVAILABLE",
                            "source": "HYPERLIQUID_L2_BOOK",
                            "quality": "BOOK_MID",
                            "value": "992990000000000000",
                            "best_bid": "986000000000000000",
                            "best_ask": "999980000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "feed_generation": "1790451908175",
                            "source_time": "2026-09-26T19:59:27.26Z",
                            "received_at": "2026-09-26T19:59:27.553736921Z"
                          }
                        }
                      ]
                    },
                    {
                      "outcome_id": "5761",
                      "native_question_id": "346",
                      "title": "82,213 to below 85,568",
                      "quote_asset": "USDC",
                      "state": "ACTIVE",
                      "result": {
                        "availability": "AVAILABLE",
                        "result_state": "UNRESOLVED"
                      },
                      "catalog_generation": "6100",
                      "metadata_revision": "6100",
                      "eligibility": {
                        "state": "ENABLED"
                      },
                      "deadline": {
                        "timing": null,
                        "availability": "AVAILABLE",
                        "resolution_deadline": "1790489700",
                        "safety_buffer_seconds": "900",
                        "derivation_kind": "STRUCTURED_METADATA",
                        "market_class": "PRICE_BUCKET",
                        "market_class_version": "9",
                        "parser_version": "7",
                        "buffer_version": "1",
                        "source_digest": "0x2a665575422287723c6e058754173f1539ddea29935dadf88057c5daf51c371f",
                        "grammar_digest": "0xa250f6adb29787a2e8ef7fdd4638eaf76d1345d4134f48fc4260f59a4af79340",
                        "fixture_digest": "0xe9e07b6cfd1e1c71459babf59428bfb40a11ae8aa577fa077e4505daa2451878"
                      },
[...]
