{
  "openapi": "3.1.1",
  "info": {
    "title": "Totalis Hyperliquid API",
    "description": "REST API for Totalis singles and parlays on Hyperliquid HIP-4 outcome markets, for client integrations and external market makers.\n\nAuthenticate with a scoped API key created in the Totalis app, sent as `Authorization: Bearer <key>`. Public market reads need no key. Balance-affecting commands also carry the wallet or maker signature the HyperEVM contract verifies.\n\nAmounts are base-10 strings in native USDC atomic units, large identifiers are decimal strings, and every command `POST` requires an `Idempotency-Key` header.\n\nEvery error is `{error: {code, message, retry, request_id, field_violations}}`. `code` is stable; each operation lists the codes it returns per status. `retry` is `NEVER` (stop), `BACKOFF` (resend the same request with the same `Idempotency-Key` after `Retry-After` seconds) or `REFRESH` (re-read state, then send a new request with a new key). `field_violations` names invalid inputs by JSON pointer, such as `/legs/0/side`.",
    "version": "122.0.0-quote-kinds"
  },
  "servers": [
    {
      "url": "https://hip4-api.totalis.trade",
      "description": "Production public edge"
    },
    {
      "url": "https://hip4-api-staging.totalis.trade",
      "description": "Staging and chain-998 public edge"
    }
  ],
  "tags": [
    {
      "name": "Markets",
      "description": "HIP-4 markets, their sides and price history. No API key needed."
    },
    {
      "name": "RFQs & Quotes",
      "description": "RFQs and the quotes that answer them: what a taker calls, then what a maker calls."
    },
    {
      "name": "Positions",
      "description": "Positions the account holds, or its maker backs."
    },
    {
      "name": "Account",
      "description": "The account a key acts for: identity, balances, activity, operations and withdrawals."
    },
    {
      "name": "Makers",
      "description": "The rest of a maker's setup after Making: capital and collateral."
    },
    {
      "name": "Deployment",
      "description": "The contract deployment every signature is made against."
    },
    {
      "name": "WebSocket",
      "description": "The authenticated WebSocket for account and maker updates."
    }
  ],
  "paths": {
    "/v1/markets": {
      "get": {
        "operationId": "listMarkets",
        "summary": "List markets",
        "description": "List active markets, grouped by question.\n\nNo API key required.",
        "tags": [
          "Markets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Subcategory"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "One page of active markets, grouped by question. Each market is one HIP-4 outcome with its YES and NO sides; fallback and settled outcomes are left out. A listed market is not a promise that an RFQ on it will be quoted or accepted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketList"
                },
                "example": {
                  "items": [
                    {
                      "outcome_id": "1209",
                      "native_question_id": null,
                      "title": "HYPE touches 100 by 20261001-0000",
                      "state": "ACTIVE",
                      "result": {
                        "availability": "AVAILABLE",
                        "result_state": "UNRESOLVED"
                      },
                      "metadata_revision": "6100",
                      "eligibility": {
                        "state": "ENABLED"
                      },
                      "category": "Crypto",
                      "subcategory": "other",
                      "sides": [
                        {
                          "side": "YES",
                          "coin": "#12090",
                          "reference": {
                            "availability": "AVAILABLE",
                            "quality": "BOOK_MID",
                            "value": "240800000000000000",
                            "best_bid": "238600000000000000",
                            "best_ask": "243000000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "received_at": "2026-09-26T19:59:09.72902044Z"
                          }
                        },
                        {
                          "side": "NO",
                          "coin": "#12091",
                          "reference": {
                            "availability": "AVAILABLE",
                            "quality": "BOOK_MID",
                            "value": "759200000000000000",
                            "best_bid": "757000000000000000",
                            "best_ask": "761400000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "received_at": "2026-09-26T19:59:09.72902044Z"
                          }
                        }
                      ],
                      "dates": {
                        "event": null,
                        "result_by": null,
                        "resolves_after": null,
                        "scheduled_event_at": null,
                        "observation_ends_at": "1790812800",
                        "market_class": "PRICE_TOUCH"
                      }
                    },
                    {
                      "outcome_id": "1210",
                      "native_question_id": null,
                      "title": "BTC above 100000 at 20261001-0000?",
                      "state": "ACTIVE",
                      "result": {
                        "availability": "AVAILABLE",
                        "result_state": "UNRESOLVED"
                      },
                      "metadata_revision": "6100",
                      "eligibility": {
                        "state": "ENABLED"
                      },
                      "category": "Crypto",
                      "subcategory": "btc",
                      "sides": [
                        {
                          "side": "YES",
                          "coin": "#12100",
                          "reference": {
                            "availability": "AVAILABLE",
                            "quality": "BOOK_MID",
                            "value": "6030000000000000",
                            "best_bid": "6010000000000000",
                            "best_ask": "6050000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "received_at": "2026-09-26T19:59:09.751601549Z"
                          }
                        },
                        {
                          "side": "NO",
                          "coin": "#12101",
                          "reference": {
                            "availability": "AVAILABLE",
                            "quality": "BOOK_MID",
                            "value": "993970000000000000",
                            "best_bid": "993950000000000000",
                            "best_ask": "993990000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "received_at": "2026-09-26T19:59:09.751601549Z"
                          }
                        }
                      ],
                      "dates": {
                        "event": null,
                        "result_by": null,
                        "resolves_after": null,
                        "scheduled_event_at": null,
                        "observation_ends_at": "1790812800",
                        "market_class": "PRICE_BINARY"
                      }
                    }
                  ],
                  "catalog_generation": "6100",
                  "next_cursor": "eyJnIjo2MTAwLCJhIjoxMjEwLCJrIjoibWFya2V0In0",
                  "has_more": true
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_QUERY` (retry `NEVER`): A query parameter is malformed, out of range or not accepted by this operation. `field_violations` names it.\n- `INVALID_CURSOR` (retry `NEVER`): The cursor is malformed or was issued for a different query.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `STALE_CURSOR` (retry `REFRESH`): The cursor belongs to an older catalog or browse generation; restart from the first page.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `MARKET_DATA_UNAVAILABLE` (retry `BACKOFF`): No complete market catalog is available.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/markets/list-markets"
        }
      }
    },
    "/v1/markets/{outcome_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OutcomeId"
        }
      ],
      "get": {
        "operationId": "getMarket",
        "summary": "Get market",
        "description": "Get one market with its YES and NO sides, product details, current round and 24-hour stats.\n\nNo API key required.",
        "tags": [
          "Markets"
        ],
        "responses": {
          "200": {
            "description": "The market with its YES and NO sides, product details, current round and 24-hour stats.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDetail"
                },
                "example": {
                  "catalog_generation": "6100",
                  "market": {
                    "outcome_id": "1209",
                    "native_question_id": null,
                    "title": "HYPE touches 100 by 20261001-0000",
                    "state": "ACTIVE",
                    "result": {
                      "availability": "AVAILABLE",
                      "result_state": "UNRESOLVED"
                    },
                    "metadata_revision": "6100",
                    "eligibility": {
                      "state": "ENABLED"
                    },
                    "category": "Crypto",
                    "subcategory": "other",
                    "sides": [
                      {
                        "side": "YES",
                        "coin": "#12090",
                        "reference": {
                          "availability": "AVAILABLE",
                          "quality": "BOOK_MID",
                          "value": "240800000000000000",
                          "best_bid": "238600000000000000",
                          "best_ask": "243000000000000000",
                          "scale": "1000000000000000000",
                          "freshness": "FRESH",
                          "received_at": "2026-09-26T19:59:25.086007173Z"
                        }
                      },
                      {
                        "side": "NO",
                        "coin": "#12091",
                        "reference": {
                          "availability": "AVAILABLE",
                          "quality": "BOOK_MID",
                          "value": "759200000000000000",
                          "best_bid": "757000000000000000",
                          "best_ask": "761400000000000000",
                          "scale": "1000000000000000000",
                          "freshness": "FRESH",
                          "received_at": "2026-09-26T19:59:25.086007173Z"
                        }
                      }
                    ],
                    "dates": {
                      "event": null,
                      "result_by": null,
                      "resolves_after": null,
                      "scheduled_event_at": null,
                      "observation_ends_at": "1790812800",
                      "market_class": "PRICE_TOUCH"
                    }
                  },
                  "question": null,
                  "series_id": "f373fade6a46dc0e",
                  "metadata": {
                    "content": {
                      "title": "HYPE touches 100 by 20261001-0000",
                      "rules": "The market resolves to Yes if the HYPE price touches 100 at or before 20261001-0000, and otherwise resolves to No. The price counts as touched once the 1-second TWAP of HYPE-USDC perp mark  price equals or crosses 100 at any time after this market is deployed and at or before 20261001-0000; the market can settle as soon as a touch occurs. If HYPE is delisted before this market settles, the HYPE settlement price at delisting counts as the final price for the touch determination, and the market can settle at delisting if the price has not touched 100 by then. metadata=category:price|subCategory:N/A|semanticRestriction:This market must refer to the price of a Hyperliquid perp."
                    },
                    "parent": null,
                    "sides": [
                      {
                        "side": "YES",
                        "label": "Yes"
                      },
                      {
                        "side": "NO",
                        "label": "No"
                      }
                    ]
                  },
                  "recurring_round": null,
                  "stats": {
                    "volume_24h": "18240500000",
                    "open_interest": "52000000000"
                  },
                  "updated_at": "2026-09-26T19:59:25.086007173Z"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `MARKET_DATA_UNAVAILABLE` (retry `BACKOFF`): No complete market catalog is available.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/markets/get-market"
        }
      }
    },
    "/v1/markets/{outcome_id}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OutcomeId"
        }
      ],
      "get": {
        "operationId": "getMarketHistory",
        "summary": "Get market history",
        "description": "Get up to 24 hours of one-minute price history for one side of a market.\n\nNo API key required.",
        "tags": [
          "Markets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Side"
          },
          {
            "$ref": "#/components/parameters/HistorySeries"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/To"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/HistoryLimit"
          },
          {
            "$ref": "#/components/parameters/HistoryIncludeGaps"
          }
        ],
        "responses": {
          "200": {
            "description": "Exactly one labelled, sparse series: reference prices or trades. Only minutes that closed before `closed_before` are returned; take the current minute from the live market stream. Later pages reuse the window this first response returns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketHistory"
                },
                "example": {
                  "outcome_id": "1209",
                  "side": "YES",
                  "series_type": "TRADE_OHLCV",
                  "source": "HYPERLIQUID_TRADES",
                  "quality": "TRADE",
                  "scale": "1000000000000000000",
                  "volume_scale": "1000000000000000000",
                  "from": "2026-09-25T20:00:07.998164544Z",
                  "to": "2026-09-26T20:00:07.998164544Z",
                  "bucket_time": "HYPERLIQUID_SOURCE_TIME",
                  "closed_before": "2026-09-26T20:00:00Z",
                  "anchor": {
                    "minute": "2026-09-25T19:46:00Z",
                    "open": "330000000000000000",
                    "high": "330000000000000000",
                    "low": "330000000000000000",
                    "close": "330000000000000000",
                    "volume": "39000000000000000000",
                    "trade_count": 1
                  },
                  "bars": [
                    {
                      "minute": "2026-09-25T20:05:00Z",
                      "open": "304510000000000000",
                      "high": "304510000000000000",
                      "low": "304510000000000000",
                      "close": "304510000000000000",
                      "volume": "40000000000000000000",
                      "trade_count": 1
                    },
                    {
                      "minute": "2026-09-25T20:36:00Z",
                      "open": "330900000000000000",
                      "high": "330900000000000000",
                      "low": "328100000000000000",
                      "close": "328100000000000000",
                      "volume": "67000000000000000000",
                      "trade_count": 2
                    },
                    {
                      "minute": "2026-09-25T20:37:00Z",
                      "open": "326010000000000000",
                      "high": "326010000000000000",
                      "low": "326010000000000000",
                      "close": "326010000000000000",
                      "volume": "40000000000000000000",
                      "trade_count": 1
                    }
                  ],
                  "gaps": [
                    {
                      "outcome_id": "1209",
                      "source": "HYPERLIQUID_TRADES",
                      "catalog_generation": "5770",
                      "feed_generation": "1790366409618",
                      "from": "2026-09-25T20:00:09.600639Z",
                      "to": "2026-09-25T20:00:09.61714Z",
                      "reason": "SOURCE_UNAVAILABLE"
                    },
                    {
                      "outcome_id": "1209",
                      "source": "HYPERLIQUID_TRADES",
                      "catalog_generation": "5771",
                      "feed_generation": "1790366410587",
                      "from": "2026-09-25T20:00:10.56027Z",
                      "to": "2026-09-25T20:00:10.586751Z",
                      "reason": "SOURCE_UNAVAILABLE"
                    }
                  ],
                  "next_cursor": "AQAABLkAGNiowyaFzkAY2PdXt9TOQBjYqsYsGzgAAAABoNpC2_8AAAAAAAAWugUEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADeC2s6dkAAA",
                  "has_more": true
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.\n- `INVALID_QUERY` (retry `NEVER`): A query parameter is malformed, out of range or not accepted by this operation. `field_violations` names it.\n- `INVALID_CURSOR` (retry `NEVER`): The cursor is malformed or was issued for a different query.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `MARKET_DATA_UNAVAILABLE` (retry `BACKOFF`): No complete market catalog is available.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/markets/get-market-history"
        }
      }
    },
    "/v1/rfqs/{rfq_id}/quotes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        }
      ],
      "get": {
        "operationId": "listQuotes",
        "summary": "List quotes",
        "description": "List the live quotes on your RFQ.\n\nRequires a key for your account with `quote:read`.",
        "tags": [
          "RFQs & Quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The live quotes on the RFQ. The account stream pushes each new quote as `QUOTE_CREATED` and each removal as `QUOTE_REMOVED`, and the account snapshot carries the live quotes; read this after a reconnect that reset the stream, or a snapshot that truncated the quotes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteList"
                },
                "example": {
                  "quotes": [
                    {
                      "quote_id": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e",
                      "rfq_id": "01a0df4e-5e07-7a3c-8f21-d4e6b7a90c1a",
                      "kind": "ENTRY",
                      "sequence": 48213,
                      "entry": {
                        "maker_id": "7",
                        "legs": [
                          {
                            "outcome_id": "1209",
                            "side": "YES"
                          }
                        ],
                        "stake": "25000000",
                        "payout": "98500000",
                        "fee_bps": 100,
                        "taker_fee_bps": 20,
                        "taker": "0x1111111111111111111111111111111111111111",
                        "expiry": "1790452875",
                        "salt": "48151623429108"
                      }
                    }
                  ],
                  "server_time": "2026-09-26T20:00:51.021Z"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/hyperliquid/api-reference/quotes/list-quotes"
        }
      },
      "post": {
        "operationId": "createQuote",
        "summary": "Create quote",
        "description": "Create a quote in response to an RFQ.\n\nRequires a key for a maker with `quote:write`.",
        "tags": [
          "RFQs & Quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "The quote is live on the RFQ, or an exact retry returned it. It is unsigned and nothing is on chain: the taker receives it as `QUOTE_CREATED` and can accept it until `expiry`, and you sign only when you confirm that acceptance.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteCreated"
                },
                "example": {
                  "quote_id": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.\n- `INVALID_IDEMPOTENCY_KEY` (retry `NEVER`): The command needs exactly one lowercase UUIDv7 `Idempotency-Key` header; confirm takes none.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `IDEMPOTENCY_KEY_REUSED` (retry `NEVER`): The idempotency key was already used with different input.\n- `RFQ_NOT_OPEN` (retry `REFRESH`): The RFQ is no longer open.\n- `RFQ_GENERATION_STALE` (retry `REFRESH`): The RFQ generation the quote targets was superseded.\n- `RFQ_GENERATION_IN_FLIGHT` (retry `REFRESH`): The RFQ generation is changing; re-read the RFQ.\n- `STATE_CONFLICT` (retry `REFRESH`): The resource changed and no longer admits this request.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.\n- `QUOTE_EXPOSURE_LIMIT` (retry `BACKOFF`): The maker's open quote exposure is at its limit.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.\n- `QUOTE_EXPOSURE_STALE` (retry `BACKOFF`): The maker's exposure projection is stale.\n- `COMBO_AUTOMATIC_DISABLED` (retry `BACKOFF`): Automatic combo quoting is disabled.\n- `FINANCIAL_ACTIONS_DISABLED` (retry `BACKOFF`): Financial actions are disabled for this deployment.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQuoteCommand"
              },
              "example": {
                "quote_id": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e",
                "entry": {
                  "maker_id": "7",
                  "legs": [
                    {
                      "outcome_id": "1209",
                      "side": "YES"
                    }
                  ],
                  "stake": "25000000",
                  "payout": "98500000",
                  "fee_bps": 100,
                  "taker_fee_bps": 20,
                  "taker": "0x1111111111111111111111111111111111111111",
                  "expiry": "1790452875",
                  "salt": "48151623429108"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/quotes/create-quote"
        }
      }
    },
    "/v1/quotes/{quote_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/QuoteId"
        }
      ],
      "delete": {
        "operationId": "cancelQuote",
        "summary": "Cancel quote",
        "description": "Cancel your quote.\n\nRequires a key for a maker with `quote:write`.",
        "tags": [
          "RFQs & Quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The quote's status after the call: `CANCELLED` or `REPLACED`, whether you cancelled it now or earlier, so the call is safe to repeat. Send no `Idempotency-Key`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteCancellation"
                },
                "example": {
                  "status": "CANCELLED"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "The quote is `ACCEPTED`: you already confirmed it, so it cannot be cancelled. The body is then the quote's status; any other conflict with the quote's state returns an error.\n\n- `STATE_CONFLICT` (retry `REFRESH`): The resource changed and no longer admits this request.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/QuoteCancellation"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/hyperliquid/api-reference/quotes/cancel-quote"
        }
      }
    },
    "/v1/quotes/{quote_id}/accept": {
      "parameters": [
        {
          "$ref": "#/components/parameters/QuoteId"
        }
      ],
      "post": {
        "operationId": "acceptQuote",
        "summary": "Accept quote",
        "description": "Accept a quote to open a position or cash one out.\n\nRequires a key for your account with `quote:accept`.\n\nAlso requires `sponsorship:use` when Totalis pays the gas.\n\nAlso requires `funding:deposit` when the request includes a funding authorization.\n\nAlso requires `position:cashout` when the quote is a cash-out.",
        "tags": [
          "RFQs & Quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:accept"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The acceptance after the maker answered or the two-second confirm window closed, returned within three seconds. Its status is `ACCEPTED`, `PENDING_FUNDING`, `DECLINED`, `TIMED_OUT` or `CANCELLED`, never `PENDING_CONFIRM`. `ACCEPTED` means the trade is queued, not yet on chain: follow `OPERATION_UPDATED` on the account stream until it fills.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptanceResult"
                },
                "example": {
                  "acceptance_id": "01a0df4e-6269-78d2-a4f6-a1b3c5d7e9f8",
                  "quote_id": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e",
                  "rfq_id": "01a0df4e-5e07-7a3c-8f21-d4e6b7a90c1a",
                  "status": "ACCEPTED",
                  "deadline": "2026-09-26T20:00:53.352Z",
                  "operation_id": "0x9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.\n- `INVALID_IDEMPOTENCY_KEY` (retry `NEVER`): The command needs exactly one lowercase UUIDv7 `Idempotency-Key` header; confirm takes none.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `QUOTE_NOT_FOUND` (retry `NEVER`): The quote does not exist.\n- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "A quote can be accepted once: a new `Idempotency-Key` on an RFQ that already has a live acceptance returns `STATE_CONFLICT`.\n\n- `IDEMPOTENCY_KEY_REUSED` (retry `NEVER`): The idempotency key was already used with different input.\n- `RFQ_NOT_OPEN` (retry `REFRESH`): The RFQ is no longer open.\n- `QUOTE_EXPIRED` (retry `REFRESH`): The quote expired.\n- `QUOTE_CANCELLED` (retry `REFRESH`): The maker cancelled the quote.\n- `QUOTE_REPLACED` (retry `REFRESH`): A newer quote from the same maker replaced this one.\n- `QUOTE_SIGNER_CHANGED` (retry `REFRESH`): The maker's quote signer changed after the quote was signed.\n- `QUOTE_CAPACITY_EXCEEDED` (retry `REFRESH`): The maker's current capacity does not cover the quote.\n- `STATE_CONFLICT` (retry `REFRESH`): The resource changed and no longer admits this request.\n- `CORE_FUNDING_CONFLICT` (retry `REFRESH`): Another Core funding is active for this account.\n- `CORE_VAULT_RESERVATION` (retry `REFRESH`): The vault reservation for this Core funding changed.\n- `CORE_MOVE_IN_FLIGHT` (retry `REFRESH`): A HyperCore transfer for this account is still in flight.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "- `INVALID_SIGNATURE` (retry `NEVER`): The signature does not verify for the signed terms.\n- `WRONG_AUTHORITY` (retry `REFRESH`): The signature is not from the current authority: the taker wallet for an accept, or the maker's current quote signer for a confirm.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.\n- `FINANCIAL_ACTIONS_DISABLED` (retry `BACKOFF`): Financial actions are disabled for this deployment.\n- `CONTRACT_SIGNATURE_OVERLOADED` (retry `BACKOFF`): Contract signature verification is at capacity.\n- `CORE_FUNDING_UNAVAILABLE` (retry `BACKOFF`): Core funding cannot be admitted now.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptQuoteCommand"
              },
              "example": {
                "taker_signature": "0xabababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababab1b"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AcceptanceIdempotencyKey"
          }
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/quotes/accept-quote"
        }
      }
    },
    "/v1/quotes/{quote_id}/confirm": {
      "parameters": [
        {
          "$ref": "#/components/parameters/QuoteId"
        }
      ],
      "post": {
        "operationId": "confirmQuote",
        "summary": "Confirm quote",
        "description": "Confirm or decline an acceptance of your quote.\n\nRequires a key for a maker with `quote:write`.",
        "tags": [
          "RFQs & Quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The acceptance after your answer. `ACCEPTED` means the trade is queued, not yet on chain, and carries its `operation_id`. `PENDING_FUNDING` means the taker pays from HyperCore: the acceptance becomes `ACCEPTED`, or `CANCELLED` if the payment fails.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmQuoteResult"
                },
                "example": {
                  "quote_id": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e",
                  "rfq_id": "01a0df4e-5e07-7a3c-8f21-d4e6b7a90c1a",
                  "status": "ACCEPTED",
                  "deadline": "2026-09-26T20:00:53.352Z",
                  "operation_id": "0x9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.\n- `INVALID_IDEMPOTENCY_KEY` (retry `NEVER`): The command needs exactly one lowercase UUIDv7 `Idempotency-Key` header; confirm takes none.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "Resending the same answer replays the result; a different answer to the same acceptance returns `IDEMPOTENCY_KEY_REUSED`. An answer after the acceptance's `deadline` cannot reopen it.\n\n- `IDEMPOTENCY_KEY_REUSED` (retry `NEVER`): The idempotency key was already used with different input.\n- `STATE_CONFLICT` (retry `REFRESH`): The resource changed and no longer admits this request.\n- `QUOTE_EXPIRED` (retry `REFRESH`): The quote expired.\n- `QUOTE_SIGNER_CHANGED` (retry `REFRESH`): The maker's quote signer changed after the quote was signed.\n- `QUOTE_CAPACITY_EXCEEDED` (retry `REFRESH`): The maker's current capacity does not cover the quote.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "- `INVALID_SIGNATURE` (retry `NEVER`): The signature does not verify for the signed terms.\n- `WRONG_AUTHORITY` (retry `REFRESH`): The signature is not from the current authority: the taker wallet for an accept, or the maker's current quote signer for a confirm.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.\n- `FINANCIAL_ACTIONS_DISABLED` (retry `BACKOFF`): Financial actions are disabled for this deployment.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmQuoteCommand"
              },
              "example": {
                "decision": "CONFIRM",
                "maker_signature": "0xcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcdcd1c"
              }
            }
          }
        },
        "x-mint": {
          "href": "/hyperliquid/api-reference/quotes/confirm-quote"
        }
      }
    },
    "/v1/rfqs": {
      "get": {
        "operationId": "listRfqs",
        "summary": "List RFQs",
        "description": "List open RFQs.\n\nNo API key required; callers without one receive the public projection. A key, when sent, must be one of:\n\n- a key for your account with `rfq:read`\n- a key for a maker with `rfq:read`",
        "tags": [
          "RFQs & Quotes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "One page of the RFQs open now. Makers receive each new RFQ as `RFQ_CREATED` on the maker stream, and the maker snapshot carries the open ones in `open_rfqs`; page this when a snapshot truncated `open_rfqs`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RfqList"
                },
                "example": {
                  "rfqs": [
                    {
                      "rfq_id": "01a0df4e-5e07-7a3c-8f21-d4e6b7a90c1a",
                      "kind": "ENTRY",
                      "taker": "0x1111111111111111111111111111111111111111",
                      "stake": "25000000",
                      "status": "OPEN",
                      "created_at": "2026-09-26T20:00:50.183Z",
                      "expires_at": "2026-09-26T20:01:10.183Z",
                      "legs": [
                        {
                          "outcome_id": "1209",
                          "side": "YES"
                        }
                      ]
                    },
                    {
                      "rfq_id": "01a0df58-a825-7f0e-9d2c-3b4a5968778f",
                      "kind": "CASHOUT",
                      "position_id": "0x7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b7b",
                      "owner": "0x1111111111111111111111111111111111111111",
                      "leg_state": "0x4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c4c",
                      "legs_hash": "0x3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d3d",
                      "decision_block": "41872305",
                      "decision_read_gas": "500000",
                      "maker_id": "7",
                      "status": "OPEN",
                      "created_at": "2026-09-26T20:12:04.517Z",
                      "expires_at": "2026-09-26T20:12:34.517Z",
                      "legs": [
                        {
                          "outcome_id": "1209",
                          "side": "YES"
                        }
                      ]
                    }
                  ],
                  "next_cursor": null,
                  "has_more": false
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_QUERY` (retry `NEVER`): A query parameter is malformed, out of range or not accepted by this operation. `field_violations` names it.\n- `INVALID_CURSOR` (retry `NEVER`): The cursor is malformed or was issued for a different query.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "apiKey": [
              "rfq:read"
            ]
          }
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/rfqs/list-rfqs"
        }
      },
      "post": {
        "operationId": "createRfq",
        "summary": "Create RFQ",
        "tags": [
          "RFQs & Quotes"
        ],
        "security": [
          {
            "apiKey": [
              "rfq:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRfqCommand"
              },
              "example": {
                "stake": "25000000",
                "legs": [
                  {
                    "outcome_id": "1209",
                    "side": "YES"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The RFQ was created, or a retry with the same `Idempotency-Key` and body returned it. Makers receive it as `RFQ_CREATED`; their quotes reach you as `QUOTE_CREATED` on the account stream, and you accept one with `POST /v1/quotes/{quote_id}/accept`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RfqCreated"
                },
                "example": {
                  "rfq_id": "01a0df4e-5e07-7a3c-8f21-d4e6b7a90c1a"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.\n- `INVALID_IDEMPOTENCY_KEY` (retry `NEVER`): The command needs exactly one lowercase UUIDv7 `Idempotency-Key` header; confirm takes none.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `IDEMPOTENCY_KEY_REUSED` (retry `NEVER`): The idempotency key was already used with different input.\n- `STATE_CONFLICT` (retry `REFRESH`): The resource changed and no longer admits this request.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.\n- `RFQ_INTENT_LIMIT` (retry `BACKOFF`): The account has too many open RFQs.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.\n- `FINANCIAL_ACTIONS_DISABLED` (retry `BACKOFF`): Financial actions are disabled for this deployment.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Create an RFQ that asks makers to quote a new position.\n\nRequires a key for your account with `rfq:write`.",
        "x-mint": {
          "href": "/hyperliquid/api-reference/rfqs/create-rfq"
        }
      }
    },
    "/v1/me/positions/{position_id}/cashout": {
      "parameters": [
        {
          "$ref": "#/components/parameters/PositionId"
        }
      ],
      "post": {
        "operationId": "createCashout",
        "summary": "Cash out position",
        "tags": [
          "RFQs & Quotes"
        ],
        "security": [
          {
            "apiKey": [
              "rfq:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCashoutCommand"
              },
              "example": {}
            }
          }
        },
        "responses": {
          "201": {
            "description": "The cash-out RFQ was created, or an exact retry returned it. Makers answer with cash-out quotes priced on the position as it stood at the RFQ's `decision_block`; you accept one like an entry quote, and the maker confirms it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RfqCreated"
                },
                "example": {
                  "rfq_id": "01a0df58-a825-7f0e-9d2c-3b4a5968778f"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.\n- `INVALID_IDEMPOTENCY_KEY` (retry `NEVER`): The command needs exactly one lowercase UUIDv7 `Idempotency-Key` header; confirm takes none.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `IDEMPOTENCY_KEY_REUSED` (retry `NEVER`): The idempotency key was already used with different input.\n- `STATE_CONFLICT` (retry `REFRESH`): The resource changed and no longer admits this request.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.\n- `RFQ_INTENT_LIMIT` (retry `BACKOFF`): The account has too many open RFQs.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.\n- `FINANCIAL_ACTIONS_DISABLED` (retry `BACKOFF`): Financial actions are disabled for this deployment.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "description": "Cash out a position by opening a cash-out RFQ.\n\nRequires a key for your account with `rfq:write`.",
        "x-mint": {
          "href": "/hyperliquid/api-reference/positions/cash-out-position"
        }
      }
    },
    "/v1/rfqs/{rfq_id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        }
      ],
      "post": {
        "operationId": "cancelRfq",
        "summary": "Cancel RFQ",
        "description": "Cancel your RFQ.\n\nRequires a key for your account with `rfq:write`.",
        "tags": [
          "RFQs & Quotes"
        ],
        "security": [
          {
            "apiKey": [
              "rfq:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "The RFQ is cancelled, or an exact retry replayed the cancel. Makers stop seeing it and no new accept can start; the cancel also blocks any accept still on its way, so an acceptance read after it is final. It does not revoke a signature a maker already gave."
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.\n- `INVALID_IDEMPOTENCY_KEY` (retry `NEVER`): The command needs exactly one lowercase UUIDv7 `Idempotency-Key` header; confirm takes none.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "`RFQ_NOT_CANCELLABLE`: a quote on the RFQ was already accepted, or the RFQ expired. `STATE_CONFLICT`: an acceptance on the RFQ is waiting for its HyperCore payment, so the RFQ stays open.\n\n- `IDEMPOTENCY_KEY_REUSED` (retry `NEVER`): The idempotency key was already used with different input.\n- `RFQ_NOT_CANCELLABLE` (retry `NEVER`): The RFQ has progressed past cancellation.\n- `STATE_CONFLICT` (retry `REFRESH`): The resource changed and no longer admits this request.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/hyperliquid/api-reference/rfqs/cancel-rfq"
        }
      }
    },
    "/v1/quotes/{quote_id}/acceptance": {
      "parameters": [
        {
          "$ref": "#/components/parameters/QuoteId"
        }
      ],
      "get": {
        "operationId": "getAcceptance",
        "summary": "Get acceptance",
        "description": "Get a quote's acceptance, for example after a lost response.\n\nRequires a key for your account with `quote:read`.",
        "tags": [
          "RFQs & Quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The acceptance as it stands now, whichever key or session made it. Reading it moves no funds.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Acceptance"
                },
                "example": {
                  "acceptance_id": "01a0df4e-6269-78d2-a4f6-a1b3c5d7e9f8",
                  "quote_id": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e",
                  "rfq_id": "01a0df4e-5e07-7a3c-8f21-d4e6b7a90c1a",
                  "status": "FILLED",
                  "deadline": "2026-09-26T20:00:53.352Z",
                  "operation_id": "0x9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "No accept was admitted yet. Cancel the RFQ, which blocks any accept still on its way, then read again: a `404` after the cancel is final.\n\n- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/hyperliquid/api-reference/quotes/get-acceptance"
        }
      }
    },
    "/v1/rfqs/{rfq_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        }
      ],
      "get": {
        "operationId": "getRfq",
        "summary": "Get RFQ",
        "description": "Get an RFQ.\n\nNo API key required; callers without one receive the public projection. A key, when sent, must be one of:\n\n- a key for your account with `rfq:read`\n- a key for a maker with `rfq:read`",
        "tags": [
          "RFQs & Quotes"
        ],
        "responses": {
          "200": {
            "description": "The RFQ as it stands now. Anyone can read an open RFQ; its owner can also read it after it ends, to see how it ended.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rfq"
                },
                "example": {
                  "rfq_id": "01a0df4e-5e07-7a3c-8f21-d4e6b7a90c1a",
                  "kind": "ENTRY",
                  "taker": "0x1111111111111111111111111111111111111111",
                  "stake": "25000000",
                  "status": "OPEN",
                  "created_at": "2026-09-26T20:00:50.183Z",
                  "expires_at": "2026-09-26T20:01:10.183Z",
                  "legs": [
                    {
                      "outcome_id": "1209",
                      "side": "YES"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {},
          {
            "apiKey": [
              "rfq:read"
            ]
          }
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/rfqs/get-rfq"
        }
      }
    },
    "/v1/me/operations": {
      "get": {
        "operationId": "listOperations",
        "summary": "List operations",
        "description": "List your account's on-chain operations.\n\nRequires one of:\n\n- a key for your account with `account:read`\n- a key for a maker with `vault:read` and the maker permissions `READ_ACTIVITY`, `READ_CAPITAL`, `READ_PERFORMANCE`, `READ_POSITIONS`",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          },
          {
            "apiKey": [
              "vault:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "One page of operations. An operation is one on-chain action Totalis relays for you, such as a trade or a withdrawal payout. A key reads its own account's: yours, or its maker's. The stream pushes each change as `OPERATION_UPDATED`; page this when a snapshot truncated them.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                },
                "example": {
                  "operations": [
                    {
                      "operation_id": "0x2d9e4a7b1c6f3e8d5a2b9c4f7e1d6a3b8c5f2e9d4a7b1c6e3f8d5a2b9c4e7f10",
                      "kind": "CLAIM",
                      "amount": null,
                      "status": "IN_FLIGHT",
                      "transaction_hash": null,
                      "created_at": "2026-09-26T14:12:05.418Z",
                      "updated_at": "2026-09-26T14:12:06.902Z"
                    },
                    {
                      "operation_id": "0x5b1f8e2a9c4d7036e1b5a8f2c9d4e7031b6a5f8e2c9d4a7b3e6f1c8d5a2b9e40",
                      "kind": "ACCEPT",
                      "amount": "20000000",
                      "status": "COMMITTED",
                      "transaction_hash": "0x4f7a1c8e5b2d9f6a3c1e8b5d2f9a6c3e1b8d5f2a9c6e3b1d8f5a2c9e6b3d1f8a",
                      "created_at": "2026-09-25T18:41:33.127Z",
                      "updated_at": "2026-09-25T18:41:37.560Z"
                    },
                    {
                      "operation_id": "0x7e3c9a41d2b85f06e1a7c4d93b28f5e60a1c7d4b92e3f8a05c6d1b7e42a9f3c0",
                      "kind": "DEPOSIT_USER_AUTHORIZED",
                      "amount": "25000000",
                      "status": "COMMITTED",
                      "transaction_hash": "0x9a4c2e7f1b8d5a3c6e9f2b4d7a1c8e5f3b6d9a2c4e7f1b8d5a3c6e9f2b4d7a1c",
                      "created_at": "2026-09-25T18:39:02.315Z",
                      "updated_at": "2026-09-25T18:39:06.844Z"
                    }
                  ],
                  "next_cursor": "MjAyNi0wOS0yNVQxODozOTowMi4zMTVafDB4N2UzYzlhNDFkMmI4NWYwNmUx",
                  "has_more": true,
                  "checkpoint": {
                    "block_number": "31552210",
                    "projection_state": "CURRENT"
                  }
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_QUERY` (retry `NEVER`): A query parameter is malformed, out of range or not accepted by this operation. `field_violations` names it.\n- `INVALID_CURSOR` (retry `NEVER`): The cursor is malformed or was issued for a different query.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/hyperliquid/api-reference/account/list-operations"
        }
      }
    },
    "/v1/me/operations/{operation_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OperationId"
        }
      ],
      "get": {
        "operationId": "getOperation",
        "summary": "Get operation",
        "description": "Get an on-chain operation and its latest chain status.\n\nRequires one of:\n\n- a key for your account with `account:read`\n- a key for a maker with `vault:read` and the maker permissions `READ_ACTIVITY`, `READ_CAPITAL`, `READ_PERFORMANCE`, `READ_POSITIONS`",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          },
          {
            "apiKey": [
              "vault:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "The operation and its latest chain status. A key reads its own account's operations: yours, or its maker's.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                },
                "example": {
                  "operation": {
                    "operation_id": "0x7e3c9a41d2b85f06e1a7c4d93b28f5e60a1c7d4b92e3f8a05c6d1b7e42a9f3c0",
                    "kind": "DEPOSIT_USER_AUTHORIZED",
                    "amount": "25000000",
                    "status": "COMMITTED",
                    "transaction_hash": "0x9a4c2e7f1b8d5a3c6e9f2b4d7a1c8e5f3b6d9a2c4e7f1b8d5a3c6e9f2b4d7a1c",
                    "created_at": "2026-09-25T18:39:02.315Z",
                    "updated_at": "2026-09-25T18:39:06.844Z"
                  },
                  "checkpoint": {
                    "block_number": "31552210",
                    "projection_state": "CURRENT"
                  }
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "The operation does not exist or belongs to another account.\n\n- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
[...]
