{
  "openapi": "3.1.1",
  "info": {
    "title": "Totalis Hyperliquid API",
    "description": "REST API for Totalis singles and parlays on Hyperliquid HIP-4 outcome markets, for client integrations and external market makers.\n\nAuthenticate with a scoped API key created in the Totalis app, sent as `Authorization: Bearer <key>`. Public market reads need no key. Balance-affecting commands also carry the wallet or maker signature the HyperEVM contract verifies.\n\nAmounts are base-10 strings in native USDC atomic units, large identifiers are decimal strings, and every command `POST` requires an `Idempotency-Key` header.\n\nEvery error is `{error: {code, message, retry, request_id, field_violations}}`. `code` is stable; each operation lists the codes it returns per status. `retry` is `NEVER` (stop), `BACKOFF` (resend the same request with the same `Idempotency-Key` after `Retry-After` seconds) or `REFRESH` (re-read state, then send a new request with a new key). `field_violations` names invalid inputs by JSON pointer, such as `/legs/0/stake`.",
    "version": "116.0.0-trim-commands-stream"
  },
  "servers": [
    {
      "url": "https://hip4-api.totalis.trade",
      "description": "Production public edge"
    },
    {
      "url": "https://hip4-api-staging.totalis.trade",
      "description": "Staging and chain-998 public edge"
    }
  ],
  "tags": [
    {
      "name": "Market data",
      "description": "Public advisory HIP-4 catalog, detail, and bounded history."
    },
    {
      "name": "RFQs and quotes",
      "description": "Public client RFQs and maker quote delivery."
    },
    {
      "name": "Recovery",
      "description": "Reads that rebuild RFQ, book, attempt, operation, maker confirmation and withdrawal state after a reload, a reconnect, a truncated snapshot or a lost response. The day-to-day flow never needs them."
    },
    {
      "name": "Account",
      "description": "Authenticated balances, positions and activity of the account a credential is bound to."
    },
    {
      "name": "Funds",
      "description": "The withdrawal from the Totalis balance to an external address. Entries fund themselves from the wallet at accept, and Totalis settles and claims every ticket."
    },
    {
      "name": "Vault",
      "description": "Public canonical ParlayVault reads."
    },
    {
      "name": "Identity",
      "description": "Public client authentication and wallet linking."
    },
    {
      "name": "Realtime",
      "description": "Authenticated replayable client and maker updates."
    },
    {
      "name": "Maker",
      "description": "Maker capital, collateral reductions and the maker dashboard, access and onboarding."
    }
  ],
  "paths": {
    "/v1/markets": {
      "get": {
        "operationId": "listMarkets",
        "summary": "List markets",
        "description": "Cursor-paginated active named HIP-4 outcomes grouped by native question. Fallback and settled outcomes are excluded; advisory catalog presence is never financial authority.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Subcategory"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Market catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketList"
                },
                "example": {
                  "items": [
                    {
                      "outcome_id": "1209",
                      "native_question_id": null,
                      "title": "HYPE touches 100 by 20261001-0000",
                      "state": "ACTIVE",
                      "result": {
                        "availability": "AVAILABLE",
                        "result_state": "UNRESOLVED"
                      },
                      "metadata_revision": "6100",
                      "eligibility": {
                        "state": "ENABLED"
                      },
                      "category": "Crypto",
                      "subcategory": "other",
                      "sides": [
                        {
                          "side": "YES",
                          "coin": "#12090",
                          "reference": {
                            "availability": "AVAILABLE",
                            "quality": "BOOK_MID",
                            "value": "240800000000000000",
                            "best_bid": "238600000000000000",
                            "best_ask": "243000000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "received_at": "2026-09-26T19:59:09.72902044Z"
                          }
                        },
                        {
                          "side": "NO",
                          "coin": "#12091",
                          "reference": {
                            "availability": "AVAILABLE",
                            "quality": "BOOK_MID",
                            "value": "759200000000000000",
                            "best_bid": "757000000000000000",
                            "best_ask": "761400000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "received_at": "2026-09-26T19:59:09.72902044Z"
                          }
                        }
                      ],
                      "dates": {
                        "event": null,
                        "result_by": null,
                        "resolves_after": null,
                        "scheduled_event_at": null,
                        "observation_ends_at": "1790812800",
                        "market_class": "PRICE_TOUCH"
                      }
                    },
                    {
                      "outcome_id": "1210",
                      "native_question_id": null,
                      "title": "BTC above 100000 at 20261001-0000?",
                      "state": "ACTIVE",
                      "result": {
                        "availability": "AVAILABLE",
                        "result_state": "UNRESOLVED"
                      },
                      "metadata_revision": "6100",
                      "eligibility": {
                        "state": "ENABLED"
                      },
                      "category": "Crypto",
                      "subcategory": "btc",
                      "sides": [
                        {
                          "side": "YES",
                          "coin": "#12100",
                          "reference": {
                            "availability": "AVAILABLE",
                            "quality": "BOOK_MID",
                            "value": "6030000000000000",
                            "best_bid": "6010000000000000",
                            "best_ask": "6050000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "received_at": "2026-09-26T19:59:09.751601549Z"
                          }
                        },
                        {
                          "side": "NO",
                          "coin": "#12101",
                          "reference": {
                            "availability": "AVAILABLE",
                            "quality": "BOOK_MID",
                            "value": "993970000000000000",
                            "best_bid": "993950000000000000",
                            "best_ask": "993990000000000000",
                            "scale": "1000000000000000000",
                            "freshness": "FRESH",
                            "received_at": "2026-09-26T19:59:09.751601549Z"
                          }
                        }
                      ],
                      "dates": {
                        "event": null,
                        "result_by": null,
                        "resolves_after": null,
                        "scheduled_event_at": null,
                        "observation_ends_at": "1790812800",
                        "market_class": "PRICE_BINARY"
                      }
                    }
                  ],
                  "catalog_generation": "6100",
                  "next_cursor": "eyJnIjo2MTAwLCJhIjoxMjEwLCJrIjoibWFya2V0In0",
                  "has_more": true
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_QUERY` (retry `NEVER`): A query parameter is malformed, out of range or not accepted by this operation. `field_violations` names it.\n- `INVALID_CURSOR` (retry `NEVER`): The cursor is malformed or was issued for a different query.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_QUERY",
                                "INVALID_CURSOR"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `STALE_CURSOR` (retry `REFRESH`): The cursor belongs to an older catalog or browse generation; restart from the first page.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "STALE_CURSOR"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "REFRESH"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `MARKET_DATA_UNAVAILABLE` (retry `BACKOFF`): No complete market catalog is available.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "MARKET_DATA_UNAVAILABLE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/market-data/list-markets"
        }
      }
    },
    "/v1/markets/{outcome_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OutcomeId"
        }
      ],
      "get": {
        "operationId": "getMarket",
        "summary": "Get market",
        "description": "One normalized outcome and its canonical sides, with its product metadata at the same catalog generation, its current recurring round and its 24h stats.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "responses": {
          "200": {
            "description": "Market detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDetail"
                },
                "example": {
                  "catalog_generation": "6100",
                  "market": {
                    "outcome_id": "1209",
                    "native_question_id": null,
                    "title": "HYPE touches 100 by 20261001-0000",
                    "state": "ACTIVE",
                    "result": {
                      "availability": "AVAILABLE",
                      "result_state": "UNRESOLVED"
                    },
                    "metadata_revision": "6100",
                    "eligibility": {
                      "state": "ENABLED"
                    },
                    "category": "Crypto",
                    "subcategory": "other",
                    "sides": [
                      {
                        "side": "YES",
                        "coin": "#12090",
                        "reference": {
                          "availability": "AVAILABLE",
                          "quality": "BOOK_MID",
                          "value": "240800000000000000",
                          "best_bid": "238600000000000000",
                          "best_ask": "243000000000000000",
                          "scale": "1000000000000000000",
                          "freshness": "FRESH",
                          "received_at": "2026-09-26T19:59:25.086007173Z"
                        }
                      },
                      {
                        "side": "NO",
                        "coin": "#12091",
                        "reference": {
                          "availability": "AVAILABLE",
                          "quality": "BOOK_MID",
                          "value": "759200000000000000",
                          "best_bid": "757000000000000000",
                          "best_ask": "761400000000000000",
                          "scale": "1000000000000000000",
                          "freshness": "FRESH",
                          "received_at": "2026-09-26T19:59:25.086007173Z"
                        }
                      }
                    ],
                    "dates": {
                      "event": null,
                      "result_by": null,
                      "resolves_after": null,
                      "scheduled_event_at": null,
                      "observation_ends_at": "1790812800",
                      "market_class": "PRICE_TOUCH"
                    }
                  },
                  "question": null,
                  "metadata": {
                    "content": {
                      "title": "HYPE touches 100 by 20261001-0000",
                      "rules": "The market resolves to Yes if the HYPE price touches 100 at or before 20261001-0000, and otherwise resolves to No. The price counts as touched once the 1-second TWAP of HYPE-USDC perp mark  price equals or crosses 100 at any time after this market is deployed and at or before 20261001-0000; the market can settle as soon as a touch occurs. If HYPE is delisted before this market settles, the HYPE settlement price at delisting counts as the final price for the touch determination, and the market can settle at delisting if the price has not touched 100 by then. metadata=category:price|subCategory:N/A|semanticRestriction:This market must refer to the price of a Hyperliquid perp."
                    },
                    "parent": null,
                    "sides": [
                      {
                        "side": "YES",
                        "label": "Yes"
                      },
                      {
                        "side": "NO",
                        "label": "No"
                      }
                    ]
                  },
                  "recurring_round": null,
                  "stats": {
                    "volume_24h": "18240500000",
                    "open_interest": "52000000000"
                  },
                  "updated_at": "2026-09-26T19:59:25.086007173Z"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_REQUEST"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "NOT_FOUND"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `MARKET_DATA_UNAVAILABLE` (retry `BACKOFF`): No complete market catalog is available.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "MARKET_DATA_UNAVAILABLE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/market-data/get-market"
        }
      }
    },
    "/v1/markets/{outcome_id}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OutcomeId"
        }
      ],
      "get": {
        "operationId": "getMarketHistory",
        "summary": "Get market history",
        "description": "At most 24 hours of cursor-bounded sparse one-minute Hyperliquid history, defaulting to the rolling 24 hours ending at server time. Only closed buckets before closed_before are returned; take the current minute from the live market stream. Select qualified book/reference OHLC for a line chart or executed-trade OHLCV for candles; AUTO preserves the trade-first behavior.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Side"
          },
          {
            "$ref": "#/components/parameters/HistorySeries"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/To"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/HistoryLimit"
          },
          {
            "$ref": "#/components/parameters/HistoryIncludeGaps"
          }
        ],
        "responses": {
          "200": {
            "description": "Exactly one explicitly labelled sparse reference-price or trade series",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketHistory"
                },
                "example": {
                  "outcome_id": "1209",
                  "side": "YES",
                  "series_type": "TRADE_OHLCV",
                  "source": "HYPERLIQUID_TRADES",
                  "quality": "TRADE",
                  "scale": "1000000000000000000",
                  "volume_scale": "1000000000000000000",
                  "from": "2026-09-25T20:00:07.998164544Z",
                  "to": "2026-09-26T20:00:07.998164544Z",
                  "bucket_time": "HYPERLIQUID_SOURCE_TIME",
                  "closed_before": "2026-09-26T20:00:00Z",
                  "anchor": {
                    "minute": "2026-09-25T19:46:00Z",
                    "open": "330000000000000000",
                    "high": "330000000000000000",
                    "low": "330000000000000000",
                    "close": "330000000000000000",
                    "volume": "39000000000000000000",
                    "trade_count": 1
                  },
                  "bars": [
                    {
                      "minute": "2026-09-25T20:05:00Z",
                      "open": "304510000000000000",
                      "high": "304510000000000000",
                      "low": "304510000000000000",
                      "close": "304510000000000000",
                      "volume": "40000000000000000000",
                      "trade_count": 1
                    },
                    {
                      "minute": "2026-09-25T20:36:00Z",
                      "open": "330900000000000000",
                      "high": "330900000000000000",
                      "low": "328100000000000000",
                      "close": "328100000000000000",
                      "volume": "67000000000000000000",
                      "trade_count": 2
                    },
                    {
                      "minute": "2026-09-25T20:37:00Z",
                      "open": "326010000000000000",
                      "high": "326010000000000000",
                      "low": "326010000000000000",
                      "close": "326010000000000000",
                      "volume": "40000000000000000000",
                      "trade_count": 1
                    }
                  ],
                  "gaps": [
                    {
                      "outcome_id": "1209",
                      "source": "HYPERLIQUID_TRADES",
                      "catalog_generation": "5770",
                      "feed_generation": "1790366409618",
                      "from": "2026-09-25T20:00:09.600639Z",
                      "to": "2026-09-25T20:00:09.61714Z",
                      "reason": "SOURCE_UNAVAILABLE"
                    },
                    {
                      "outcome_id": "1209",
                      "source": "HYPERLIQUID_TRADES",
                      "catalog_generation": "5771",
                      "feed_generation": "1790366410587",
                      "from": "2026-09-25T20:00:10.56027Z",
                      "to": "2026-09-25T20:00:10.586751Z",
                      "reason": "SOURCE_UNAVAILABLE"
                    }
                  ],
                  "next_cursor": "AQAABLkAGNiowyaFzkAY2PdXt9TOQBjYqsYsGzgAAAABoNpC2_8AAAAAAAAWugUEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADeC2s6dkAAA",
                  "has_more": true
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.\n- `INVALID_QUERY` (retry `NEVER`): A query parameter is malformed, out of range or not accepted by this operation. `field_violations` names it.\n- `INVALID_CURSOR` (retry `NEVER`): The cursor is malformed or was issued for a different query.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_REQUEST",
                                "INVALID_QUERY",
                                "INVALID_CURSOR"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "NOT_FOUND"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `MARKET_DATA_UNAVAILABLE` (retry `BACKOFF`): No complete market catalog is available.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "MARKET_DATA_UNAVAILABLE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "security": [
          {}
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/market-data/get-market-history"
        }
      }
    },
    "/v1/rfqs/{rfq_id}/book-quotes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        }
      ],
      "get": {
        "operationId": "listBookQuotes",
        "summary": "List book",
        "description": "Live unsigned offers on an RFQ you own: ENTRY quotes or CASHOUT bids, by the RFQ's kind. The account stream already pushes each offer as BOOK_QUOTE_PUBLISHED and its removal as BOOK_QUOTE_REMOVED, and the account snapshot carries the live book, so read this only after a reconnect whose replay was reset or a snapshot that truncated book_quotes.\n\nRequires a personal key with `quote:read`.",
        "tags": [
          "Recovery"
        ],
        "security": [
          {
            "apiKey": [
              "quote:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationBookQuoteList"
                },
                "example": {
                  "quotes": [
                    {
                      "quote_digest": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e",
                      "rfq_id": "01a0df4e-5e07-7a3c-8f21-d4e6b7a90c1a",
                      "kind": "ENTRY",
                      "sequence": 48213,
                      "quote": {
                        "maker_id": "7",
                        "legs": [
                          {
                            "outcome_id": 1209,
                            "side": 0
                          }
                        ],
                        "stake": "25000000",
                        "payout": "98500000",
                        "fee_bps": 100,
                        "taker_fee_bps": 20,
                        "taker": "0x1111111111111111111111111111111111111111",
                        "expiry": "1790452875",
                        "salt": "48151623429108"
                      }
                    }
                  ],
                  "server_time": "2026-09-26T20:00:51.021Z"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_REQUEST"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "UNAUTHENTICATED"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "FORBIDDEN"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "NOT_FOUND"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "RATE_LIMITED"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "AUTHORIZATION_UNAVAILABLE",
                                "DEPENDENCY_STALE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/hyperliquid/api-reference/recovery/list-book",
          "content": "<Note>\nA recovery read. The SDK makes it for you after a reconnect, a truncated snapshot, or a lost response. The day-to-day flow never needs it.\n</Note>\n"
        }
      },
      "post": {
        "operationId": "publishBookQuote",
        "summary": "Publish quote",
        "description": "Publish or replace this maker's unsigned offer on an RFQ: a quote for an ENTRY RFQ, or a sell_back or transfer bid for a CASHOUT RFQ. The offer must match the RFQ's kind. Financial signatures are deferred to confirmation.\n\nRequires a maker key with `quote:write`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteCreated"
                },
                "example": {
                  "quote_digest": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.\n- `INVALID_IDEMPOTENCY_KEY` (retry `NEVER`): The command needs exactly one lowercase UUIDv7 `Idempotency-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_REQUEST",
                                "INVALID_IDEMPOTENCY_KEY"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "UNAUTHENTICATED"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "FORBIDDEN"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "NOT_FOUND"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `IDEMPOTENCY_KEY_REUSED` (retry `NEVER`): The idempotency key was already used with different input.\n- `RFQ_NOT_OPEN` (retry `REFRESH`): The RFQ is no longer open.\n- `RFQ_GENERATION_STALE` (retry `REFRESH`): The RFQ generation the quote targets was superseded.\n- `RFQ_GENERATION_IN_FLIGHT` (retry `REFRESH`): The RFQ generation is changing; re-read the RFQ.\n- `STATE_CONFLICT` (retry `REFRESH`): The resource changed and no longer admits this request.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "IDEMPOTENCY_KEY_REUSED",
                                "RFQ_NOT_OPEN",
                                "RFQ_GENERATION_STALE",
                                "RFQ_GENERATION_IN_FLIGHT",
                                "STATE_CONFLICT"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER",
                                "REFRESH"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.\n- `QUOTE_EXPOSURE_LIMIT` (retry `BACKOFF`): The maker's open quote exposure is at its limit.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "RATE_LIMITED",
                                "QUOTE_EXPOSURE_LIMIT"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.\n- `QUOTE_EXPOSURE_STALE` (retry `BACKOFF`): The maker's exposure projection is stale.\n- `COMBO_AUTOMATIC_DISABLED` (retry `BACKOFF`): Automatic combo quoting is disabled.\n- `FINANCIAL_ACTIONS_DISABLED` (retry `BACKOFF`): Financial actions are disabled for this release.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "AUTHORIZATION_UNAVAILABLE",
                                "DEPENDENCY_STALE",
                                "QUOTE_EXPOSURE_STALE",
                                "COMBO_AUTOMATIC_DISABLED",
                                "FINANCIAL_ACTIONS_DISABLED"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmationBookQuoteCommand"
              },
              "example": {
                "quote_digest": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e",
                "quote": {
                  "maker_id": "7",
                  "legs": [
                    {
                      "outcome_id": 1209,
                      "side": 0
                    }
                  ],
                  "stake": "25000000",
                  "payout": "98500000",
                  "fee_bps": 100,
                  "taker_fee_bps": 20,
                  "taker": "0x1111111111111111111111111111111111111111",
                  "expiry": "1790452875",
                  "salt": "48151623429108"
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/rfqs-and-quotes/publish-quote",
          "content": "<Tip>\n**SDK:** `maker.quote(rfq, { payout })` publishes a quote on an entry RFQ, and `maker.bid(rfq, { price })` a bid on a cash-out RFQ. See [Market makers](/hyperliquid/market-makers).\n</Tip>\n"
        }
      }
    },
    "/v1/rfqs/{rfq_id}/book-quotes/{quote_digest}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        },
        {
          "name": "quote_digest",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Bytes32"
          },
          "description": "Digest of the book entry to withdraw: the quote_digest of an ENTRY quote or the bid_digest of a CASHOUT bid.",
          "example": "0x2b7c9d1e3f4a5b6c7d8e9f0a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6e7f8a9b0c"
        }
      ],
      "delete": {
        "operationId": "withdrawBookQuote",
        "summary": "Withdraw quote",
        "description": "Idempotently withdraw this exact unsigned ENTRY quote or CASHOUT bid from the shared book. COMMITTED returns 409 and cannot be cancelled through this endpoint.\n\nRequires a maker key with `quote:write`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationBookWithdrawal"
                },
                "example": {
                  "state": "WITHDRAWN"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_REQUEST"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "UNAUTHENTICATED"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "FORBIDDEN"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "NOT_FOUND"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `STATE_CONFLICT` (retry `REFRESH`): The resource changed and no longer admits this request.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ConfirmationBookWithdrawal"
                    },
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Error"
                        },
                        {
                          "properties": {
                            "error": {
                              "description": "The error this operation returns with this status.",
                              "properties": {
                                "code": {
                                  "description": "One of the registered codes listed in this response's description.",
                                  "enum": [
                                    "STATE_CONFLICT"
                                  ]
                                },
                                "retry": {
                                  "description": "The retry rule the registry fixes for the returned code.",
                                  "enum": [
                                    "REFRESH"
                                  ]
                                }
                              }
                            }
                          }
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "RATE_LIMITED"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "AUTHORIZATION_UNAVAILABLE",
                                "DEPENDENCY_STALE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/hyperliquid/api-reference/rfqs-and-quotes/withdraw-quote",
          "content": "<Tip>\n**SDK:** `maker.withdraw(rfqId, quoteDigest)`. See [Market makers](/hyperliquid/market-makers).\n</Tip>\n"
        }
      }
    },
    "/v1/rfqs/{rfq_id}/attempts/{attempt_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        },
        {
          "name": "attempt_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          },
          "description": "Client-chosen UUIDv7 naming this attempt; it is the idempotency key of both the begin and the maker's confirmation.",
          "example": "01994f3d-3c4d-7e5f-8a61-7b8c9d0e1f2a"
        }
      ],
      "get": {
        "operationId": "getConfirmation",
        "summary": "Get attempt",
        "description": "Recover an attempt of either kind after a lost begin response, without sending a financial command. 404 means the attempt was not admitted yet: POST cancel on the RFQ, which stops any delayed begin, then read again; a 404 after the cancel is final.\n\nRequires a personal key with `quote:read`.",
        "tags": [
          "Recovery"
        ],
        "security": [
          {
            "apiKey": [
              "quote:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationConfirmation"
                },
                "example": {
                  "attempt_id": "01a0df4e-6269-78d2-a4f6-a1b3c5d7e9f8",
                  "rfq_id": "01a0df4e-5e07-7a3c-8f21-d4e6b7a90c1a",
                  "quote_digest": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e",
                  "state": "COMMITTED",
                  "deadline": "2026-09-26T20:00:53.352Z",
                  "operation_id": "0x9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_REQUEST"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "UNAUTHENTICATED"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "FORBIDDEN"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "NOT_FOUND"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "RATE_LIMITED"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "AUTHORIZATION_UNAVAILABLE",
                                "DEPENDENCY_STALE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "x-mint": {
          "href": "/hyperliquid/api-reference/recovery/get-attempt",
          "content": "<Note>\nA recovery read. The SDK makes it for you after a reconnect, a truncated snapshot, or a lost response. The day-to-day flow never needs it.\n</Note>\n"
        }
      },
      "post": {
        "operationId": "beginConfirmation",
        "summary": "Accept quote",
        "description": "Accept one offer from the RFQ's book and wait for the maker. For an ENTRY RFQ, taker_signature is the TakerAccept signature over the quote; for a CASHOUT RFQ it is the owner's SellBack or CashoutTransfer signature over quote_digest, and funding is not allowed. The response is held until the maker answers or the fixed two-second deadline passes, bounded by that deadline plus one second, and is never AWAITING_MAKER: COMMITTED with operation_id, CONFIRMED while the HyperCore funding of an ENTRY is pending, or DECLINED, TIMED_OUT or WITHDRAWN. COMMITTED means the trade, sell-back or transfer is durably queued; follow EXECUTION_REPORT on the stream. attempt_id is the idempotency key; replay returns the same result and never restarts the deadline.\n\nRequires a personal key with `ticket:accept`.\n\nAlso requires `sponsorship:use` when Totalis pays the gas.\n\nAlso requires `funding:deposit` when the request includes a funding authorization.\n\nAlso requires `ticket:cashout` when the RFQ is a cash-out.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "ticket:accept"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Final attempt result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationConfirmationOutcome"
                },
                "example": {
                  "attempt_id": "01a0df4e-6269-78d2-a4f6-a1b3c5d7e9f8",
                  "rfq_id": "01a0df4e-5e07-7a3c-8f21-d4e6b7a90c1a",
                  "quote_digest": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e",
                  "state": "COMMITTED",
                  "deadline": "2026-09-26T20:00:53.352Z",
                  "operation_id": "0x9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a9a"
                }
              }
            }
          },
          "400": {
            "description": "- `INVALID_REQUEST` (retry `NEVER`): The body, a path parameter or a header is malformed or fails validation. `field_violations` names invalid body fields.\n- `INVALID_IDEMPOTENCY_KEY` (retry `NEVER`): The command needs exactly one lowercase UUIDv7 `Idempotency-Key` header.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_REQUEST",
                                "INVALID_IDEMPOTENCY_KEY"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "- `UNAUTHENTICATED` (retry `NEVER`): The credential is missing, invalid, expired or revoked.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "UNAUTHENTICATED"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "403": {
            "description": "- `FORBIDDEN` (retry `NEVER`): The credential is valid but lacks the scope, permission or role this operation needs.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "FORBIDDEN"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "- `QUOTE_NOT_FOUND` (retry `NEVER`): The quote does not exist for this RFQ.\n- `NOT_FOUND` (retry `NEVER`): The resource does not exist or is not visible to this credential.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "QUOTE_NOT_FOUND",
                                "NOT_FOUND"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "409": {
            "description": "- `IDEMPOTENCY_KEY_REUSED` (retry `NEVER`): The idempotency key was already used with different input.\n- `RFQ_NOT_OPEN` (retry `REFRESH`): The RFQ is no longer open.\n- `QUOTE_EXPIRED` (retry `REFRESH`): The quote expired.\n- `QUOTE_WITHDRAWN` (retry `REFRESH`): The maker withdrew the quote.\n- `QUOTE_SUPERSEDED` (retry `REFRESH`): A newer quote from the same maker replaced this one.\n- `QUOTE_SIGNER_CHANGED` (retry `REFRESH`): The maker's quote signer changed after the quote was signed.\n- `QUOTE_CAPACITY_EXCEEDED` (retry `REFRESH`): The maker's current capacity does not cover the quote.\n- `STATE_CONFLICT` (retry `REFRESH`): The resource changed and no longer admits this request.\n- `CORE_FUNDING_CONFLICT` (retry `REFRESH`): Another Core funding is active for this account.\n- `CORE_VAULT_RESERVATION` (retry `REFRESH`): The vault reservation for this Core funding changed.\n- `CORE_MOVE_IN_FLIGHT` (retry `REFRESH`): A HyperCore transfer for this account is still in flight.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "IDEMPOTENCY_KEY_REUSED",
                                "RFQ_NOT_OPEN",
                                "QUOTE_EXPIRED",
                                "QUOTE_WITHDRAWN",
                                "QUOTE_SUPERSEDED",
                                "QUOTE_SIGNER_CHANGED",
                                "QUOTE_CAPACITY_EXCEEDED",
                                "STATE_CONFLICT",
                                "CORE_FUNDING_CONFLICT",
                                "CORE_VAULT_RESERVATION",
                                "CORE_MOVE_IN_FLIGHT"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER",
                                "REFRESH"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "- `INVALID_SIGNATURE` (retry `NEVER`): The signature does not verify for the signed terms.\n- `WRONG_AUTHORITY` (retry `REFRESH`): The signature is not from the current authority: the taker wallet for an accept, or the maker's current quote signer for a confirmation.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "INVALID_SIGNATURE",
                                "WRONG_AUTHORITY"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "NEVER",
                                "REFRESH"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "429": {
            "description": "- `RATE_LIMITED` (retry `BACKOFF`): The request quota for this credential or route is exhausted.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "RATE_LIMITED"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "503": {
            "description": "- `AUTHORIZATION_UNAVAILABLE` (retry `BACKOFF`): Identity or credential authority storage is unavailable.\n- `DEPENDENCY_STALE` (retry `BACKOFF`): A projection or upstream the request depends on (chain projection, HyperCore state, database) is behind its freshness bound or unavailable.\n- `FINANCIAL_ACTIONS_DISABLED` (retry `BACKOFF`): Financial actions are disabled for this release.\n- `CONTRACT_SIGNATURE_OVERLOADED` (retry `BACKOFF`): Contract signature verification is at capacity.\n- `CORE_FUNDING_UNAVAILABLE` (retry `BACKOFF`): Core funding cannot be admitted now.",
            "headers": {
              "Retry-After": {
                "$ref": "#/components/headers/RetryAfter"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/Error"
                    },
                    {
                      "properties": {
                        "error": {
                          "description": "The error this operation returns with this status.",
                          "properties": {
                            "code": {
                              "description": "One of the registered codes listed in this response's description.",
                              "enum": [
                                "AUTHORIZATION_UNAVAILABLE",
                                "DEPENDENCY_STALE",
                                "FINANCIAL_ACTIONS_DISABLED",
                                "CONTRACT_SIGNATURE_OVERLOADED",
                                "CORE_FUNDING_UNAVAILABLE"
                              ]
                            },
                            "retry": {
                              "description": "The retry rule the registry fixes for the returned code.",
                              "enum": [
                                "BACKOFF"
                              ]
                            }
                          }
                        }
                      }
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmationConfirmationAcceptanceCommand"
              },
              "example": {
                "quote_digest": "0x5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e5e",
                "taker_signature": "0xabababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababababab1b"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/AttemptIdempotencyKey"
          }
        ],
        "x-mint": {
          "href": "/hyperliquid/api-reference/rfqs-and-quotes/accept-quote",
          "content": "<Tip>\n**SDK:** `totalis.placeBet` sends this with a quote and `totalis.cashOut` with a bid, and each returns its final result. See [Trading](/hyperliquid/trading).\n</Tip>\n"
        }
      }
    },
    "/v1/rfqs/{rfq_id}/attempts/{attempt_id}/confirmation": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        },
        {
          "name": "attempt_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          },
          "description": "Attempt ID from the maker's CONFIRMATION_REQUESTED request.",
          "example": "01994f3d-3c4d-7e5f-8a61-7b8c9d0e1f2a"
        }
      ],
      "post": {
        "operationId": "finishConfirmation",
        "summary": "Confirm attempt",
[...]
