{
  "openapi": "3.1.1",
  "info": {
    "title": "Totalis Hyperliquid API",
    "description": "REST API for Totalis singles and parlays on Hyperliquid HIP-4 outcome markets, for client integrations and external market makers.\n\nAuthenticate with a scoped API key created in the Totalis app, sent as `Authorization: Bearer <key>`. Public market reads need no key. Balance-affecting commands also carry the wallet or maker signature the HyperEVM contract verifies.\n\nAmounts are base-10 strings in native USDC atomic units, large identifiers are decimal strings, and every command `POST` requires an `Idempotency-Key` header.",
    "version": "92.0.0-acquisition-touches"
  },
  "servers": [
    {
      "url": "https://hip4-api.totalis.trade",
      "description": "Production public edge"
    },
    {
      "url": "https://hip4-api-staging.totalis.trade",
      "description": "Staging and chain-998 public edge"
    }
  ],
  "tags": [
    {
      "name": "Market data",
      "description": "Public advisory HIP-4 catalog, detail, and bounded history."
    },
    {
      "name": "RFQs and quotes",
      "description": "Public client RFQs and maker quote delivery."
    },
    {
      "name": "Account",
      "description": "Authenticated balances, tickets, and durable operations."
    },
    {
      "name": "Funds and tickets",
      "description": "Portable canonical HyperEVM financial actions."
    },
    {
      "name": "Vault",
      "description": "Public canonical ParlayVault reads."
    },
    {
      "name": "Identity",
      "description": "Public client authentication and wallet linking."
    },
    {
      "name": "Realtime",
      "description": "Authenticated replayable client and maker updates."
    },
    {
      "name": "HyperCore",
      "description": "Linked HyperCore account balances, history, and withdrawals."
    },
    {
      "name": "Maker reads",
      "description": "Maker positions, activity, performance, and telemetry."
    },
    {
      "name": "Maker access",
      "description": "External-maker onboarding and transport credentials; never financial authority."
    }
  ],
  "paths": {
    "/v1/search": {
      "get": {
        "operationId": "searchCatalog",
        "summary": "Search catalog",
        "description": "Generation-bound search of displayable HIP-4 questions and standalone markets. Exact title and title-prefix matches rank ahead of broader title and reviewed-taxonomy matches.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/SearchQuery"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/SearchLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "Unified market search results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiscoveryList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/markets": {
      "get": {
        "operationId": "listMarkets",
        "summary": "List markets",
        "description": "Cursor-paginated active named HIP-4 outcomes grouped by native question. Fallback and settled outcomes are excluded; advisory catalog presence is never financial authority.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Subcategory"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Market catalog",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/markets/{outcome_id}/metadata": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OutcomeId"
        }
      ],
      "get": {
        "operationId": "getMarketMetadata",
        "summary": "Get market metadata",
        "description": "Version 1 product metadata from one current catalog generation. Native rules and labels are display evidence, not settlement or admission authority. Missing native labels are null. An optional catalog_generation pins a consumer read; mismatch is 409. Old producers that did not preserve source fields return 503.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "responses": {
          "200": {
            "description": "Qualified source/product metadata",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductMetadata"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "catalog_generation",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/PositiveInt64"
            }
          }
        ],
        "security": [
          {}
        ]
      }
    },
    "/v1/markets/{outcome_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OutcomeId"
        }
      ],
      "get": {
        "operationId": "getMarket",
        "summary": "Get market",
        "description": "One normalized outcome and its canonical sides.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "responses": {
          "200": {
            "description": "Market detail",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/questions": {
      "get": {
        "operationId": "listQuestions",
        "summary": "List questions",
        "description": "Cursor-paginated native HIP-4 questions. Each item embeds its complete ordered named-outcome market set; pagination never splits a question.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Category"
          },
          {
            "$ref": "#/components/parameters/Subcategory"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Question catalog",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "required": [
                    "items",
                    "page"
                  ],
                  "properties": {
                    "items": {
                      "type": "array",
                      "maxItems": 100,
                      "items": {
                        "$ref": "#/components/schemas/Question"
                      }
                    },
                    "page": {
                      "$ref": "#/components/schemas/MarketPage"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/questions/{question_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/QuestionId"
        }
      ],
      "get": {
        "operationId": "getQuestion",
        "summary": "Get question",
        "description": "Verified relationship graph for one real native question.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "responses": {
          "200": {
            "description": "Question graph",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Question"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/markets/{outcome_id}/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OutcomeId"
        }
      ],
      "get": {
        "operationId": "getMarketHistory",
        "summary": "Get market history",
        "description": "At most 24 hours of cursor-bounded sparse one-minute Hyperliquid history, defaulting to the rolling 24 hours ending at server time. Only closed buckets before closed_before are returned; take the current minute from the live market stream. Select qualified book/reference OHLC for a line chart or executed-trade OHLCV for candles; AUTO preserves the trade-first behavior.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Side"
          },
          {
            "$ref": "#/components/parameters/HistorySeries"
          },
          {
            "$ref": "#/components/parameters/From"
          },
          {
            "$ref": "#/components/parameters/To"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/HistoryLimit"
          },
          {
            "$ref": "#/components/parameters/HistoryIncludeGaps"
          }
        ],
        "responses": {
          "200": {
            "description": "Exactly one explicitly labelled sparse reference-price or trade series",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketHistory"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/markets/{outcome_id}/recurring-round": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OutcomeId"
        }
      ],
      "get": {
        "operationId": "getMarketRecurringRound",
        "summary": "Get market recurring round",
        "description": "Durable recurring-round context for any recorded market of a recurring series, including a settled bucket child. Returns only rounds Totalis durably recorded, keeps every round Hyperliquid published while it was observed, and never invents an unobserved neighbour. Unlike the discovery routes it stays readable after a round leaves the current catalog.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "responses": {
          "200": {
            "description": "Recurring round with recorded neighbours",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringRoundContext"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/questions/{question_id}/recurring-round": {
      "parameters": [
        {
          "$ref": "#/components/parameters/QuestionId"
        }
      ],
      "get": {
        "operationId": "getQuestionRecurringRound",
        "summary": "Get question recurring round",
        "description": "Durable recurring-round context for a recorded bucket question, with the same recording and neighbour rules as the market route.\n\nNo API key required.",
        "tags": [
          "Market data"
        ],
        "responses": {
          "200": {
            "description": "Recurring round with recorded neighbours",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecurringRoundContext"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {}
        ]
      }
    },
    "/v1/rfqs/{rfq_id}/cashout-book": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        }
      ],
      "get": {
        "operationId": "listCashoutBook",
        "summary": "List cashout book",
        "description": "Current unsigned offers for the authenticated RFQ owner. Each requires live maker confirmation on acceptance.\n\nRequires a personal key with `quote:read`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationCashoutBookList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "publishCashoutBook",
        "summary": "Publish cashout book quote",
        "description": "Publish unsigned cash-out terms. Selection and maker confirmation precede signing.\n\nRequires a maker key with `quote:write`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashoutBookEnvelope"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/v1/rfqs/{rfq_id}/cashout-attempts/{attempt_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        },
        {
          "name": "attempt_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "get": {
        "operationId": "getCashoutConfirmation",
        "summary": "Get cashout attempt",
        "description": "Recover the existing attempt without sending or replaying a financial command. An absent attempt alone does not rule out a delayed original request.\n\nRequires a personal key with `quote:read`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationCashoutConfirmation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "beginCashoutConfirmation",
        "summary": "Begin cashout attempt",
        "description": "Select exact unsigned cash-out terms. Maker confirmation has a server-owned two-second deadline. CONFIRMED returns a signed offer for the owner to countersign; it does not mean execution.\n\nRequires a personal key with `ticket:cashout`.\n\nAlso requires `sponsorship:use` when Totalis pays the gas.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "ticket:cashout"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationCashoutConfirmation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CashoutAcceptanceEnvelope"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/v1/rfqs/{rfq_id}/book-quotes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        }
      ],
      "get": {
        "operationId": "listBookQuotes",
        "summary": "List book quotes",
        "description": "Current unsigned offers for the authenticated RFQ owner. Each requires live maker confirmation on acceptance.\n\nRequires a personal key with `quote:read`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationBookQuoteList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "publishBookQuote",
        "summary": "Publish book quote",
        "description": "Publish or replace an unsigned ENTRY quote. Maker RFQ credentials authenticate the offer; financial signatures are deferred to confirmation.\n\nRequires a maker key with `quote:write`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:write"
            ]
          }
        ],
        "responses": {
          "201": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmationBookQuoteEnvelope"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/v1/rfqs/{rfq_id}/book-quotes/{quote_digest}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        },
        {
          "name": "quote_digest",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Bytes32"
          }
        }
      ],
      "delete": {
        "operationId": "withdrawBookQuote",
        "summary": "Withdraw book quote",
        "description": "Idempotently withdraw this exact unsigned ENTRY quote or CASHOUT bid from the shared book. COMMITTED returns 409 and cannot be cancelled through this endpoint.\n\nRequires a maker key with `quote:write`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationBookWithdrawal"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationBookWithdrawal"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/rfqs/{rfq_id}/attempts/{attempt_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        },
        {
          "name": "attempt_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "get": {
        "operationId": "getConfirmation",
        "summary": "Get attempt",
        "description": "Recover the existing attempt without sending or replaying a financial command. An absent attempt alone does not rule out a delayed original request.\n\nRequires a personal key with `quote:read`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationConfirmation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      },
      "post": {
        "operationId": "beginConfirmation",
        "summary": "Begin attempt",
        "description": "Create one attempt for exact taker-authorized terms, with a fixed two-second maker deadline. attempt_id must equal Idempotency-Key; replay never restarts a deadline.\n\nRequires a personal key with `ticket:accept`.\n\nAlso requires `sponsorship:use` when Totalis pays the gas.\n\nAlso requires `funding:deposit` when the request includes a funding authorization.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "ticket:accept"
            ]
          }
        ],
        "responses": {
          "202": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationConfirmation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmationConfirmationAcceptanceEnvelope"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/v1/rfqs/{rfq_id}/attempts/{attempt_id}/abandon": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        },
        {
          "name": "attempt_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "post": {
        "operationId": "abandonConfirmation",
        "summary": "Abandon attempt",
        "description": "Atomically tombstone an unreceived attempt ID or return the original admitted attempt. Does not revoke an issued signature or cancel execution.\n\nRequires a personal key with `rfq:write`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "rfq:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationConfirmation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/v1/rfqs/{rfq_id}/attempts/{attempt_id}/confirmation": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        },
        {
          "name": "attempt_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "post": {
        "operationId": "finishConfirmation",
        "summary": "Confirm attempt",
        "description": "Selected maker confirms with the exact selected ENTRY Quote or CASHOUT SellBack/Transfer signature, or declines. Returns the plain Confirmation state; only the owner cash-out attempt endpoint includes the confirmed bid and maker signature. Late responses cannot reopen a closed attempt. Core-funded ENTRY promotion returns CONFIRMED while payment is pending, then COMMITTED after execution admission or WITHDRAWN when the attempt ends. Maker backing remains reserved while its signature can execute. Other ENTRY promotion and execution admission are atomic.\n\nRequires a maker key with `quote:write`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:write"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationConfirmation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmationMakerConfirmationEnvelope"
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ]
      }
    },
    "/v1/maker/confirmations": {
      "get": {
        "operationId": "listMakerConfirmations",
        "summary": "List maker confirmation requests",
        "description": "At most 100 pending confirmation requests for this authenticated maker, ordered by fixed deadline. No taker signatures are disclosed.\n\nRequires a maker key with `quote:read`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "quote:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current authoritative venue result; not chain confirmation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmationMakerConfirmationList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/rfqs": {
      "get": {
        "operationId": "listRfqs",
        "summary": "List open RFQs",
        "description": "Cursor-bounded discovery of currently open RFQs for market makers.\n\nNo API key required; callers without one receive the public projection. A key, when sent, must be one of:\n\n- a personal key with `rfq:read`\n- a maker key with `rfq:read`",
        "tags": [
          "RFQs and quotes"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AfterListCursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Open RFQs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RfqList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {},
          {
            "apiKey": [
              "rfq:read"
            ]
          }
        ]
      },
      "post": {
        "operationId": "createRfq",
        "summary": "Create RFQ",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "rfq:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/CreateRfqCommand"
        },
        "responses": {
          "201": {
            "description": "Created or replayed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RfqCreated"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Requires a personal key with `rfq:write`."
      }
    },
    "/v1/rfqs/{rfq_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        }
      ],
      "get": {
        "operationId": "getRfq",
        "summary": "Get RFQ",
        "description": "Canonical state for an open RFQ; authenticated owners can also recover its terminal off-chain state.\n\nNo API key required; callers without one receive the public projection. A key, when sent, must be one of:\n\n- a personal key with `rfq:read`\n- a maker key with `rfq:read`",
        "tags": [
          "RFQs and quotes"
        ],
        "responses": {
          "200": {
            "description": "RFQ state",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Rfq"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "security": [
          {},
          {
            "apiKey": [
              "rfq:read"
            ]
          }
        ]
      }
    },
    "/v1/rfqs/{rfq_id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RfqId"
        }
      ],
      "post": {
        "operationId": "cancelRfq",
        "summary": "Cancel RFQ",
        "description": "Stops venue delivery of an unselected RFQ; it does not invalidate a canonical maker signature.\n\nRequires a personal key with `rfq:write`.",
        "tags": [
          "RFQs and quotes"
        ],
        "security": [
          {
            "apiKey": [
              "rfq:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "204": {
            "description": "RFQ delivery stopped or exact command replayed"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/me/activity": {
      "get": {
        "operationId": "listAccountActivity",
        "summary": "List account activity",
        "tags": [
          "Account"
        ],
        "description": "Durable scoped activity from qualified chain evidence and operations. Requires account contract 1, exact deployment scope and current authorization. Returns 503 while the activity producer is disabled or source coverage is unavailable.\n\nRequires a personal key with `account:read`.",
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountContractHeaderRequired"
          },
          {
            "$ref": "#/components/parameters/ChainIdQueryRequired"
          },
          {
            "$ref": "#/components/parameters/VaultQueryRequired"
          },
          {
            "$ref": "#/components/parameters/LimitQueryOptional"
          },
          {
            "$ref": "#/components/parameters/CursorQueryOptional"
          },
          {
            "$ref": "#/components/parameters/ActivityKindQueryOptional"
          },
          {
            "$ref": "#/components/parameters/ActivityStateQueryOptional"
          },
          {
            "$ref": "#/components/parameters/FromQueryOptional"
          },
          {
            "$ref": "#/components/parameters/ThroughQueryOptional"
          },
          {
            "$ref": "#/components/parameters/TicketIdQueryOptional"
          },
          {
            "$ref": "#/components/parameters/ActivityAssetQueryOptional"
          },
          {
            "$ref": "#/components/parameters/ActivityVenueQueryOptional"
          },
          {
            "name": "Origin",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required for browser sessions; scoped API keys and legacy maker credentials do not require an Origin."
          }
        ],
        "responses": {
          "200": {
            "description": "Scoped read; freshness and coverage are explicit. No shared caching.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Vary": {
                "$ref": "#/components/headers/Vary"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountActivityList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        }
      }
    },
    "/v1/me/activity/{activity_id}": {
      "get": {
        "operationId": "getAccountActivity",
        "summary": "Get account activity item",
        "tags": [
          "Account"
        ],
        "description": "Durable scoped activity from qualified chain evidence and operations. Requires account contract 1, exact deployment scope and current authorization. Returns 503 while the activity producer is disabled or source coverage is unavailable.\n\nRequires a personal key with `account:read`.",
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AccountContractHeaderRequired"
          },
          {
            "$ref": "#/components/parameters/ChainIdQueryRequired"
          },
          {
            "$ref": "#/components/parameters/VaultQueryRequired"
          },
          {
            "$ref": "#/components/parameters/ActivityIdPathRequired"
          },
          {
            "name": "Origin",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Required for browser sessions; scoped API keys and legacy maker credentials do not require an Origin."
          }
        ],
        "responses": {
          "200": {
            "description": "Scoped read; freshness and coverage are explicit. No shared caching.",
            "headers": {
              "Cache-Control": {
                "$ref": "#/components/headers/CacheControl"
              },
              "Vary": {
                "$ref": "#/components/headers/Vary"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountActivityDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error400"
          },
          "401": {
            "$ref": "#/components/responses/Error401"
          },
          "403": {
            "$ref": "#/components/responses/Error403"
          },
          "404": {
            "$ref": "#/components/responses/Error404"
          },
          "409": {
            "$ref": "#/components/responses/Error409"
          },
          "429": {
            "$ref": "#/components/responses/Error429"
          },
          "503": {
            "$ref": "#/components/responses/Error503"
          }
        }
      }
    },
    "/v1/me/balances": {
      "get": {
        "operationId": "listBalances",
        "summary": "List balances",
        "description": "Canonical user or maker balance projections for the authenticated principal with a chain checkpoint.\n\nRequires one of:\n\n- a personal key with `account:read`\n- a maker key with `vault:read` and the maker permissions `READ_ACTIVITY`, `READ_CAPITAL`, `READ_PERFORMANCE`, `READ_POSITIONS`",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          },
          {
            "apiKey": [
              "vault:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BalanceList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/me/tickets": {
      "get": {
        "operationId": "listTickets",
        "summary": "List tickets",
        "description": "Cursor-paginated tickets for the authenticated participant or maker.\n\nRequires one of:\n\n- a personal key with `account:read`\n- a maker key with `vault:read` and the maker permissions `READ_ACTIVITY`, `READ_CAPITAL`, `READ_PERFORMANCE`, `READ_POSITIONS`",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          },
          {
            "apiKey": [
              "vault:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Tickets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/me/operations": {
      "get": {
        "operationId": "listOperations",
        "summary": "List operations",
        "description": "Cursor-paginated durable and chain-first operations for the authenticated principal.\n\nRequires one of:\n\n- a personal key with `account:read`\n- a maker key with `vault:read` and the maker permissions `READ_ACTIVITY`, `READ_CAPITAL`, `READ_PERFORMANCE`, `READ_POSITIONS`",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          },
          {
            "apiKey": [
              "vault:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Operations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/operations/{operation_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/OperationId"
        }
      ],
      "get": {
        "operationId": "getOperation",
        "summary": "Get operation",
        "description": "One authorized durable operation and its latest canonical chain evidence.\n\nRequires one of:\n\n- a personal key with `account:read`\n- a maker key with `vault:read` and the maker permissions `READ_ACTIVITY`, `READ_CAPITAL`, `READ_PERFORMANCE`, `READ_POSITIONS`",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          },
          {
            "apiKey": [
              "vault:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/tickets/{ticket_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TicketId"
        }
      ],
      "get": {
        "operationId": "getTicket",
        "summary": "Get ticket",
        "description": "Authorized immutable quote economics plus current canonical ticket lifecycle.\n\nRequires one of:\n\n- a personal key with `account:read`\n- a maker key with `vault:read` and the maker permission `READ_POSITIONS`",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          },
          {
            "apiKey": [
              "vault:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Ticket",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TicketResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/maker-vaults/{maker_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/MakerId"
        }
      ],
      "get": {
        "operationId": "getMakerVault",
        "summary": "Get maker vault",
        "description": "Canonical maker vault state and chain checkpoint for the authenticated maker credential or linked dashboard identity.\n\nRequires a maker key with `vault:read` and the maker permission `READ_CAPITAL`.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": [
              "vault:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Maker vault",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakerVaultResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/maker-vaults/{maker_id}/funding-transaction": {
      "parameters": [
        {
          "$ref": "#/components/parameters/MakerId"
        },
        {
          "name": "amount",
          "in": "query",
          "required": true,
          "schema": {
            "allOf": [
              {
                "$ref": "#/components/schemas/CommonAmount"
              },
              {
                "not": {
                  "const": "0"
                }
              }
            ]
          }
        }
      ],
      "get": {
        "operationId": "getMakerVaultFundingTransaction",
        "summary": "Get maker vault funding transaction",
        "description": "Returns the exact zero-value depositMaker call for the matching maker dashboard or credential when the pinned release is enabled. The MM wallet must approve USDC, sign and submit the call, and pay HyperEVM gas in HYPE; this read does not claim durable admission or chain success.\n\nRequires a maker key with `vault:read` and the maker permission `READ_CAPITAL`.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": [
              "vault:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical maker funding transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakerFundingTransactionCall"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collateral-reductions/{job_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollateralReductionJobId"
        }
      ],
      "get": {
        "operationId": "getCollateralReduction",
        "summary": "Get collateral reduction",
        "description": "Returns solver status separately from the durable chain operation and committed evidence.\n\nRequires a maker key with `vault:read` and the maker permission `READ_CAPITAL`.",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": [
              "vault:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Collateral-reduction job",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollateralReduction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/maker-vaults/{maker_id}/collateral-reductions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/MakerId"
        }
      ],
      "post": {
        "operationId": "createCollateralReduction",
        "summary": "Create collateral reduction",
        "description": "Durably triggers a server-derived HyperEVM attestation job for this maker. The request has no body and accepts no caller-authored risk input.\n\nRequires a maker key with `vault:write`.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "vault:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Collateral-reduction job durably queued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollateralReductionAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/deposits": {
      "post": {
        "operationId": "deposit",
        "summary": "Deposit",
        "description": "For the bound Privy embedded wallet only, validates and durably sponsors exact ParlayVault.depositUserWithAuthorization calldata; 202 is not chain success.\n\nRequires a personal key with `funding:deposit`, `sponsorship:use`.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "funding:deposit",
              "sponsorship:use"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DepositEnvelope"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Deposit operation durably accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DepositAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/withdrawals": {
      "post": {
        "operationId": "withdraw",
        "summary": "Withdraw",
        "description": "Validates an exact owner-signed HyperEVM Exit and durably queues withdrawWithSig; 202 is not chain success.\n\nRequires a personal key with `funding:withdraw`, `sponsorship:use`.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "funding:withdraw",
              "sponsorship:use"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawalEnvelope"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Withdrawal operation durably accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/totalis-withdrawals": {
      "post": {
        "operationId": "createTotalisWithdrawal",
        "summary": "Create Totalis withdrawal",
        "description": "Wallet-first Totalis withdrawal for the bound Privy embedded wallet. When wallet USDC is insufficient, the nested owner-signed vault withdrawal must equal the exact shortfall. Poll until READY_FOR_PAYOUT_CLAIM, then claim the exact transfer once.\n\nRequires a personal key with `funding:withdraw`.\n\nAlso requires `sponsorship:use` when Totalis pays the gas.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "funding:withdraw"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotalisWithdrawalEnvelope"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Durable Totalis withdrawal continuation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotalisWithdrawalContinuation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/totalis-withdrawals/{continuation_id}": {
      "parameters": [
        {
          "name": "continuation_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "get": {
        "operationId": "getTotalisWithdrawal",
        "summary": "Get Totalis withdrawal",
        "description": "Resumes and returns the authenticated participant's wallet-first Totalis withdrawal continuation.\n\nRequires a personal key with `account:read`.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current Totalis withdrawal continuation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotalisWithdrawalContinuation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/totalis-withdrawals/{continuation_id}/payout-claim": {
      "parameters": [
        {
          "name": "continuation_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "post": {
        "operationId": "claimTotalisPayout",
        "summary": "Claim Totalis withdrawal payout",
        "description": "Atomically claims the one outward wallet payout and durably reserves its EVM nonce before returning exact ERC-20 transfer fields. Exact replays reuse that nonce, so only one transaction can commit.\n\nRequires a personal key with `funding:withdraw`.\n\nAlso requires `sponsorship:use` when Totalis pays the gas.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "funding:withdraw"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "202": {
            "description": "Payout claimed for client submission",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotalisWithdrawalContinuation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/totalis-withdrawals/{continuation_id}/payout-submission": {
      "parameters": [
        {
          "name": "continuation_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Uuid"
          }
        }
      ],
      "post": {
        "operationId": "submitTotalisPayout",
        "summary": "Record Totalis payout submission",
        "description": "Verifies the participant's exact USDC TransferWithAuthorization signature, durably enqueues the sponsor-paid transaction, and reconciles the exact finalized receipt before terminal success.\n\nRequires a personal key with `funding:withdraw`, `sponsorship:use`.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "funding:withdraw",
              "sponsorship:use"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TotalisPayoutSubmissionEnvelope"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Sponsored payout durably enqueued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TotalisWithdrawalContinuation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/tickets/{ticket_id}/claims": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TicketId"
        }
      ],
      "post": {
        "operationId": "claimTicket",
        "summary": "Claim ticket",
        "description": "Queues the permissionless HyperEVM claim for an authenticated owner's settled ticket.\n\nRequires a personal key with `sponsorship:use`, `ticket:settle`.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "sponsorship:use",
              "ticket:settle"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClaimEnvelope"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Claim operation durably accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/tickets/{ticket_id}/sell-back": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TicketId"
        }
      ],
      "post": {
        "operationId": "sellBackTicket",
        "summary": "Sell back ticket",
        "description": "Validates the current maker and owner signatures over one canonical HyperEVM SellBack and queues it durably.\n\nRequires a personal key with `sponsorship:use`, `ticket:cashout`.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "sponsorship:use",
              "ticket:cashout"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SellBackEnvelope"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Sell-back operation durably accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/tickets/{ticket_id}/transfers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TicketId"
        }
      ],
      "post": {
        "operationId": "transferTicket",
        "summary": "Transfer ticket",
        "description": "Validates seller and buyer signatures over one canonical HyperEVM Transfer and queues it durably.\n\nRequires a personal key with `sponsorship:use`, `ticket:transfer`.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "sponsorship:use",
              "ticket:transfer"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferEnvelope"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Transfer operation durably accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/tickets/{ticket_id}/settlements": {
      "parameters": [
        {
          "$ref": "#/components/parameters/TicketId"
        }
      ],
      "post": {
        "operationId": "settleTicket",
        "summary": "Settle ticket",
        "description": "Queues the permissionless HyperEVM settle call for an authenticated owner's open ticket using its immutable projected legs and operator-owned native-read gas policy; no result is invented.\n\nRequires a personal key with `sponsorship:use`, `ticket:settle`.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "sponsorship:use",
              "ticket:settle"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SettleEnvelope"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Settlement operation durably accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OperationAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/maker-vault-actions": {
      "post": {
        "operationId": "submitMakerVaultAction",
        "summary": "Submit maker vault action",
        "description": "Validates one complete portable controller-signed MakerAction or funder-signed EIP-3009 maker deposit, durably records its canonical calldata, and returns the exact zero-value transaction call for the MM to sign and fund. HTTP 202 is not chain success.\n\nRequires a maker key with `vault:write`, for the actions `SET_QUOTE_SIGNER`, `REQUEST_MAKER_WITHDRAW`, `CANCEL_MAKER_WITHDRAW`, `DEPOSIT_MAKER_AUTHORIZED`.",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "vault:write"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Envelope"
              },
              "examples": {
                "open": {
                  "value": {
                    "schema_version": 1,
                    "request_id": "00000000-0000-7000-8000-000000000001",
                    "sent_at": "2026-08-23T12:00:00Z",
                    "command": {
                      "kind": "OPEN_MAKER_VAULT",
                      "chain_id": "998",
                      "suite_address": "0x1111111111111111111111111111111111111111",
                      "release": "c17eebba029d8ffb0435f41e682e9ed57e2d2f3d",
                      "action": {
                        "action": 0,
                        "controller": "0x2222222222222222222222222222222222222222",
                        "maker_id": "0",
                        "expected_quote_signer": "0x0000000000000000000000000000000000000000",
                        "target": "0x3333333333333333333333333333333333333333",
                        "amount": "0",
                        "ready_at": "0",
                        "issued_at": "1787486400",
                        "expiry": "1787486700",
                        "nonce": "0x0101010101010101010101010101010101010101010101010101010101010101"
                      },
                      "controller_signature": "0x111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111b"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Exact signed bundle and transaction call durably committed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Accepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/operations/{operation_id}/self-funded-transaction": {
      "parameters": [
        {
          "name": "operation_id",
          "in": "path",
          "required": true,
          "schema": {
            "$ref": "#/components/schemas/Bytes32"
          }
        }
      ],
      "post": {
        "operationId": "submitSelfFundedTransaction",
        "summary": "Submit self-funded transaction",
        "description": "Validates and relays an MM-funded EIP-1559 transaction for the exact previously admitted maker operation. The portable contract calls are permissionless; their embedded controller or funder signature remains financial authority. Totalis never receives the gas payer's private key or allocates its nonce.\n\nRequires one of:\n\n- a personal key with `operations:submit`\n- a maker key with `operations:submit`",
        "tags": [
          "Funds and tickets"
        ],
        "security": [
          {
            "apiKey": [
              "operations:submit"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SelfFundedTransaction"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "MM-funded transaction accepted for broadcast",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SelfFundedAccepted"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/vault": {
      "get": {
        "operationId": "getVaultRelease",
        "summary": "Get vault release",
        "tags": [
          "Vault"
        ],
        "responses": {
          "200": {
            "description": "Exact canonical vault release",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Release"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "security": [
          {},
          {
            "apiKey": []
          }
        ],
        "description": "No API key required; callers without one receive the public projection. A key, when sent, must be one of:\n\n- a personal key\n- a maker key"
      }
    },
    "/v1/me/vault": {
      "get": {
        "operationId": "getAccountVault",
        "summary": "Get account vault",
        "tags": [
          "Vault"
        ],
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Canonical balances for the bound embedded wallet",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountVault"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        },
        "description": "Requires a personal key with `account:read`."
      }
    },
    "/v1/me": {
      "get": {
        "operationId": "getIdentity",
        "summary": "Get identity",
        "tags": [
          "Identity"
        ],
        "security": [
          {
            "apiKey": [
              "identity:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current identity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VenueIdentity"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "description": "Requires a personal key with `identity:read`."
      }
    },
    "/v1/maker/snapshot": {
      "get": {
        "operationId": "getMakerSnapshot",
        "summary": "Get maker snapshot",
        "description": "Returns the authenticated maker recovery snapshot and its exact committed-event watermark.\n\nRequires a maker key with `quote:read`, `rfq:read`, `vault:read` and the maker permissions `READ_ACTIVITY`, `READ_CAPITAL`, `READ_PERFORMANCE`, `READ_POSITIONS`.",
        "tags": [
          "Realtime"
        ],
        "security": [
          {
            "apiKey": [
              "quote:read",
              "rfq:read",
              "vault:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Maker snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Snapshot"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/maker/quotes": {
      "get": {
        "operationId": "listMakerQuotes",
        "summary": "List maker quotes",
        "description": "Cursor-paginated current executable quotes for the authenticated maker credential or linked dashboard identity.\n\nRequires a maker key with `quote:read`.",
        "tags": [
          "Realtime"
        ],
        "security": [
          {
            "apiKey": [
              "quote:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/AfterListCursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Current maker quotes",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MakerQuoteList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/maker/events": {
      "get": {
        "operationId": "listMakerEvents",
        "summary": "List maker events",
        "description": "Replays at most 100 authenticated maker events retained for 24 hours after a complete cursor.\n\nRequires one of:\n\n- a maker key with `replay:read`, `rfq:read`\n- a maker key with `replay:read`, `vault:read` and the maker permissions `READ_ACTIVITY`, `READ_CAPITAL`, `READ_PERFORMANCE`, `READ_POSITIONS`\n- a maker key with `quote:read`, `replay:read`\n\nEach key receives only the frames its scopes allow, and other frame classes are denied:\n\n| Frames | Key | Needs |\n| --- | --- | --- |\n| RFQ | maker key | `rfq:read` |\n| Quote | maker key | `quote:read` |\n| Account | maker key | `vault:read` and the maker permissions `READ_CAPITAL`, `READ_POSITIONS`, `READ_ACTIVITY`, `READ_PERFORMANCE` |",
        "tags": [
          "Realtime"
        ],
        "security": [
          {
            "apiKey": [
              "replay:read",
              "rfq:read"
            ]
          },
          {
            "apiKey": [
              "replay:read",
              "vault:read"
            ]
          },
          {
            "apiKey": [
              "quote:read",
              "replay:read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/RealtimeStreamId"
          },
          {
            "$ref": "#/components/parameters/RealtimeGenerationId"
          },
          {
            "$ref": "#/components/parameters/RealtimeAfter"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Ordered maker events",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "409": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        }
      }
    },
    "/v1/stream": {
      "get": {
        "operationId": "stream",
        "summary": "Open realtime stream",
        "description": "WebSocket upgrade for authenticated, principal-scoped committed updates. Browser clients request totalis.realtime.v1 plus auth.<base64url-access-token>; non-browser clients may use the bearer header. See protocol/asyncapi/realtime.json; HTTP resource reads and maker snapshot/replay are recovery paths. Dashboard members select maker_id with account_contract=1, chain_id and vault; all four financial read permissions are required. Membership revision or controller epoch changes close the connection. RFQ detail subscriptions remain transport-credential only.\n\nRequires one of:\n\n- a personal key with `account:stream`\n- a maker key with `rfq:read`\n- a maker key with `vault:read` and the maker permissions `READ_ACTIVITY`, `READ_CAPITAL`, `READ_PERFORMANCE`, `READ_POSITIONS`\n- a maker key with `quote:read`\n- a personal key with `rfq:read`\n\nAlso requires `replay:read` to resume from a cursor or replay retained events.\n\nEach key receives only the frames its scopes allow, and other frame classes are denied:\n\n| Frames | Key | Needs |\n| --- | --- | --- |\n| Open RFQ discovery | personal key | `rfq:read` |\n| Account | personal key | `account:stream` |\n| RFQ | maker key | `rfq:read` |\n| Quote | maker key | `quote:read` |\n| Account | maker key | `vault:read` and the maker permissions `READ_CAPITAL`, `READ_POSITIONS`, `READ_ACTIVITY`, `READ_PERFORMANCE` |",
        "tags": [
          "Realtime"
        ],
        "security": [
          {
            "apiKey": [
              "account:stream"
            ]
          },
          {
            "apiKey": [
              "rfq:read"
            ]
          },
          {
            "apiKey": [
              "vault:read"
            ]
          },
          {
            "apiKey": [
              "quote:read"
            ]
          }
        ],
        "responses": {
          "101": {
            "description": "Switching protocols"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "403": {
            "$ref": "#/components/responses/Error"
          },
          "404": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          }
        },
        "parameters": [
          {
            "name": "maker_id",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NonZeroUInt64String"
            }
          },
          {
            "name": "account_contract",
            "in": "query",
            "required": false,
            "schema": {
              "const": "1"
            }
          },
          {
            "name": "chain_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^(0|[1-9][0-9]{0,77})$"
            }
          },
          {
            "name": "vault",
            "in": "query",
            "required": false,
            "schema": {
              "$ref": "#/components/schemas/NonZeroAddress"
            }
          }
        ]
      }
    },
    "/v1/hypercore/portfolio": {
      "get": {
        "operationId": "getHypercorePortfolio",
        "summary": "Get HyperCore portfolio",
        "description": "Returns the selected linked main account's read-only authoritative HyperCore USDC balances, HIP-4 balances, open orders, recent ordinary fills, and at most 200 durably retained USDC settlement credits. Each read qualifies at most 16 distinct unseen outcomes newest settlement first; a block of at least 16 recent unsupported outcomes can still delay older supported outcomes pending TT-1476. Outcomes quoted in another currency are omitted only after identity and settlement fraction agree, while malformed or contradictory authority fails closed. Settlement discovery uses one provider-capped userFillsByTime response covering at most the last 30 days, without pagination, so it is not complete account history. Mainnet only.\n\nRequires a personal key with `account:read`.",
        "tags": [
          "HyperCore"
        ],
        "security": [
          {
            "apiKey": [
              "account:read"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Current direct HyperCore portfolio and balances",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HypercorePortfolio"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Error"
          },
          "401": {
            "$ref": "#/components/responses/Error"
          },
          "503": {
            "$ref": "#/components/responses/Error"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/hypercore/history": {
      "get": {
        "operationId": "getHypercoreAccountHistory",
        "summary": "Get HyperCore history",
[...]
